.topmenu > li.active {
  border-top: 4px solid #19aa8d;
    border-left: none;
}


.maincontent {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-left: 10px;
    padding-right: 10px;
}
.surveycontent {
    align-content: center;
    width:500px;
}
.examplesidebar {
    float:left;
    left:0;
    background-color: #2f4050;
    width:220px;
}
.examplecontent {
    margin-left: 220px;
}
.exampleoptions {
    margin-top: 30px;
}
span.navy {
  color: #1ab394;
}
a.navy-link {
  color: #1ab394;
  text-decoration: none;
}
.navy-line {
  width: 60px;
  height: 1px;
  margin: 60px auto 0;
  border-bottom: 2px solid #1ab394;
}

/*overrides*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus{
    color: #1ab394;
    background-color: #f4f4f4;
    border-left: none;
}
.nav > li.active {
    border-left: none;
}
.nav.navbar-right > li > a {
    color: #676A6C;;
}
.navbar {
    margin-bottom: 0;
}
/*EO overrides*/

.survey-gray {
    background-color: #f4f4f4;
}
.main-btn {
    width: 165px;
    height: 50px;
    margin-left: -15px;
    border-radius: 0;
    background-image: url("/images/main_btn.png");
}
@media (max-width: 767px) {
    .main-btn {
        margin-left: 0;
    }
}
.version-link {
    margin-left: 15px;
    color: #1ab394;
    font-size: 15px;
}
.version-link:hover {
    text-decoration: underline;
    color: #1ab394;
}
@media (max-width: 780px) {
    .version-link {
        font-size: 10px;
    }
}