.sv_window {
  position: fixed;
  bottom: 3px;
  right: 10px;
  background-color: cadetblue;
  padding: 1px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  line-break: auto; }

.sv_window_title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0; }

.sv_window_content {
  padding: 8px;
  margin: 0; }

.sv_window_title a, a:link, a:visited {
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  color: black; }

.sv_main {
  width: 100%; }

.sv_page_empty {
  height: 100px;
  width: 100%;
  display: table; }

.sv_page_empty_content {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.sv_q {
  width: 100%;
  padding: 10px 3px;
  margin: 0;
  clear: none;
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.sv_q_title {
  width: 100%; }

.sv_q_erbox {
  border: solid;
  border-width: 1px;
  border-color: red; }

.sv_q_matrix {
  width: 100%;
  max-width: 100%; }
  .sv_q_matrix th, .sv_q_matrix td {
    text-align: center;
    vertical-align: central; }
  .sv_q_matrix td:first-child {
    text-align: left; }

.sv_qcbc {
  display: inline-block;
  vertical-align: top; }

.sv_q_checkbox {
  padding: 10px; }

.sv_q_radiogroup {
  padding: 10px; }

.sv_q_rating {
  width: 100%;
  max-width: 100%; }
  .sv_q_rating th, .sv_q_rating td {
    text-align: center;
    vertical-align: central; }
  .sv_q_rating td:first-child {
    text-align: right; }
  .sv_q_rating td:last-child {
    text-align: left; }
