$header-background-color: #e7e7e7;
$body-container-background-color: #f4f4f4;

$main-color: #1ab394;
$main-hover-color: #9f9f9f;
$body-background-color: white;
$inputs-background-color: $body-background-color;
$text-color: #404040;
$header-color: $text-color;
$border-color: $text-color;
$error-color: #d52901;
$error-background-color: rgba($error-color, 0.2);
$answer-background-color: rgba($main-color, 0.2);
$header-height: 74%;
$font-size: 14px;
$add-button-color: #1948b3;
$remove-button-color: #ff1800;
$base-line-height: 2em;
