<div data-bind="css: model.cssClasses.root">
  <!-- ko if: $data.model.needFilter -->
  <div data-bind="css: model.cssClasses.filter">
    <div data-bind="css: model.cssClasses.filterIcon">
      <sv-svg-icon params="iconName: 'icon-search', size: 24"></sv-svg-icon>
    </div>
    <input type="text" 
      data-bind="css: model.cssClasses.filterInput, textInput: model.filteredText, attr: { placeholder: model.filteredTextPlaceholder, 'aria-label': model.filteredTextPlaceholder }, event: { keyup: function (model, event) { $data.model.goToItems(event); } }"></input>
  </div>
  <!-- /ko -->
  <!-- ko if: $data.model.isEmpty -->
  <div data-bind="css: model.cssClasses.emptyContainer">
    <div data-bind="css: model.cssClasses.emptyText, text: model.emptyMessage, attr: { 'aria-label': model.emptyMessage }"></div>
  </div>
  <!-- /ko -->
  <ul role="listbox"
    data-bind="css: model.cssClasses.itemsContainer, event: { mousedown: function (data, e) { e.preventDefault(); }, keydown: function(data, e) { $data.model.onKeyDown(event); return true; } }">
    <!--ko foreach: model.renderedActions -->
    <!-- ko component: { name: 'sv-list-item', params: { item: $data, model: $parent.model } } -->
    <!-- /ko -->
    <!-- /ko -->
  </ul>
</div>