<div class="propertyitem">
    <p>
        <b>Rows: </b> (default is 3)
        <select style="width:100%" onChange="survey.getQuestionByName('suggestions').rows = parseInt(this.value); survey.render();">
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3' selected="true">3</option>
            <option value='4'>4</option>
            <option value='5'>5</option>
            <option value='6'>6</option>
            <option value='7'>7</option>
            <option value='8'>8</option>
            <option value='9'>9</option>
            <option value='10'>10</option>
        </select>
        <pre><code class="language-javascript">var q=survey.getQuestionByName('suggestions');
q.rows = yourvalue;
survey.render();"</code></pre>
    </p>
</div>