<p>
Page Prev Text: <input type="text" value="Previous" onChange="survey.pagePrevText = this.value; survey.render();"/> default is "Previous".
<pre class="brush:js">survey.pagePrevText = yourValue; survey.render();</pre>
</p>
<p>
Page Next Text: <input type="text" value="Next" onChange="survey.pageNextText = this.value; survey.render();"/> default is "Next".
<pre class="brush:js">survey.pageNextText = yourValue; survey.render();</pre>
</p>
<p>
Complete Text: <input type="text" value="Complete" onChange="survey.completeText = this.value; survey.render();"/> default is "Complete".
<pre class="brush:js">survey.completeText = yourValue; survey.render();</pre>
</p>
<p>
Show Navigation Buttons: <input type="checkbox" checked="true" onChange="survey.showNavigationButtons = this.checked; survey.render();"/> default is true.
<pre class="brush:js">survey.showNavigationButtons = yourValue; survey.render();</pre>
</p>
<p>