<div class="propertyitem">
    <p>
        <b>Date format: </b> (default is 'mm/dd/yy')
        <div class="custom-select">
            <select id="dateFormat" class="form-control" style="width:100%" onChange="survey.getQuestionByName('date').dateFormat = this.value; surveyForceUpdate();">
                <option value="mm/dd/yy" selected="true">Default - mm/dd/yy</option>
                <option value="yy-mm-dd">ISO 8601 - yy-mm-dd</option>
                <option value="d M, y">Short - d M, y</option>
                <option value="d MM, y">Medium - d MM, y</option>
                <option value="DD, d MM, yy">Full - DD, d MM, yy</option>
                <option value="'day' d 'of' MM 'in the year' yy">With text - 'day' d 'of' MM 'in the year' yy</option>
            </select>
        </div>
        <pre><code class="language-javascript">var q = survey.getQuestionByName('date');
q.dateFormat = yourvalue; 
survey.render();</code></pre>
    </p>
</div>
