<div class="propertyitem">
    <p>
        <b>Locale: </b> (default is <empty>)
        <select style="width:100%" onChange="survey.locale = this.value; survey.render();">
            <option value=""></option>
            <option value="en">en</option>
            <option value="de" selected="true">de</option>
            <option value="fi">fi</option>
            <option value="my">my</option>
        </select>
        <pre><code class="language-javascript">survey.locale = yourvalue;
survey.render();</code></pre>
    </p>
</div>
