<div class="propertyitem">
    <p>
        <b>Locale: </b> (default is <empty>)
        <select id="selLocales" style="width:100%" onChange="changeLocale();">
            <option value="">Empty(default)</option>
            <option value="de" selected="selected">de</option>
        </select>
        <pre><code class="language-javascript">survey.locale = yourvalue;
survey.render();</code></pre>
    </p>
</div>
<script>
function changeLocale() {
    if(!!window.survey) {
        survey.locale = document.getElementById("selLocales").value;
        survey.render();
    }
}
changeLocale();
</script>