<div class="propertyitem">
    <p>
    Question Required Text: <input type="text" value="* " onChange="survey.requiredText = this.value; survey.render();"/> default is "* ".
    <pre><code class="language-javascript">survey.requiredText = yourValue; survey.render();</code></pre>
    </p>
</div>
<div class="propertyitem">
    <p>
    Show Question Numbers: <select onChange="survey.showQuestionNumbers = this.value; survey.render();">
        <option value="on" selected="true">on</option>
        <option value="onPage">onPage</option>
        <option value="off">off</option>
    </select> default is 'on'. 'onPage' - set question numbers inside one page.
    <pre><code class="language-javascript">survey.showQuestionNumbers = yourValue; survey.render();</code></pre>
    </p>
</div>
<div class="propertyitem">
    <p>
    Show Title: <input type="checkbox" checked="true" onChange="survey.showTitle = this.checked; survey.render();"/> default is true.
    <pre><code class="language-javascript">survey.showTitle = yourValue; survey.render();</code></pre>
    </p>
</div>
<div class="propertyitem">
    <p>
Show Page Titles: <input type="checkbox" checked="true" onChange="survey.showPageTitles = this.checked; survey.render();"/> default is true.
<pre><code class="language-javascript">survey.showPageTitles = yourValue; survey.render();</code></pre>
    </p>
</div>
<div class="propertyitem">
    <p>
    Show Page Numbers: <input type="checkbox" onChange="survey.showPageNumbers = this.checked; survey.render();"/> default is false.
    <pre><code class="language-javascript">survey.showPageNumbers = yourValue; survey.render();</code></pre>
    </p>
</div>
<div class="propertyitem">
    <p>
        <b>Show progress bar: </b> (default is 'off')
        <select style="width:100%" onChange="survey.showProgressBar = this.value; survey.render();">
            <option value="off">off</option>
            <option value="top">top</option>
            <option value="bottom" selected="true">bottom</option>
        </select>
        <pre><code class="language-javascript">survey.showProgressbar = yourvalue;
survey.render();</code></pre>
    </p>
</div>
