<p>
You may use <b>{yourvaluename}</b> in the question and page titles, html question and completedHtml survey property.
</p>
<p>
The value name can be your question names, pageno (the current page number) and pagecount (visible pages count). The name is case insensitive.
</p>
<div class="propertyitem">
    <p>
        In this example, the default question title template is changed to:
        <pre><code class="language-javascript">survey.questionTitleTemplate = "{no}) {title} {require}:";</code></pre>
    </p>
</div>
<div class="propertyitem">
    <p>
        The default requiredText property is changed to:
        <pre><code class="language-javascript">survey.requiredText = "(*)";</code></pre>
    </p>
</div>
<div class="propertyitem">
    <p>
        The question No starts from A.
        <pre><code class="language-javascript">survey.questionStartIndex = "A";</code></pre>
    </p>
</div>