<div class="propertyitem">
    <p>
    By default the input type is "text" (inputType="text"). The following additional input types are available:
    <ul>
        <li>color</li>
        <li>date</li>
        <li>datetime</li>
        <li>datetime-local</li>
        <li>email</li>
        <li>month</li>
        <li>number</li>
        <li>password</li>
        <li>range</li>
        <li>tel</li>
        <li>text</li>
        <li>time</li>
        <li>url</li>
        <li>week</li>    
    </ul>
    </p>
</div>
