<p>
Set <b>question.startWithNewLine</b> property to false (true by default) to show it on the same line with the previous question.
</p>
<div class="propertyitem">
    <p>
    Change question title location: <select onChange="survey.questionTitleLocation = this.value; survey.render();">
        <option value="top">top</option>
        <option value="bottom" selected="true">bottom</option>
    </select> default is 'top'. 
    <pre><code class="language-javascript">survey.questionTitleLocation = 'yourValue'; survey.render();</code></pre>
    </p>
</div>
