<p>
The visible trigger is called if the question value 'name' is changed.
</p>
<p>
The visible trigger makes the list of 'questions' and/or 'pages' visibles if the ('question' value 'operator' 'value') returns true. Otherwise the list of 'questions' and/or 'pages' becomes invisible. 
</p>
<p>
The following 'operator' values are available: "empty", "notempty", "equal", "notequal", "greater", "less", "greaterorequal", "lessorequal", "contains" and "notcontains". The default value is "equal".
</p>