@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes changeHeight {
  from {
    height: var(--animation-height-from);
  }
  to {
    height: var(--animation-height-to);
  }
}

@keyframes moveIn {
  from {
    height: 0;
  }

  to {
    height: var(--animation-height);
  }
}

@keyframes overflowIn {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

@keyframes paddingFadeIn {
  from {
    padding-top: 0;
    padding-bottom: 0;
  }

  to {
    padding-bottom: var(--animation-padding-bottom);
    padding-top: var(--animation-padding-top);
  }
}
