.sv-cover {
  padding: calcSize(5);
  box-sizing: border-box;
}
.sv-conver__content {
  height: 100%;
}

.sv-conver__content--static {
  max-width: calcSize(80);
  margin-left: auto;
  margin-right: auto;
}

.sv-cover__text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sv-cover__text-logo {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sv-cover__text-title {
  display: flex;
  flex-direction: row;
}

.sv-cover__text-description {
  display: flex;
  flex-direction: row;
}
