sv-components-container,
.sd-components-container {
  display: flex;
}

.sv-components-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sv-components-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}