.svc-logic-question-value,
div:only-child > .sd-element--with-frame:not(.sd-element--collapsed) {
  border-radius: calcSize(0.5);
  box-sizing: border-box;
  padding-left: calcSize(5);
  padding-right: calcSize(5);
  padding-bottom: calcSize(5);
  background: #ffffff;
  box-shadow: 0px 1px 2px $shadow-inner;
  & > .sd-question__erbox--above-question {
    border-radius: calcSize(0.5) calcSize(0.5) 0 0;
    margin-left: -40px;
    width: calc(100% + 80px);
    margin-bottom: 24px;
  }
  &.sd-question--paneldynamic {
    padding-bottom: 0;
  }
}
.svc-logic-question-value, .sd-element:not(.sd-element--collapsed) {
  padding-top: calcSize(4);
}
.sd-element.sd-element--complex {
  padding-top: 0;
}
.sd-element--collapsed {
  & > .sd-element__header {
    padding: 16px 40px;
    box-sizing: border-box;
    background-color: $background;
    cursor: pointer;
  }
  &.sd-element--with-frame > .sd-element__header {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  & > .sd-element__header:hover {
    background-color: $background-dim-light;
  }
}
.sd-element--collapsed:not(.sd-element--with-frame) > .sd-element__header {
  margin-left: calcSize(-5);
  width: calc(100% + 80px);  
}


.sd-element--complex:not(.sd-element--collapsed) > .sd-element__header--location-top {
  padding-top: calcSize(4);
  padding-bottom: calcSize(4);
  &:after {
    content: ' ';
    display: block;
    position: relative;
    bottom: calcSize(-4);
    height: 1px;
    background: #eaeaea;
  }
}
.sd-element--complex.sd-element--with-frame > .sd-element__header--location-top:after {
  content: ' ';
  left: calcSize(-5);
  width: calc(100% + 80px);
}

.sd-element--nested {
  &.sd-element--complex {
    & > .sd-element__header--location-top {
      padding-bottom: 16px;
      &:after {
        bottom: -16px;
      }
    }
  }
  &.sd-panel, &.sd-question--paneldynamic {
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 32px;
    & > .sd-element__header--location-top {
      padding-top: 16px;
      padding-bottom: 16px;
      &:after {
        left: -40px;
        width: calc(100% + 80px);
        bottom: -16px;
      }
    }
  }
  &.sd-panel:not(.sd-element--collapsed) {
    padding-bottom: 40px;
  }
}


//need refactor
.sd-element .sv-title-actions {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: start;
  .sv-action-bar {
    margin: 0;
    padding: 0;
    margin-left: -40px;
    min-width: auto;
    flex-shrink: 0;
  }
  .sv-title-actions__title {
    max-width: none;
  }
  .sd-question__num {
    display: initial;
    margin-left: 0;
    width: auto;
    padding: 0;
    & + span:not(.sv-string-viewer)[data-key="num-sp"] {
        float: none;
        width: auto;
    }
  }
  div > .sd-question__num {
    float: none;
    display: initial;
  }
  .sv-action {
    &:not(:last-child)>.sv-action__content {
      padding-right: 0;
    }
    .sv-expand-action.sv-action-bar-item {
      width: calcSize(5);
      height: calcSize(3);
      padding-top: 0;
      padding-bottom: 0;
      padding-left: calcSize(2);
      &:hover {
        background-color: transparent;
      }
      &:active {
        opacity: 1;
      }
      &:before {
        content: "";
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 14L5 13L10 8L5 3L6 2L12 8L6 14Z' fill='%23909090'/%3E%3C/svg%3E%0A");        background-repeat: no-repeat;
        background-position: center center;
        height: 16px;
        width: 16px;
        margin: auto;
      }
    }
    .sv-expand-action--expanded.sv-action-bar-item{
      transform: none;
      &::before {
        transform: rotate(90deg);
      }
    }
  }
}
.svc-question__content .sd-element {
  padding-top: 0;
}
.svc-question__content .sd-element--complex > .sd-element__header--location-top {
  padding-bottom: calcSize(2);
  padding-top: 0;
  &:after {
    display: none;
  }
}