.sd-element {
  padding-left: var(--sv-element-add-padding-left, 0px);
  padding-right: var(--sv-element-add-padding-right, 0px);
}

.sd-element__title {
  outline: none;
}

.sd-element__title.sd-element__title--disabled {
  opacity: 0.25;
}

.sd-root--readonly .sd-element__title.sd-element__title--disabled {
  opacity: 1;
}

.sd-element--invisible {
  opacity: 0.35;
}

.sd-element__title {
  font-size: 0;
  line-height: 0;
  position: static;
  font-weight: 600;
  margin: 0;

  .sd-element__num {
    font-size: calcFontSize(0.75);
    line-height: calcSize(2);
  }

  span {
    font-size: calcFontSize(1);
    line-height: calcSize(3);
  }

  .sv-title-actions__title {
    font-size: 0;
    line-height: 0;
  }

  .svc-string-editor {
    display: inline-block;
    max-width: 100%;
  }

  .sv-string-editor {
    max-width: 100%;
    white-space: normal;
  }

  .sv-title-actions__title {
    white-space: nowrap;
  }

  .sv-string-viewer {
    white-space: normal;
  }
}

.sd-element__num {
  float: left;
  padding-top: calcSize(0.625);
  padding-bottom: calcSize(0.375);
  padding-inline-start: 0;
  padding-inline-end: calcSize(1);
  width: calcSize(5);
  font-size: calcFontSize(0.75);
  line-height: calcSize(2);
  color: $foreground-light;
  margin-inline-start: calcSize(-5); // margin-left
  text-align: end;
  box-sizing: border-box;
  white-space: nowrap;
  flex-shrink: 0;

  & + span {
    float: left;
    width: 0;
  }
}

[dir="rtl"],
[style*="direction:rtl"],
[style*="direction: rtl"] {
  .sd-element__num {
    float: right;
  }
}

.sd-element__title--num-inline {
  .sd-element__num {
    @include num_inline();
  }
}

.sd-element__title--expandable.sd-element__title--expandable {
  position: relative;
  display: block;
}

.sd-element__title--expandable:before {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 14L5 13L10 8L5 3L6 2L12 8L6 14Z' fill='%23909090'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  height: calcSize(2);
  width: calcSize(2);
  position: absolute;
  left: calcSize(-3);
  top: calcSize(0.5);
}

.sd-element__title--expandable.sd-element__title--expanded:before {
  transform: rotate(90deg);
}
//with borders styles
.svc-logic-question-value,
.sd-element--with-frame {
  border-radius: $panel-corner-radius;
  box-sizing: border-box;
  padding-top: var(--sd-base-padding);
  padding-left: calc(var(--sd-base-padding) + var(--sv-element-add-padding-left, 0px));
  padding-right: calc(var(--sd-base-padding) + var(--sv-element-add-padding-right, 0px));
  padding-bottom: var(--sd-base-padding);
  background: $question-background;
  box-shadow: 0px 1px 2px $shadow-inner;

  &.sd-question--paneldynamic {
    padding-bottom: 0;

    & > .sd-question__erbox--below-question {
      bottom: 0;
      margin-top: 0;
    }
  }
}
//complex (panel, paneldynamic, matrixes) styles
.sd-element--complex {
  & > .sd-element__header--location-top {
    margin-top: 0;
    &:after {
      content: " ";
      display: block;
      position: relative;
      height: 1px;
      background: $border-light;
      bottom: 0;
    }
  }
  &.sd-element--with-frame {
    padding-top: 0;
    & > .sd-element__header--location-top {
      margin-top: 0;
      padding-top: var(--sd-base-vertical-padding);
      padding-bottom: var(--sd-base-vertical-padding);
      &:after {
        bottom: calc(-1 * var(--sd-base-vertical-padding));
        left: calc(-1 * var(--sd-base-padding));
        width: calc(100% + 2 * var(--sd-base-padding));
      }
    }
  }
}
//collapsed styles
.sd-element--expanded,
.sd-element--collapsed {
  & > .sd-element__header {
    cursor: pointer;
  }
}

.sd-element--collapsed {
  & > .sd-element__header {
    padding: calcSize(0) var(--sd-base-padding);
    box-sizing: border-box;
    background-color: $background;
  }
  &.sd-element--complex > .sd-element__header--location-top {
    &:after {
      display: none;
    }
  }
  &.sd-element--with-frame {
    padding-top: 0;
    padding-bottom: 0;
    & > .sd-element__header {
      padding-top: calcSize(2);
      padding-bottom: calcSize(2);
      border-radius: $panel-corner-radius;
    }
    & > .sd-element__header--location-top {
      margin-top: 0;
    }
  }

  & > .sd-element__header:focus-within,
  & > .sd-element__header:hover {
    background-color: $background-dim-light;
  }
}
.sd-element--collapsed > .sd-element__header {
  margin-left: calc(-1 * var(--sd-base-padding));
  width: calc(100% + 2 * var(--sd-base-padding));
}

//nested styles
.sd-element--nested {
  &.sd-element--complex {
    & > .sd-element__header--location-top {
      &:after {
        bottom: calc(-0.5 * var(--sd-base-vertical-padding));
      }
    }
  }
  &.sd-element--collapsed {
    & > .sd-element__header:hover,
    & > .sd-element__header:focus-within {
      box-shadow: 0 calcSize(-2) 0 0 $background-dim-light, 0 calcSize(2) 0 $background-dim-light;
    }
  }
  &.sd-panel,
  &.sd-question--paneldynamic {
    border: 1px solid $border-light;
    box-sizing: border-box;
    padding-left: var(--sd-base-padding);
    padding-right: var(--sd-base-padding);

    & > .sd-element__header--location-top {
      padding-top: calc(0.5 * var(--sd-base-vertical-padding));
      padding-bottom: calc(0.5 * var(--sd-base-vertical-padding));

      &:after {
        left: calc(-1 * var(--sd-base-padding));
        width: calc(100% + 2 * var(--sd-base-padding));
        bottom: calc(-0.5 * var(--sd-base-vertical-padding));
      }
    }

    & > .sd-question__erbox--outside-question {
      margin-left: calc(-1 * var(--sd-base-padding));
      margin-right: calc(-1 * var(--sd-base-padding));
      width: calc(100% + 2 * var(--sd-base-padding));
    }

    & > .sd-question__erbox--below-question {
      bottom: 0;
      margin-top: 0;
    }
    &.sd-element--collapsed {
      & > .sd-element__header--location-top {
        &:after {
          display: none;
        }
        &:hover,
        &:focus-within {
          box-shadow: none;
        }
      }
    }
  }

  & > .sd-panel__content {
    padding-bottom: var(--sd-base-padding);
  }
}
//compact styles
.sd-element--with-frame.sd-element--compact {
  border: 1px solid $border-inside;
  border-radius: $panel-corner-radius;
  box-shadow: none;
}

//creator styles
.svc-question__content .sd-element--complex > .sd-element__header--location-top {
  padding-bottom: calc(0.5 * var(--sd-base-vertical-padding));
  padding-top: 0;

  &:after {
    display: none;
  }
}
