.sd-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: static;
  width: 100%;
  height: calcSize(6);
  box-sizing: border-box;
  padding: calcSize(1.5) calcSize(2);
  line-height: calcSize(3);
  font-family: $font-editorfont-family;
  font-weight: $font-editorfont-weight;
  color: $font-editorfont-color;
  font-size: $font-editorfont-size;
  background-color: $editor-background;
  box-shadow: $editor-boxshadow;
  border: none;
  border-radius: $editor-corner-radius;
  text-align: start;
}

.sd-input.sd-input:focus {
  outline: none;
}

.sd-input--disabled {
  background-color: $editor-background;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sd-input::placeholder {
  color: $foreground-light;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sd-input--disabled,
.sd-input--disabled::placeholder {
  color: $foreground;
  opacity: 0.25;
}

.sd-root--readonly .sd-input--disabled,
.sd-root--readonly .sd-input--disabled::placeholder {
  color: $foreground;
}

.sd-input:focus {
  box-shadow: 0 0 0 2px $primary;
}

.sd-input--error {
  background-color: $red-light;
}

.sd-text__content {
  position: relative;
}

.sd-remaining-character-counter {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  font-family: $font-family;
  line-height: calcSize(3);
  font-size: calcFontSize(1);
  color: $foreground-light;
  position: absolute;
  inset-inline-end: calcSize(2);
  inset-block-end: calcSize(1.5);
}

.sd-question__content:focus-within .sd-remaining-character-counter {
  display: flex;
}

@mixin runnable-track {
  background-color: $primary;
  border-radius: calcSize(1);
  height: calcSize(1.5);
}

@mixin slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: calcSize(-0.75);
  border-radius: 100%;
  border: 2px solid $primary;
  box-shadow: inset 0 0 0 2px var(--background, #fff);
  background-color: $primary;
  height: calcSize(3);
  width: calcSize(3);
}

.sd-input[type="range"]::-webkit-slider-runnable-track {
  @include runnable-track;
}

.sd-input[type="range"]::-webkit-slider-thumb {
  @include slider-thumb;
}

//mozilla
.sd-input[type="range"]::-moz-range-track {
  @include runnable-track;
}

.sd-input[type="range"]::-moz-range-thumb {
  @include slider-thumb;
}
