.sd-list {
  padding-right: calcSize(0.5);
  padding-left: calcSize(0.5);
}

.sd-list__item.sd-list__item {
  .sd-list__item-body {
    padding-top: calcSize(1.25);
    padding-bottom: calcSize(1.25);
    padding-inline: calcSize(1.75) calcSize(8);
    border-radius: 3px;
    font-size: calcSize(2);
    line-height: calcSize(3);
  }
}
