.sd-matrixdynamic__add-btn {
  appearance: none;
  background: transparent;
  border: none;
  color: $primary;
  line-height: calcSize(3);
  font-size: calcSize(2);
  font-family: $font-family;
  font-weight: 600;
  padding: calcSize(1) 0;
 }
.sd-matrixdynamic__drag-element {
  padding: calcSize(2);
  &:hover {
    background-color: $background;
  }
  &:after {
    content: " ";
    display: block;
    height: calcSize(0.5);
    width: calcSize(2);
    border: 1px solid $border;
    box-sizing: border-box;
    border-radius: 10px;
  }
}