.sd-paneldynamic__add-btn--list-mode {
    float: none;
    margin-top: 1em;
}

.sd-paneldynamic__panel-wrapper {}

.sd-paneldynamic__panel-wrapper--in-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}