.sd-question {
  position: relative;
}
.sd-question__erbox--above-question {
  margin-top: calcSize(-4);
  margin-bottom: calcSize(3);
  width: 100%;
  color: $red;
  background-color: $red-light;
  box-sizing: border-box;
}
.sd-question__erbox {
  padding: 8px 12px;
  border-radius: calcSize(0.5);
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
}

.sd-question__header {
  width: 100%;
}

.sd-question__title {
  position: static;
  font-weight: 600;
  font-size: calcSize(2);
  line-height: calcSize(3);
  margin: 0;

  .svc-string-editor {
    display: inline-block;
    max-width: 100%;
  }
  .sv-string-editor {
    max-width: 100%;
    white-space: normal;
  }

  .sv-title-actions__title {
    white-space: nowrap;
  }
  .sv-string-viewer {
    white-space: normal;
  }
}

.sd-question__header--location-top {
  padding-bottom: calcSize(2);
}

.sd-scrollable .sd-question__content {
  overflow-x: auto;
  padding: calcSize(2) 0;
}

.sd-question__header--location--left {
  display: inline-block;
  width: auto;
  max-width: 50%;
  vertical-align: top;
}

.sd-question__content--left {
  display: inline-block;
  width: calc(50% - 3 * #{$base-unit});
  padding-left: calcSize(3);
}
.sd-question__required-text {
  vertical-align: top;
}
.sd-question__form-group {
  margin-top: calcSize(2);
}
.sd-question__required-text {
  color: $red;
}
.sd-question__erbox--tooltip {
  display: none;
  position: fixed;
  // left: 50%;
  // bottom: 50%;
  // transform: translateX(-50%) translateY(100%);
  height: auto;
  width: auto;
  max-width: 232px;
  background-color: $background;
  color: $foreground;
  opacity: 0.75;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  white-space: normal;
  text-align: left;
  z-index: 1000;
}
.sd-question__content:hover:not(:focus-within) > .sd-question__erbox--tooltip {
  display: block;
}
.sd-question__erbox--location--top,
.sd-question__erbox--location--bottom {
  display: none;
}
.sd-question--complex {
  .sd-question__erbox--above-question {
    margin-top: 0;
    & ~ .sd-question__header--location-top{
      padding-top: calcSize(1);
    }
  }
}
.sd-question__num {
  display: inline-block;
  padding: calcSize(0.625) calcSize(1) calcSize(0.325);
  width: calcSize(4);
  font-size: calcSize(1.5);
  line-height: calcSize(2);
  color: $foreground-light;
  margin-left: calcSize(-4);
  text-align: right;
  box-sizing: border-box;
  white-space: nowrap;
  flex-shrink: 0;
  & + span:not(.sv-string-viewer) {
    float: left;
    width: 0;
  }
}
div > .sd-question__num {
  display: block;
  float: left;
}
.sd-question--empty.sd-question--complex {
  & > .sd-question__header--location-top {
      padding-bottom: 16px;
      &:after {
          display: none;
      }
  } 
}
.sd-question__placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
  justify-content: center;
  min-height: 192px;
  line-height: 24px;
  font-size: 16px;
  color: #909090;
  & > div,
  & > span {
      & > .sv-string-viewer {
      white-space: pre-line;
    }
  }
}
.sd-question--empty.sd-question--complex {
  & > .sd-question__content {
      padding-top: 0;
      padding-bottom: 0;
  }
  & > .sd-question__content:first-child {
      padding-top: 40px;
  }
}