.sd-selectbase {
  border: none;
  margin: 0;
  padding: 0;
}
.sd-selectbase__label {
  display: flex;
  position: relative;
}
.sd-selectbase__column {
  vertical-align: top;
}

// Copied from stylesmanager
.sd-selectbase__column.sv-q-column-1 {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  padding-right: calcSize(2);
  box-sizing: border-box;
  word-break: break-word;
}
.sd-selectbase__column.sv-q-column-2 {
  max-width: 50%;
  display: inline-block;
  padding-right: calcSize(2);
  box-sizing: border-box;
  word-break: break-word;
}
.sd-selectbase__column.sv-q-column-3 {
  max-width: 33.33333%;
  display: inline-block;
  padding-right: calcSize(2);
  box-sizing: border-box;
  word-break: break-word;
}
.sd-selectbase__column.sv-q-column-4 {
  max-width: 25%;
  display: inline-block;
  padding-right: calcSize(2);
  box-sizing: border-box;
  word-break: break-word;
}
.sd-selectbase__column.sv-q-column-5 {
  max-width: 20%;
  display: inline-block;
  padding-right: calcSize(2);
  box-sizing: border-box;
  word-break: break-word;
}
.sd-selectbase__other {
    margin-top: calcSize(2);
}