.sd-table {
  width: 100%;
  background-color: $background;
  border-collapse: collapse;
  td:empty {
    width: 1%;
  }
}
.sd-table tr:not(:last-child) {
  padding-bottom: calcSize(2);
}
.sd-table__cell {
  font-weight: normal;
  font-size: calcSize(2);
  line-height: calcSize(3);
  padding-bottom: calcSize(2);
  color: $foreground;
  text-align: center;
}
.sd-table__cell:not(:last-child) {
  padding-right: calcSize(2);
}
.sd-table__cell--actions, .sd-matrixdynamic__add-btn {
  .sv-action-bar {
    overflow: visible;
  }
  .svc-string-editor__button--done {
    width: calcSize(2);
  }
}
.svc-question__content .sd-table__cell--actions{
  .sv-action-bar-item:disabled {
    background: $background;
    opacity: 1;
    use {
      fill: $foreground-light;
    }
  }
}
.sd-table__cell--actions{
  width: 1%;
  white-space: nowrap;
  .sv-action-bar {
    opacity: 0.5;
    padding: 0;
  }
  .sv-action:not(:last-child) > .sv-action__content {
    padding-right: 0;
  }
}