<!-- ko if: (survey.titleView === 'cover' && survey.renderedHasHeader) -->
<div class="sv-cover" data-bind="style: { height: model.renderedHeight, backgroundColor: model.backgroundColor }">
  <!-- ko if: !!model.backgroundImage -->
  <div data-bind="style: model.backgroundImageStyle, css: model.backgroundImageClasses"></div>
  <!-- /ko -->
  <div data-bind="css: model.contentClasses">
  <!-- ko foreach: model.cells -->
    <!-- ko component: { name: 'sv-cover-cell', params: { model: $data } } -->
    <!-- /ko -->
  <!--/ko-->
  </div>
</div>
<!-- /ko -->