$primary: var(--primary, #19b394);

$background: var(--background, #fff);
$background-dim: var(--background-dim, #f3f3f3);

$foreground-light: var(--foreground-light, #909090);
//todo: discuss this variable
$foreground: var(--foreground, #161616);
$border: var(--border, #d6d6d6);
$border-inside: var(--border-inside, rgba(0, 0, 0, 0.16));
$font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-unit: var(--base-unit, 8px);

@function calcSize($multiplier) {
  $result: calc(#{$multiplier} * #{$base-unit});
  @return $result;
}

.sv-list {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  background: $background;
  font-family: $font-family;
  list-style-type: none;
}

.sv-list__empty-container {
  width: 100%;
  font-family: $font-family;
  box-sizing: border-box;
  padding: calcSize(1.5) calcSize(8);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sv-list__empty-text {
  line-height: calcSize(3);
  font-size: calcSize(2);
  font-weight: 400;
  text-align: center;
  color: $foreground-light;
}

.sv-list__item {
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  color: $foreground;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sv-list__item-body {
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  // padding: calcSize(1) calcSize(8) calcSize(1) calcSize(2);
  padding-block: calcSize(1);
  padding-inline-end: calcSize(8);
  padding-inline-start: calcSize(2);
  color: $foreground;
  font-size: calcSize(2);
  line-height: calcSize(3);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sv-list__item.sv-list__item--focused,
.sv-list__item:hover,
.sv-list__item:focus {
  .sv-list__item-body {
    background-color: $background-dim;
  }
  outline: none;
}

.sv-list__item--with-icon.sv-list__item--with-icon {
  padding: 0;
  .sv-list__item-body {
    padding-top: calcSize(1.5);
    padding-bottom: calcSize(1.5);
  }
}
.sv-list__item-icon {
  float: left;
  width: calcSize(3);
  height: calcSize(3);
  svg {
    display: block;
  }
  use {
    fill: $foreground-light;
  }
  margin-inline-end: calcSize(2); //margin-right: calcSize(2);
}
.sv-list__item-separator {
  margin: calcSize(1) 0;
  height: 1px;
  background-color: $border;
}

.sv-list__item.sv-list__item--selected {
  .sv-list__item-body {
    background-color: $primary;
    color: $background;
  }
  .sv-list__item-icon use {
    fill: $background;
  }
}

.sv-list__item.sv-list__item--selected.sv-list__item--focused,
.sv-list__item.sv-list__item--selected:hover,
li:focus .sv-list__item.sv-list__item--selected {
  .sv-list__item-body {
    background-color: $primary;
    color: $primary-foreground;
  }
}
.sv-list__item.sv-list__item--disabled {
  .sv-list__item-body {
    cursor: default;
    color: $foreground-light;
  }
}

.sv-list__item span {
  white-space: nowrap;
}

.sv-list__container {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.sv-list__filter {
  border-bottom: 1px solid $border-inside;
  background: $background;
  padding-bottom: calcSize(1);
}

.sv-list__filter-icon {
  display: block;
  position: absolute;
  top: calcSize(1.5);
  inset-inline-start: calcSize(2); //left: calcSize(2);
  .sv-svg-icon {
    width: calcSize(3);
    height: calcSize(3);
    use {
      fill: $foreground-light;
    }
  }
}

.sv-list__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background: $background;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  font-size: 1em;
  color: $foreground;
  padding: calcSize(1.5) calcSize(3) calcSize(1.5) calcSize(7);
  line-height: calcSize(3);
  border: none;
}

.sv-list__input::placeholder {
  color: $foreground-light;
}

.sv-list__input:disabled,
.sv-list__input:disabled::placeholder {
  color: $foreground-light;
}

.sv-list__loading-indicator {
  pointer-events: none;
}
.sv-list__loading-indicator .sv-list__item-body {
  background-color: transparent;
}
