.sv-title-actions {
  display: flex;
  align-items: center;
  width: 100%;
}

.sv-title-actions__title {
  flex-wrap: wrap;
  white-space: initial;
  flex: 0 0 auto;
}

.sv-action-title-bar {
  flex: 1 1 auto;
  justify-content: flex-end;
}
