.sv_window {
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 8px;
  box-shadow: $shadow-large;
  background-clip: padding-box;
  z-index: 100;
  max-height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}

.sv_window_content {
    box-shadow: $shadow-medium;
    width: 100%;
    height: 100%;
    border: 1px solid $border-inside;
    background-clip: padding-box;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
} 

.sv_window--collapsed {
    .sv_window_header {
        height: 32px;
        padding: 8px 8px 8px 16px;
        border-radius: 8px;
        display: flex;
        background-color: $background-dim;
    }
}

.sv_window_header_title_collapsed {
    color: $foreground-dim;
    /* UI/Default Bold */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sv_window_header_description{
    color: $font-questiondescription-color;
    font-feature-settings: 'salt' on;
    /* UI/Default */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sv_window_buttons_container {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    gap: 8px;
    z-index: 1;
}

.sv_window_button {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;

    &:hover, &:active {
        background-color: $primary-light;
        svg use {
            fill: $primary;
        }
    }

    &:active {
        opacity: 0.5;
    }

    svg use {
        fill: $foreground-dim-light;
    }
}