.sv_window {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: $background;
  padding: 32px 32px 40px 32px;
  border-radius: 8px;
  box-shadow: $shadow-large;
  border: 1px solid $border-inside;
  background-clip: padding-box;
  z-index: 100;
}

.sv_window_title {
  padding: 8px 14px;
  margin: 0;
  font-size: calcFontSize(0.875);
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: calcCornerRadius(1) calcCornerRadius(1) 0 0;
  display: flex;
}

.sv_window_content {
  padding: 0;
  margin: 0;
  max-height: 80vh;
  overflow-y: auto;
}

.sv_window_title a,
.sv_window_title a:link,
.sv_window_title a:visited {
  text-decoration: none;
  font-size: calcFontSize(0.875);
  font-style: normal;
  color: black;
}

.sv_window_button .sv-svg-icon {
  margin: 4px;
}