.sv_window {
  position: fixed;
  bottom: 3px;
  right: 10px;
  background-color: cadetblue;
  padding: 1px;
  font-family: var(--font-family, $font-family);
  font-size: calcFontSize(0.875);
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: calcCornerRadius(1.5);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  line-break: auto;
  z-index: 100;
}

.sv_window_title {
  padding: 8px 14px;
  margin: 0;
  font-size: calcFontSize(0.875);
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: calcCornerRadius(1) calcCornerRadius(1) 0 0;
}

.sv_window_content {
  padding: 0;
  margin: 0;
  max-height: 80vh;
  overflow-y: auto;
}

.sv_window_title a,
.sv_window_title a:link,
.sv_window_title a:visited {
  text-decoration: none;
  font-size: calcFontSize(0.875);
  font-style: normal;
  color: black;
}