.sv_window {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: $background;
  padding: 32px 32px 40px 32px;
  border-radius: 8px;
  box-shadow: $shadow-large;
  border: 1px solid $border-inside;
  background-clip: padding-box;
  z-index: 100;
}

.sv_window_title {
  display: flex;
  background-color: $background;
  padding: 0 8px;
}

.sv_window_buttons_container {
    position: absolute;
    top: 8px;
    right: 8px;
}