.git/*
.vs/*
node_modules/*
src/**/*.js
doc_generator/**/*.json
docs/classes.json
docs/pmes.json
tmp/*
.vscode/*
*.cmd
.tsdrc
.idea
/packages/**/*
/.gitattributes
project.json
/lib_typings
npm-debug.*
_site
.sass-cache
Gemfile.lock
/typings
/src/knockout/template.window.ko.html.ts
/src/knockout/template.ko.html.ts
/Properties
/web.config
/travis_code.txt
/survey.js.xproj
/survey.js.sln
/Startup.cs
/project.lock.json
/hosting.ini
/doc_generator/*.json
*.env
package-lock.json 
.prettierrc