---
layout: default
title: Home
mainmenukey: home
usedxchart: true
canonicalUrl: /
---

<section class="container services" id="features">
    <div class="row">
        <div class="col-sm-3">
            <h2>Bootstrap and Design</h2>
            <p>Use predefined css classes (standard or bootstrap) and modify them as required your site design.</p>
            <p><a class="navy-link" role="button" href="{{ page.pathprefix }}examples/survey-customcss.html">Show me»</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Visual Survey Editor</h2>
            <p>Use the Visual Survey Editor to create, test and then insert a survey into your web page. The editor generates JSON that can be edited in it later, if needed.</p>
            <p><a class="navy-link" role="button" href="{{ page.pathprefix }}builder/">Go to Editor»</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Full Control</h2>
            <p>It's just a Javascript library. That means you have the full control. You may get/set data or send them to the server at any moment. Modify survey on the fly and add new functionality.</p>
            <p><a class="navy-link" role="button" href="{{ page.pathprefix }}examples/survey-data.html">Show me»</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Save and Analyze data</h2>
            <p>If you don't want to deal with saving and then analyzing JSON data, you may use the <a href="http://dxsurvey.com/">dxSurvey Service</a>. It will do it for you.</p>
            <p><a class="navy-link" role="button" href="{{ page.pathprefix }}examples/service-result.html">Show me»</a></a></p>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>survey.js<br> <span class="navy"> the JavaScript JSON based Survey Library</span></h1>
        <div>with visual editor and optional service for storing and analyzing data.</div>
        <div>The latest version <a href="https://github.com/andrewtelnov/surveyjs/releases">v0.9.12</a></div>
    </div>
</div>

<section id="steps" class="container">
    <div class="col-lg-12">
        <div class="navy-line"></div>
        <h1>Add Survey into your page.</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Step 1</h1>
            <div>
                <a class="btn btn-primary btn-lg" role="button" href="{{ page.pathprefix }}downloads/surveyjs.zip" target="_blank">Download survey.js library</a>
            </div>
            <h2>Or use npm</h2>
            <ul class="nav nav-tabs">
                <li role="presentation" data-bind="css:{active: isKnockout}"><a data-bind="click:setKnockout">Knockout</a></li>
                <li role="presentation" data-bind="css:{active: isReact}"><a data-bind="click:setReact">React</a></li>
            </ul>
            <div data-bind="visible:isKnockout">
                <pre><code class="language-markup">npm install survey-knockout</code></pre>
            </div>
            <div data-bind="visible:isReact">
                <pre><code class="language-markup">npm install survey-react</code></pre>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
           <h2>Step 2</h2>
           <h4>Add a link to a <a href="http://knockoutjs.com">KnockoutJS</a> or <a href="https://facebook.github.io/react/">React</a></h4> 
            <ul class="nav nav-tabs">
                <li role="presentation" data-bind="css:{active: isKnockout}"><a data-bind="click:setKnockout">Knockout</a></li>
                <li role="presentation" data-bind="css:{active: isReact}"><a data-bind="click:setReact">React</a></li>
            </ul>
            <div data-bind="visible:isKnockout">
                <pre><code class="language-markup">&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"&gt;&lt;/script&gt;</code></pre>
            </div>
            <div data-bind="visible:isReact">
                <pre><code class="language-markup">&lt;script src="https://fb.me/react-0.14.8.js"&gt;&lt;/script&gt;
&lt;script src="https://fb.me/react-dom-0.14.8.js"&gt;&lt;/script&gt;
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"&gt;&lt;/script&gt;                    
</code></pre>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
           <h2>Step 3</h2>
           <h4>Add link(s) to survey.js</h4>
        <h5>If you are NOT going to use the Bootstrap, add the link to survey css.</h5>
        <pre><code class="language-markup">&lt;link href="{{ page.pathprefix }}css/survey.css" type="text/css" rel="stylesheet" /&gt;</code></pre>
        <ul class="nav nav-tabs">
            <li role="presentation" data-bind="css:{active: isKnockout}"><a data-bind="click:setKnockout">Knockout</a></li>
            <li role="presentation" data-bind="css:{active: isReact}"><a data-bind="click:setReact">React</a></li>
        </ul>
        <div data-bind="visible:isKnockout">
            <h5>Link to the knockout version of the library.</h5>
            <pre><code class="language-markup">&lt;script src="{{ page.pathprefix }}js/survey.ko.min.js"&gt;&lt;/script&gt;</code></pre>
        </div>
        <div data-bind="visible:isReact">
            <h5>Link to the react version of the library.</h5>
            <pre><code class="language-markup">&lt;script src="{{ page.pathprefix }}js/survey.react.min.js"&gt;&lt;/script&gt;</code></pre>
        </div>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
           <h2>Step 4</h2>
        </div>
    </div>
    <div class="row">
       <div class="col-sm-4">
           <h4>Build JSON using</h4>
           <a class="btn btn-primary btn-lg" role="button" href="{{ page.pathprefix }}builder/" target="_blank">Visual Survey Editor</a>
           
       </div>
       <div class="col-sm-8">
           <h4>JSON example<a href="{{ page.pathprefix }}builder/index.html?surveyid=d5220f76-4802-40cf-ad67-61d7e55608e5" target="_blank"> (Load it in Visual Survey Editor now)</a></h4>
           <pre><code class="language-js">var surveyJSON = {% include surveys/survey-about.json %}</code></pre>
       </div>
    </div>

    <div class="row">
       <div class="col-sm-12">
           <h2>Step 5</h2>
           <h4>Show Survey on the page</h4>
           <h5>If you are using Bootstrap, tell the library to use the bootstrap css classes.</h5>
           <pre><code class="language-js">Survey.Survey.cssType = "bootstrap";</code></pre>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation" data-bind="css:{active: isKnockout}"><a data-bind="click:setKnockout">Knockout</a></li>
        <li role="presentation" data-bind="css:{active: isReact}"><a data-bind="click:setReact">React</a></li>
    </ul>
    <div class="row"  data-bind="visible:isKnockout">
       <div class="col-sm-6">
           <h3>As Survey Window</h3>
           <pre><code class="language-js">var surveyWindow = new Survey.SurveyWindow(surveyJSON);
surveyWindow.show();           
//Use onComplete event to save the data
surveyWindow.survey.onComplete.add(sendDataToServer);</code></pre>
       </div>
       <div class="col-sm-6">
           <h3>Inside your web page</h3>
           <pre><code class="language-markup">&lt;div id="surveyContainer"&gt;&lt;/div&gt;</code></pre>
           <pre><code class="language-js">var survey = new Survey.Survey(surveyJSON, "surveyContainer");
//Use onComplete event to save the data           
survey.onComplete.add(sendDataToServer);
</code></pre>
       </div>
    </div>
    <div class="row"  data-bind="visible:isReact">
       <div class="col-sm-6">
           <h3>As Survey Window</h3>
           <pre><code class="language-js">ReactDOM.render(
  &lt;ReactSurveyWindow json={surveyJSON} onComplete={sendDataToServer}/&gt;, 
  document.getElementById("surveyContainer"));</code></pre>
       </div>
       <div class="col-sm-6">
           <h3>Inside your web page</h3>
           <pre><code class="language-markup">&lt;div id="surveyContainer"&gt;&lt;/div&gt;</code></pre>
           <pre><code class="language-js">ReactDOM.render(
  &lt;ReactSurvey json={surveyJSON} onComplete={sendDataToServer}/&gt;,
  document.getElementById("surveyContainer"));</code></pre>
       </div>
    </div>

    <div class="row">
       <div class="col-sm-12">
           <h2>Step 6</h2>
           <h4>Save survey data on the web server.</h4>
        </div>
    </div>
    <div class="row">
       <div class="col-sm-6">
           <h3>Your web server</h3>
           <pre><code class="language-js">function sendDataToServer(survey) {
  var resultAsString = JSON.stringify(survey.data);
  alert(resultAsString); //send Ajax request to your web server.
});</code></pre>
       </div>
       <div class="col-sm-6">
           <h3>dxSurvey.com service</h3>
           <pre><code class="language-js">function sendDataToServer(survey) {
  //You should get the Guid for storing survey data in dxSurvey.com
  survey.sendResult('e544a02f-7fff-4ffb-b62d-6a9aa16efd7c');
});</code></pre>
       </div>
    </div>

</section>

<div class="jumbotron">
  <div class="row">
      <div class="col-sm-3 col-centered"></div>
      <div class="col-sm-6 col-centered">
          <h3>The survey example</h3>
          <div class="surveycontent panel" id="surveyContainer"></div>
      </div>
      <div class="col-sm-3 col-centered"></div>
  </div>
</div>

<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Step 7 (optional)</h1>
            <p>Get the results of your survey using the <a href="http://dxsurvey.com/" target="_blank">dxSurvey Service</a>.</p>
            <p>Share the survey results via direct link. <a href="http://dxsurvey.com/Results/Survey/d5220f76-4802-40cf-ad67-61d7e55608e5" target="_blank">Current      Survey Results</a>
            </p>            
            <a class="btn btn-primary btn-lg" role="button" href="{{ page.pathprefix }}examples/service-result.html">Show me example</a>
        </div>
    </div>
</section>
<!--service-result.html-->


<script type="text/javascript">
    Survey.Survey.cssType = "bootstrap";
    var ViewModel = function() {
        var self = this;
        this.platform = ko.observable("knockout");
        this.isKnockout = ko.computed(function() { return self.platform() == "knockout"; });
        this.isReact = ko.computed(function() { return self.platform() == "react"; });
        this.setKnockout = function() {
            self.platform("knockout");
        }
        this.setReact = function() {
            self.platform("react");
        }
    }   
    ko.applyBindings(new ViewModel(), document.getElementById("steps"));

    var  surveyJSON = {% include surveys/survey-about.json %};
    var survey = new Survey.Survey(surveyJSON, "surveyContainer");
    survey.onComplete.add(function (s) {
        document.getElementById("surveyContainer").innerHTML = "The survey result: " + JSON.stringify(s.data);
        s.sendResult('d2ab6936-6764-4ff1-a5a2-baf0a1d919bd');
    });    

    var surveyWindow = new Survey.SurveyWindow(surveyJSON);
    surveyWindow.show();
    surveyWindow.survey.onComplete.add(function (s) {
        alert("The survey result: " + JSON.stringify(s.data));
        s.sendResult('d2ab6936-6764-4ff1-a5a2-baf0a1d919bd');
    });
</script>