.sv-btn.sv-action-bar-item,
.sv-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 1.214em;
    color: var(--body-background-color, $body-background-color);
    cursor: pointer;
    font-family: inherit;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 0.5em 2.786em 0.6em;
    text-align: left;
}
.sv-btn--navigation {
    background-color: var(--main-color, $main-color);
}
