.sv-body__page,
.sv-body__footer {
  @media only screen and (min-width: 1000px) {
    margin-right: 5%;
    margin-left: 5%;
  }
  @media only screen and (max-width: 1000px) {
    margin-right: 0.63em;
    margin-left: 0.63em;
  }
}
.sv-body__page {
  padding-top: 3.875em;
  padding-bottom: 0.63em;
}
.sv-body__progress {
  margin-bottom: 2em;
}