.sv-boolean {
  display: block;
  position: relative;
  line-height: 1.5em;
}
.sv-boolean__switch {
  float: left;
  box-sizing: border-box;
  width: 4em;
  height: 1.5em;
  margin-right: 1.0625em;
  margin-left: 1.3125em;
  padding: 0.125em 0.1875em;
  border-radius: 0.75em;
}
[dir="rtl"],
[style*="direction:rtl"] {
  .sv-boolean__switch {
    float: right;
  }
}
.sv-boolean__slider {
  display: block;
  width: 1.25em;
  height: 1.25em;
  transition-duration: 0.1s;
  transition-property: margin-left;
  transition-timing-function: linear;
  border: none;
  border-radius: 100%;
}
.sv-boolean--indeterminate {
  .sv-boolean__slider {
    margin-left: calc(50% - 0.625em);
  }
}
.sv-boolean--checked {
  .sv-boolean__slider {
    margin-left: calc(100% - 1.25em);
  }
}
.sv-boolean__label {
  cursor: pointer;
  float: left;
}
[dir="rtl"],
[style*="direction:rtl"] {
  .sv-boolean__label {
    float: right;
  }
}
[dir="rtl"],
[style*="direction:rtl"] {
  .sv-boolean--indeterminate {
    .sv-boolean__slider {
      margin-right: calc(50% - 0.625em);
    }
  }
  .sv-boolean--checked {
    .sv-boolean__slider {
      margin-right: calc(100% - 1.25em);
    }
  }
}

////////////////////////////////////////////////////////////////////////
.sv-boolean__decorator {
  border-radius: 2px;
}
.sv_main .sv-boolean__decorator + .sv-boolean__label {
  float: none;
  vertical-align: top;
  margin-left: 0.5em;
}
.sv-boolean__svg {
  border: none;
  border-radius: 2px;
  background-color: $main-color;
  fill: white;
  width: 24px;
  height: 24px;
}
.sv-boolean--allowhover:hover {
  .sv-boolean__checked-path {
    display: inline-block;
  }
  .sv-boolean__svg {
    background-color: $main-hover-color;
    fill: white;
  }
  .sv-boolean__unchecked-path,
  .sv-boolean__indeterminate-path {
    display: none;
  }
}
.sv-boolean__checked-path,
.sv-boolean__indeterminate-path {
  display: none;
}
.sv-boolean--indeterminate {
  .sv-boolean__svg {
    background-color: inherit;
    fill: $main-color;
  }
  .sv-boolean__indeterminate-path {
    display: inline-block;
  }
}
.sv-boolean--indeterminate,
.sv-boolean--checked {
  .sv-boolean__unchecked-path {
    display: none;
  }
}
.sv-boolean--checked {
  .sv-boolean__checked-path {
    display: inline-block;
  }
}
.sv-boolean--disabled.sv-boolean--indeterminate {
  .sv-boolean__svg {
    background-color: inherit;
    fill: $disable-color;
  }
}
.sv-boolean--disabled {
  .sv-boolean__svg {
    background-color: $disable-color;
  }
}
