.sv-container-modern {
  color: $text-color;
  font-size: $font-size;
  font-family: "Segoe UI";
}

.sv-container-modern__title {
  padding-left: 5.625em;
  padding-top: 5em;
  padding-bottom: 0.9375em;
}

.sv-container-modern__title h3 {
  font-size: 1.87em;
}
.sv-container-modern fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.sv-container-modern legend {
  border: none;
  padding: 0;
  margin: 0;
}
