.sv-ranking {
  outline: none;
  padding: 30px;
}
.sv-ranking--mobile {
  .sv-ranking-item__hover-icon {
    visibility: visible;
    fill: gray;
  }
}

.sv-ranking-item {
  margin-bottom: 5px;

  &:hover {
    .sv-ranking-item__hover-icon {
      visibility: visible;
    }
  }

  &:focus {
    outline: none;

    .sv-ranking-item__hover-icon {
      visibility: hidden;
    }

    .sv-ranking-item__focus-icon {
      visibility: visible;
      top: 15px;
    }

    .sv-ranking-item__index {
      background: #fff;
      border: 2px solid #19b394;
    }
  }
}

.sv-ranking-item__content {
  display: inline-block;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  padding-right: 10px;
  position: relative;
}

.sv-ranking-item__icon-container {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 35px;
}

.sv-ranking-item__icon {
  visibility: hidden;
  left: 10px;
  top: 20px;
  position: absolute;
}

.sv-ranking-item__index {
  display: inline-block;
  padding: 12px 16px;
  background: rgba(25, 179, 148, 0.1);
  border-radius: 100px;
  border: 2px solid transparent;
}

.sv-ranking-item__text {
  display: inline-block;
}

.sv-ranking-item__ghost {
  display: none;
  background: #f3f3f3;
  border-radius: 100px;
  width: 200px;
  height: 55px;
  z-index: 1;
  position: absolute;
  left: 70px;
}

.sv-ranking-item--ghost .sv-ranking-item__ghost {
  display: block;
}

.sv-ranking-item--ghost .sv-ranking-item__content {
  visibility: hidden;
}

.sv-ranking-item--drag .sv-ranking-item__content {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.ranking--drag .sv-ranking-item:hover {
  .sv-ranking-item__icon {
    visibility: hidden;
  }
}

.sv-ranking-item--drag .sv-ranking-item__hover-icon {
  visibility: visible;
}
