.sv-table {
  width: 100%;
  background-color: rgba(159, 159, 159, 0.1);
  padding: 0.9375em 1.875em 1.5625em;
  border-collapse: separate;
  border-spacing: 2px;
}
.sv-table__cell {
  padding: 0.9375em 0;
  box-sizing: content-box;
  vertical-align: top;
}
.sv-table__cell:not(:last-child) {
  padding-right: 1em;
}
.sv-table__cell:not(:first-child) {
  padding-left: 1em;
}
.sv-table__cell--header {
  font-family: Raleway;
  font-weight: bold;
  text-align: left;
}
.sv-table__cell--rowText {
  vertical-align: middle;
}
.sv-table__cell--detail {
  text-align: center;
  vertical-align: middle;
  width: 32px;
}
.sv-table__cell--detail-rowtext {
  vertical-align: middle;
}
.sv-table__cell--detail-panel {
  padding-left: 1em;
}
.sv-table__cell--detail-button {
  border: 3px solid $border-color;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}
button.sv-table__cell--detail-button:focus {
  border-radius: 50px;
}
