.timer {
  z-index: 2;
  float: right;
  position: sticky;
  // top: 16px;
  bottom: calc(var(--sd-timer-size) / 144 * 32);
  background: white;
  width: var(--sd-timer-size);
  height: var(--sd-timer-size);
  // margin-bottom: -144px;
  margin-top: calc(-32px - var(--sd-timer-size) - var(--sd-timer-size) / 144 * 32);
  // margin-top: 16px;
  margin-bottom: calc(var(--sd-timer-size) / 144 * 32);
  margin-right: calc(var(--sd-timer-size) / 144 * 32);
  display: flex;
  border-radius: 100%;
  padding: calc(var(--sd-timer-size) / 144 * 8);
  box-shadow: 0 2px 6px #0000001a;
  box-sizing: border-box;
}
.timer__progress {
  height: 100%;
  width: 100%;
  transform: rotate(-90deg);
  stroke: #19B394;
  stroke-dashoffset: 0;
  fill: none;
  stroke-width: 4px;
}
.timer__progress--animation circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
}
.timer__text {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  padding: 8px;
  color: #19B394;
    font-weight: 700;
font-size: calc(var(--sd-timer-size) / 144 * 32);
}