<div data-bind="css: question.cssClasses.rootRadio">
  <fieldset role="presentation" data-bind="css: question.cssClasses.radioFieldset">
    <!-- ko ifnot: question.swapOrder -->
    <!-- ko component: { name: 'sv-boolean-radio-item', params: { value: false, locText: question.locLabelFalse, question: question } } --><!-- /ko -->
    <!-- ko component: { name: 'sv-boolean-radio-item', params: { value: true, locText: question.locLabelTrue, question: question } } --><!-- /ko -->
    <!-- /ko -->
    <!-- ko if: question.swapOrder -->
    <!-- ko component: { name: 'sv-boolean-radio-item', params: { value: true, locText: question.locLabelTrue, question: question } } --><!-- /ko -->
    <!-- ko component: { name: 'sv-boolean-radio-item', params: { value: false, locText: question.locLabelFalse, question: question } } --><!-- /ko -->
    <!-- /ko -->
  </fieldset>
</div>
