  <div role="presentation" data-bind="class: question.getRadioItemClass(question.koCss(), $data.value)">
    <label data-bind="css: question.koCss().radioLabel">
      <input
        type="radio"
        data-bind="event: { change: handleChange }, attr: { name: question.name, 'aria-describedby': question.ariaDescribedBy, value: ''+$data.value, checked: $data.value === question.booleanValue }, enable: !question.isInputReadOnly, css: question.koCss().itemRadioControl"
      />
      <!-- ko if: question.koCss().materialRadioDecorator -->
      <span data-bind="css: question.koCss().materialRadioDecorator">
        <!-- ko if: question.itemSvgIcon -->
        <svg data-bind="css:question.koCss().itemRadioDecorator">
          <use data-bind="attr:{'xlink:href':question.itemSvgIcon}" xlink:href=''></use>
        </svg>
        <!-- /ko -->
      </span>
      <!-- /ko -->
      <span data-bind="css: question.koCss().radioControlLabel">
        <!-- ko template: { name: 'survey-string', data: $data.locText } -->
        <!-- /ko -->
      </span>
    </label>
  </div>

