  <div role="presentation" data-bind="class: question.getRadioItemClass(question.cssClasses, $data.value)">
    <label data-bind="css: question.cssClasses.radioLabel">
      <input
        type="radio"
        data-bind="event: { change: handleChange }, attr: { name: question.name, 'aria-errormessage': question.ariaErrormessage, value: ''+$data.value, checked: $data.value === question.booleanValue }, enable: !question.isInputReadOnly, css: question.cssClasses.itemRadioControl"
      />
      <!-- ko if: question.cssClasses.materialRadioDecorator -->
      <span data-bind="css: question.cssClasses.materialRadioDecorator">
        <!-- ko if: question.itemSvgIcon -->
        <svg data-bind="css:question.cssClasses.itemRadioDecorator">
          <use data-bind="attr:{'xlink:href':question.itemSvgIcon}" xlink:href=''></use>
        </svg>
        <!-- /ko -->
      </span>
      <!-- /ko -->
      <span data-bind="css: question.cssClasses.radioControlLabel">
        <!-- ko template: { name: 'survey-string', data: $data.locText } -->
        <!-- /ko -->
      </span>
    </label>
  </div>

