@mixin sjs2--typography--large {
  font-family: var(--sjs2-typography-font-family-text);
  font-weight: var(--sjs2-typography-font-weight-basic);
  font-size: var(--sjs2-typography-font-size-large);
  line-height: var(--sjs2-typography-line-height-large);
}

@mixin sjs2--typography--large-strong {
  font-family: var(--sjs2-typography-font-family-text);
  font-weight: var(--sjs2-typography-font-weight-strong);
  font-size: var(--sjs2-typography-font-size-large);
  line-height: var(--sjs2-typography-line-height-large);
}

@mixin sjs2--typography--medium {
  font-family: var(--sjs2-typography-font-family-text);
  font-weight: var(--sjs2-typography-font-weight-basic);
  font-size: var(--sjs2-typography-font-size-medium);
  line-height: var(--sjs2-typography-line-height-medium);
}

@mixin sjs2--typography--medium-strong {
  font-family: var(--sjs2-typography-font-family-text);
  font-weight: var(--sjs2-typography-font-weight-strong);
  font-size: var(--sjs2-typography-font-size-medium);
  line-height: var(--sjs2-typography-line-height-medium);
}

@mixin sjs2--typography--default {
  font-family: var(--sjs2-typography-font-family-text);
  font-weight: var(--sjs2-typography-font-weight-basic);
  font-size: var(--sjs2-typography-font-size-default);
  line-height: var(--sjs2-typography-line-height-default);
}

@mixin sjs2--typography--default-strong {
  font-family: var(--sjs2-typography-font-family-text);
  font-weight: var(--sjs2-typography-font-weight-strong);
  font-size: var(--sjs2-typography-font-size-default);
  line-height: var(--sjs2-typography-line-height-default);
}

@mixin sjs2--typography--default-code {
  font-family: var(--sjs2-typography-font-family-code);
  font-weight: var(--sjs2-typography-font-weight-basic);
  font-size: var(--sjs2-typography-font-size-default);
  line-height: var(--sjs2-typography-line-height-default);
}

@mixin sjs2--typography--small {
  font-family: var(--sjs2-typography-font-family-text);
  font-weight: var(--sjs2-typography-font-weight-basic);
  font-size: var(--sjs2-typography-font-size-small);
  line-height: var(--sjs2-typography-line-height-small);
}

@mixin sjs2--typography--small-strong {
  font-family: var(--sjs2-typography-font-family-text);
  font-weight: var(--sjs2-typography-font-weight-strong);
  font-size: var(--sjs2-typography-font-size-small);
  line-height: var(--sjs2-typography-line-height-small);
}

@mixin sjs2--typography--component--input--content {
  font-family: var(--sjs2-typography-font-family-component-input-content, "Open Sans");
  font-size: var(--sjs2-typography-font-size-component-input-content, 16px);
  font-style: normal;
  font-weight: var(--sjs2-typography-font-weight-component-input-content, 400);
  line-height: var(--sjs2-typography-line-height-component-input-content, 24px);
}

@mixin sjs2--typography--component--question--title {
  font-family: var(--sjs2-typography-font-family-component-question-title, "Open Sans");
  font-size: var(--sjs2-typography-font-size-component-question-title, 16px);
  font-style: normal;
  font-weight: var(--sjs2-typography-font-weight-component-question-title, 600);
  line-height: var(--sjs2-typography-line-height-component-question-title, 24px);
}

@mixin sjs2--typography--component--question--description {
  font-family: var(--sjs2-typography-font-family-component-question-description, "Open Sans");
  font-size: var(--sjs2-typography-font-size-component-question-description, 16px);
  font-style: normal;
  font-weight: var(--sjs2-typography-font-weight-component-question-description, 400);
  line-height: var(--sjs2-typography-line-height-component-question-description, 24px);
}

@mixin sjs2--typography--component--page--title {
  font-family: var(--sjs2-typography-font-family-component-page-title, "Open Sans");
  font-size: var(--sjs2-typography-font-size-component-page-title, 24px);
  font-style: normal;
  font-weight: var(--sjs2-typography-font-weight-component-page-title, 600);
  line-height: var(--sjs2-typography-line-height-component-page-title, 32px);
}

@mixin sjs2--typography--component--page--description {
  font-family: var(--sjs2-typography-font-family-component-page-description, "Open Sans");
  font-size: var(--sjs2-typography-font-size-component-page-description, 16px);
  font-style: normal;
  font-weight: var(--sjs2-typography-font-weight-component-page-description, 400);
  line-height: var(--sjs2-typography-line-height-component-page-description, 24px);
}

@mixin sjs2--typography--component--header--title {
  font-family: var(--sjs2-typography-font-family-component-header-title, "Open Sans");
  font-size: var(--sjs2-typography-font-size-component-header-title, 32px);
  font-style: normal;
  font-weight: var(--sjs2-typography-font-weight-component-header-title, 600);
  line-height: var(--sjs2-typography-line-height-component-header-title, 40px);
}

@mixin sjs2--typography--component--header--description {
  font-family: var(--sjs2-typography-font-family-text, "Open Sans");
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: var(--sjs2-typography-font-weight-basic, 400);
  line-height: var(--sjs2-typography-line-height-default, 24px);
}
