@use "../variables.scss" as *;

.sd-action {
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  gap: var(--sjs2-spacing-x100);
  background: transparent;
  padding: var(--sjs2-spacing-x100) var(--sjs2-spacing-x300);
  color: var(--sjs2-color-component-action-brand-tertiary-default-label, #19B394);
  border-radius: var(--sjs2-radius-component-action, 8px);
  font-weight: 600;
  font-family: $font-family;
  font-style: normal;
  font-size: $font-questiontitle-size;
  line-height: multiply(1.5, $font-questiontitle-size);
  outline: none;
  transition: background-color $transition-duration;
  box-sizing: content-box;
}

.sd-action--negative {
  color: var(--sjs2-color-component-action-alert-tertiary-default-label, #C30935);
}

.sd-action--icon {
  padding: var(--sjs2-spacing-x100);
}

.sd-action__icon {
  margin-left: var(--sjs2-spacing-negative-x100);

  use {
    fill: var(--sjs2-color-component-action-brand-tertiary-default-icon, #19B394);
  }
}

.sd-action--icon {
  .sd-action__icon {
    margin-left: 0;
  }

  use {
    fill: var(--sjs2-color-component-action-neutral-tertiary-default-icon, #424146);
    transition: fill $transition-duration;
  }
}

svg.sd-action--icon {
  fill: var(--sjs2-color-component-action-neutral-tertiary-default-icon, #424146);
}

.sd-action:disabled,
.sd-action--disabled {
  color: var(--sjs2-color-component-action-brand-tertiary-disabled-label, rgba(28, 27, 32, 0.4));
  cursor: default;
  opacity: 0.25;
  pointer-events: none;

  use {
    fill: var(--sjs2-color-component-action-brand-tertiary-disabled-icon, rgba(28, 27, 32, 0.4));
  }
}

.sd-action:where(:not(.sd-action--pressed)):hover,
.sd-action:where(:not(.sd-action--pressed)):focus {
  outline: none;
  background-color: var(--sjs2-color-component-action-brand-tertiary-hovered-bg, rgba(25, 179, 148, 0.1));
  cursor: pointer;
  opacity: 1;

  &.sd-action--icon {
    background-color: var(--sjs2-color-component-action-neutral-tertiary-hovered-bg, rgba(95, 94, 97, 0.1));
  }

  &.sd-action--negative {
    background-color: var(--sjs2-color-component-action-alert-tertiary-hovered-bg, rgba(229, 10, 62, 0.1));

    &.sd-action--icon {
      use {
        fill: var(--sjs2-color-component-action-alert-tertiary-hovered-icon, #C30935);
      }
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.sd-action__icon {
  display: block;
  width: var(--sjs2-size-x300);
  height: var(--sjs2-size-x300);
}

.sd-action--pressed:not(.sd-action--active) {
  background-color: var(--sjs2-color-component-action-brand-tertiary-pressed-bg, rgba(25, 179, 148, 0.1));
  opacity: 0.5;
}
.sd-action-bar {
  & > .sv-dots {
    width: auto;
  }
  & > .sv-action--hidden {
    width: 0;
  }
}
.sd-action.sv-dots__item {
  width: auto;
}
