@use "../variables.scss" as *;

.sd-boolean {
  display: flex;
  width: max-content;
  position: relative;
  gap: calcSize(0.5);
  padding: calcSize(0.5);
  background-color: var(--sjs2-color-component-boolean-default-bg, #F5F5F5);
  border-radius: var(--sjs2-radius-component-boolean, 9999px);
  box-shadow:
    var(--sjs2-border-effect-component-toggle-false-default, inset 0px 1px 2px 0px #D4D4D4),
    $shadow-focused-reset;
  transition: box-shadow $transition-duration;

  &.sd-boolean--allowhover:focus-within {
    box-shadow:
      $shadow-inner-reset,
      $shadow-focused;
  }
}

.sd-boolean__thumb,
.sd-boolean__label {
  display: block;
  font-family: $font-editorfont-family;
  font-weight: $font-editorfont-weight;
  font-size: $font-editorfont-size;
  color: var(--sjs2-color-component-boolean-item-false-default-value, rgba(28, 27, 32, 0.6));
  line-height: multiply(1.5, $font-editorfont-size);
  padding: calcSize(1) calcSize(3);
}

.sd-boolean__switch {
  display: flex;
  padding: calcSize(0.5);
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100%);
  height: calc(100%);
  box-sizing: border-box;
  border-radius: var(--sjs2-radius-component-toggle, 9999px);
  overflow: hidden;
}

.sd-boolean.sd-boolean--checked .sd-boolean__label--true,
.sd-boolean:not(.sd-boolean--checked):not(sd-boolean--indeterminate) .sd-boolean__label--false {
  color: transparent;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: linear;
}

.sd-boolean.sd-boolean--indeterminate .sd-boolean__switch {
  display: none;
}

.sd-boolean--indeterminate .sd-boolean__thumb {
  display: none;
}

.sd-boolean__thumb {
  position: absolute;
  left: calcSize(0.5);
  transform: translateX(0);
  background-color: var(--sjs2-color-component-boolean-item-true-default-bg, #fff);
  box-shadow: $shadow-small;
  border-radius: var(--sjs2-radius-component-toggle-thumb, 9999px);
  transition-duration: 0.2s;
  transition-property: transform, left;
  transition-timing-function: linear;
  color: var(--sjs2-color-component-boolean-item-true-default-value, #19B394);
  font-weight: 600;
  z-index: 2;

  .sv-string-viewer {
    &.sv-string-viewer--multiline {
      white-space: nowrap;
    }
  }
}

.sd-boolean--checked:not(.sd-boolean--exchanged) .sd-boolean__thumb,
.sd-boolean--exchanged:not(.sd-boolean--checked) .sd-boolean__thumb {
  left: calc(100% - calc(0.5 * #{$base-unit}));
  transform: translateX(-100%);
}

:dir(rtl),
[style*="direction:rtl"],
[style*="direction: rtl"] {
  .sd-boolean__thumb {
    left: calcSize(0.5);
    right: unset;
    transform: translateX(100%);
  }

  .sd-boolean--checked:not(.sd-boolean--exchanged) .sd-boolean__thumb,
  .sd-boolean--exchanged:not(.sd-boolean--checked) .sd-boolean__thumb {
    left: calcSize(0.5);
    right: unset;
    transform: translateX(0);
  }
}

.sd-boolean--exchanged {
  &.sd-boolean:not(.sd-boolean--checked):not(sd-boolean--indeterminate) .sd-boolean__label--false,
  &.sd-boolean.sd-boolean--checked .sd-boolean__label--true {
    color: var(--sjs2-color-component-boolean-item-false-default-value, rgba(28, 27, 32, 0.6));
  }
}

.sd-boolean--disabled {
  pointer-events: none;

  .sd-boolean__thumb {
    color: var(--sjs2-color-component-boolean-item-true-disabled-value, #B3B2B2);
    opacity: 0.25;
  }
  .sd-boolean__label {
    color: var(--sjs2-color-component-boolean-item-false-disabled-value, #D4D4D4);
    opacity: 0.25;
  }
}

.sd-boolean--readonly {
  pointer-events: none;
  box-shadow: none;
  transition: none;

  background: var(--sjs2-color-component-boolean-readonly-bg, #fff);

  .sd-boolean__thumb {
    box-shadow: inset 0px 0px 0px 2px $foreground;
    transition: none;
    color: var(--sjs2-color-component-boolean-item-true-readonly-value, #1C1B20);
  }
}

.sd-boolean--preview {
  pointer-events: none;
  box-shadow: none;
  transition: none;
  background: transparent;

  .sd-boolean__thumb {
    border: 1px solid $foreground;
    box-shadow: none;
    transition: none;
    color: $foreground;
  }

  &.sd-boolean--checked,
  &.sd-boolean--indeterminate {
    .sd-boolean__thumb {
      margin-left: auto;
    }
  }

  .sd-checkbox__label--preview {
    color: $foreground;
  }
}

.sd-boolean__thumb-ghost {
  z-index: 1;
  border-radius: var(--sjs2-radius-component-boolean-item, 9999px);
  background-color: transparent;
  transition: background-color $transition-duration;
}

.sd-boolean.sd-boolean--allowhover .sd-boolean__thumb-ghost:hover {
  background-color: var(--sjs2-color-component-boolean-item-false-hovered-bg, #EDEDED);
}

.sd-boolean--error {
  background-color: var(--sjs2-color-component-boolean-invalid-bg, #F5F5F5);
}

.sd-question--boolean {
  .sd-item__control-label {
    display: flex;
  }
}
