@use "../variables.scss" as *;
@use "../mixins.scss" as mixins;

.sd-breadcrumbs {
  display: flex;
  align-items: center;
  align-content: center;
  gap: var(--sjs2-spacing-x100);
  align-self: stretch;
  flex-wrap: wrap;
  padding-bottom: var(--sjs2-spacing-x250);
}

.sd-breadcrumbs-item {
  color: var(--lbr-breadcrumbs-item-text-color, $foreground-dim-light);
  @include mixins.defaultFont;
}

.sd-breadcrumbs-item__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: unset;
  font-size: unset;
  font-family: unset;
  overflow-x: hidden;
  white-space: nowrap;
  .sd-action__title {
    font-size: unset;
    padding: 0;
    font-weight: 400;
    line-height: unset;
    color: unset;
  }
}

.sd-breadcrumbs-separator {
  display: flex;
  width: var(--sjs2-size-x150);
  height: var(--sjs2-size-x150);
  justify-content: center;
  align-items: center;
  use {
    fill: var(--lbr-breadcrumbs-item-separator-color, $foreground-dim-light);
  }
}
