@use "../variables.scss" as *;

.sd-context-btn {
  background-color: var(--sjs2-color-component-panel-default-bg, #fff);
  padding: calcSize(1.5);
  border-radius: var(--sjs2-radius-round, 9999px);
  border: none;
  outline: none;
  cursor: pointer;

  .sv-svg-icon {
    margin: 0;
  }

  svg {
    display: block;
    width: multiply(1.5, $font-editorfont-size);
    height: multiply(1.5, $font-editorfont-size);
  }

  use {
    fill: $font-questionplaceholder-color;
    transition: fill $transition-duration;
  }
}

.sd-context-btn:hover,
.sd-context-btn:focus {
  use {
    fill: var(--sjs2-color-component-action-brand-tertiary-hovered-icon, #19B394);
  }

  &.sd-context-btn--negative {
    use {
      fill: $red;
    }
  }
}

.sd-context-btn:disabled {
  opacity: 0.25;
}

.sd-context-btn--small {
  padding: calcSize(1);

  svg {
    width: multiply(1, $font-editorfont-size);
    height: multiply(1, $font-editorfont-size);
  }
}

.sd-context-btn--with-border {
  --box-shadow-color: #{$border};
  box-shadow: 0 0 0 1px var(--box-shadow-color);
}

.sd-context-btn--colorful {
  use {
    fill: var(--sjs2-color-component-action-brand-tertiary-default-icon, #19B394);
  }

  &.sd-context-btn--negative {
    use {
      fill: #{$red};
    }
  }
}

.sd-context-btn--colorful:focus,
.sd-context-btn--colorful:hover {
  background: linear-gradient(var(--sjs2-color-component-action-brand-tertiary-hovered-bg, rgba(25, 179, 148, 0.1)), var(--sjs2-color-component-action-brand-tertiary-hovered-bg, rgba(25, 179, 148, 0.1))),
    linear-gradient(var(--sjs2-color-component-panel-default-bg, #fff), var(--sjs2-color-component-panel-default-bg, #fff));

  &.sd-context-btn--negative {
    background: linear-gradient($red-light, $red-light), linear-gradient(var(--sjs2-color-component-panel-default-bg, #fff), var(--sjs2-color-component-panel-default-bg, #fff));
  }

  &.sd-context-btn--with-border {
    --box-shadow-color: var(--sjs2-color-component-action-brand-tertiary-hovered-icon, #19B394);

    &.sd-context-btn--negative {
      --box-shadow-color: var(--sjs2-color-component-action-alert-primary-default-bg, #E50A3E);
    }
  }
}
