@use "../variables.scss" as *;
@use "../mixins.scss" as mixins;

.sd-completedpage,
.sd-body--loading,
.sd-completed-before-page {
  align-items: center;
  font-family: $font-family;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  height: auto;
  @include mixins.articleHtml;
  &:not(:has(> *)) {
    @include mixins.articleLargeFont;
  }
}
.sd-completedpage {
  &:has(> *) {
    padding: calcSize(13) 0 calcSize(2) 0;
  }
  padding: calcSize(17) 0 calcSize(6) 0;
}
.sd-body--loading,
.sd-completed-before-page {
  &:has(> *) {
    padding: 0;
  }
  padding: calcSize(4) 0 calcSize(4) 0;
}
