@use "../variables.scss" as *;

.sd-checkbox__decorator {
  border-radius: var(--sjs2-radius-component-checkbox, 4px);
}

.sd-checkbox__svg {
  display: block;
  width: var(--sjs2-size-x200);
  height: var(--sjs2-size-x200);

  use {
    fill: transparent;
    transition: fill $transition-duration;
  }
}

.sd-checkbox--checked .sd-checkbox__svg {
  use {
    fill: var(--sjs2-color-component-check-true-default-icon, #fff);
  }
}

.sd-checkbox--checked.sd-checkbox--disabled .sd-checkbox__svg use {
  fill: var(--sjs2-color-component-check-true-disabled-icon, #B3B2B2);
}
.sd-checkbox--checked .sd-checkbox__control:focus + .sd-checkbox__decorator .sd-checkbox__svg use {
  fill: var(--sjs2-color-component-check-true-focused-icon, #19B394);
}

.sd-checkbox--checked.sd-checkbox--readonly .sd-checkbox__svg use {
  fill: var(--sjs2-color-component-check-true-readonly-icon, #B3B2B2);
}

.sd-checkbox--checked.sd-checkbox--preview .sd-checkbox__svg use {
  fill: $foreground;
}

.sd-checkbox--label-rendered {
  display: flex;
  flex-direction: column;
  gap: var(--sjs2-spacing-x100);

  .sd-description {
    padding-left: var(--sjs2-spacing-x400);
  }
}
