@use "../variables.scss" as *;
@use "../mixins.scss" as mixins;

.sv-dropdown_select-wrapper {
  position: relative;
}

.sv-dropdown_select-wrapper use {
  fill: $font-editorfont-placeholdercolor;
}

.sd-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-inline-end: calcSize(0.5); //padding-right
  padding-inline-start: calcSize(2); //padding-left
  padding-block: calcSize(0.5);

  opacity: 1;
  display: flex;
  justify-content: space-between;
  word-spacing: normal;
  align-items: stretch;
  gap: 0;
}

.sd-dropdown[disabled] {
  pointer-events: none;
}

select.sd-dropdown {
  padding-inline-start: calcSize(2); //padding-left
  padding-inline-end: calcSize(0.5); //padding-right
  padding-block: calcSize(1.5);
  line-height: multiply(1.5, $font-editorfont-size);
  font-family: $font-editorfont-family;
  font-weight: $font-editorfont-weight;
  font-size: $font-editorfont-size;
  &:focus {
    outline: none;
    box-shadow:
      $shadow-inner-reset,
      0 0 0 2px $primary;
  }
}

.sd-dropdown--empty:not(.sd-formbox--disabled),
.sd-dropdown--empty:not(.sd-formbox--disabled) .sd-dropdown__value {
  color: $foreground-light;
}

.sd-dropdown__input-field-component {
  height: auto;
}

.sd-dropdown option {
  color: $foreground;
  font-family: $font-family;
  font-size: calcFontSize(1);
}

.sd-dropdown input[readonly] {
  pointer-events: none;
}

.sd-dropdown__value {
  width: 100%;
  min-height: multiply(1.5, $font-editorfont-size);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: multiply(1.5, $font-editorfont-size);
  font-family: $font-editorfont-family;
  font-weight: $font-editorfont-weight;
  color: $font-editorfont-color;
  font-size: $font-editorfont-size;

  position: relative;
  // display: flex;
  margin-block: calcSize(1);
  margin-inline: 0;
  // flex-direction: column;
  // align-items: flex-start;
  // flex: 1 0 0;
}

.sd-dropdown-action-bar {
  overflow: unset;
  gap: multiply(0.25, $font-editorfont-size);
  margin-inline-start: calcSize(1);
}

.sd-editor-button-item {
  @include mixins.hideButtonStyles;

  display: flex;
  padding: calcSize(1);
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: multiply(0.125, $font-editorfont-size);
  cursor: pointer;

  &:hover {
    background: var(--lbr-editor-button-background-color-hovered, var(--sjs-general-backcolor-dim-dark, #f3f3f3));
    transition: background $transition-duration;
  }
}

.sd-formbox--readonly .sd-editor-button-item:hover,
.sd-formbox--readonly .sd-editor-button-item:focus {
  background: transparent;
}

.sd-editor-button-item--pressed {
  opacity: var(--lbr-editor-button-icon-opacity-pressed, 0.5);
  background: var(--lbr-editor-button-background-color-hovered, var(--sjs-general-backcolor-dim-dark, #f3f3f3));
  transition-property: opacity, background-color;
  transition-duration: $transition-duration;
}

.sv-editor-button-item__icon {
  width: multiply(1.5, $font-editorfont-size);
  height: multiply(1.5, $font-editorfont-size);

  use {
    pointer-events: none;
  }
}

.sd-question--readonly .sd-editor-button-item {
  opacity: var(--lbr-editor-button-icon-opacity-disabled, 0.25);
  cursor: default;
}

.sd-dropdown_chevron-button {
  position: absolute;
  width: calcSize(5);
  top: 0;
  bottom: 0;
  inset-inline-end: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-end: calcSize(0.5);
  box-sizing: content-box;
  cursor: pointer;
}

.sd-dropdown_chevron-button-svg {
  width: multiply(1.5, $font-editorfont-size);
  height: multiply(1.5, $font-editorfont-size);

  use {
    pointer-events: none;
  }
}

.sd-question--readonly .sd-dropdown_chevron-button use {
  opacity: 0.24;
}

.sd-formbox.sd-dropdown:focus-within {
  box-shadow:
    $shadow-inner-reset,
    0 0 0 2px $primary;
}

.sd-formbox.sd-dropdown.sd-formbox--readonly {
  box-shadow: none;
  transition: none;
}

.sd-dropdown__filter-string-input {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  border: none;
  outline: none;
  padding: 0;
  font-family: $font-editorfont-family;
  font-weight: $font-editorfont-weight;
  color: $font-editorfont-color;
  font-size: $font-editorfont-size;
  line-height: multiply(1.5, $font-editorfont-size);
  background-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  appearance: none;
}

.sd-dropdown--empty:not(.sd-formbox--disabled) .sd-dropdown__filter-string-input::placeholder {
  color: $font-editorfont-placeholdercolor;
}

.sd-dropdown__filter-string-input::placeholder {
  color: $foreground;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  appearance: none;
}

.sd-dropdown__hint-prefix {
  color: $font-editorfont-placeholdercolor;
  display: flex;
  align-items: center;

  span {
    white-space: pre;
  }
}

.sd-dropdown__hint-suffix {
  display: flex;
  color: $font-editorfont-placeholdercolor;

  span {
    white-space: pre;
  }
}

.sd-dropdown.sd-formbox--disabled,
.sd-dropdown.sd-formbox--readonly,
.sd-dropdown.sd-formbox--preview {
  .sv-string-viewer {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.sv-dropdown-popup {
  .sd-list__item-body {
    line-height: multiply(1.5, $font-editorfont-size);
    font-size: $font-editorfont-size;
    font-weight: $font-editorfont-weight;
    font-family: $font-editorfont-family;
    padding-inline-end: calcSize(1.75);
    padding-block: calcSize(1.25);
    padding-inline-start: calcSize(1.75);
    border: calcSize(0.25) solid transparent;
    border-radius: calcCornerRadius(1);
    transition: border-color $transition-duration;
  }

  .sv-list__item.sv-list__item--focused:not(.sv-list__item--selected) {
    .sv-list__item-body {
      @include mixins.borderLight;
      padding-inline-end: calcSize(1.75);
      padding-block: calcSize(1.25);
      padding-inline-start: calcSize(1.75);
    }
  }
}

.sv-dropdown-popup.sv-popup--menu-tablet,
.sv-dropdown-popup.sv-popup--menu-phone {
  .sd-list__item-body {
    font-family: $font-family;
    font-size: $font-size;
    line-height: multiply(1.5, $font-size);
    font-weight: 400;
  }
}

.sv-dropdown-popup.sv-single-select-list.sv-popup--leave {
  .sd-list__item.sv-list__item--selected {
    .sv-list__item-body {
      font-weight: normal;
      color: $font-questiontitle-color;
      background-color: transparent;
    }
  }
}

// .sv-dropdown-popup.sv-popup--menu-popup {
//   .sv-popup__body-content {
//     padding: calcSize(0.5) 0;
//   }
// }

.sv-dropdown-popup.sv-popup--menu-popup.sv-popup--top {
  .sv-popup__container {
    transform: translateY(-2px);
  }
}

.sv-dropdown-popup.sv-popup--menu-popup.sv-popup--bottom {
  .sv-popup__container {
    transform: translateY(2px);
  }
}

:dir(rtl),
[style*="direction:rtl"],
[style*="direction: rtl"] {
  .sd-dropdown {
    background-position:
      left calcSize(1.5) top 50%,
      0 0;
  }
}

.sv-list-item--custom-value .sv-list__item-body {
  font-weight: bold;
  color: $primary;
}
