@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

.sd-expression {
  @include sjs2--typography--default;
  color: $font-questiontitle-color;
  white-space: break-spaces;
}

.sd-question__content--left .sd-expression {
  line-height: var(--sjs2-line-height-x300);
  padding: var(--sjs2-spacing-x150) 0;
}