@use "../variables.scss" as *;

.sd-expression {
  color: $font-questiontitle-color;
  font-size: calcFontSize(1);
  white-space: break-spaces;
}

.sd-question__content--left .sd-expression {
  line-height: var(--sjs2-line-height-x300);
  padding: var(--sjs2-spacing-x150) 0;
}