@use "../variables.scss" as *;

.sd-formbox {
    position: static;
    width: 100%;
    box-sizing: border-box;
    padding: calcSize(0.5);
    display: flex;
    gap: calcSize(0.5);
    align-items: center;
    color: $font-editorfont-color;
    background-color: $editor-background;
    border: none;
    border-radius: $editor-corner-radius;
    text-align: start;
    align-items: center;
    box-shadow:
        $shadow-inner,
        0 0 0 0px $primary;
    transition: box-shadow $transition-duration;
}
.sd-formbox {
    .sd-formbox {
        display: contents;
    }
}
.sd-formbox__group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: calcSize(0.5);
}
.sd-formbox__input {
    padding: calcSize(1) calcSize(1.5);
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    width: 100%;
    color: inherit;
    line-height: multiply(1.5, $font-editorfont-size);
    font-family: $font-editorfont-family;
    font-weight: $font-editorfont-weight;
    font-size: $font-editorfont-size;
}

.sd-formbox:focus-within {
    box-shadow:
        $shadow-inner-reset,
        0 0 0 2px $primary;
}
.sd-formbox__input:focus {
    outline: none;
}

//for IPHONE
.sd-formbox:not(.sd-formbox--disabled) {
    input,
    textarea {
        &.sd-formbox__input:disabled {
            opacity: 1;
        }
    }
}

.sd-formbox--disabled {
    background-color: $editor-background;
}

.sd-formbox--readonly {
    background-color: $background-dark;
}

.sd-formbox.sd-formbox--preview {
    background: none;
    box-shadow: none;
    transition: none;
    border-bottom: 1px solid $foreground;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.sd-formbox__input::placeholder {
    color: $font-editorfont-placeholdercolor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sd-formbox.sd-formbox--disabled,
.sd-formbox.sd-formbox--disabled .sd-formbox__input::placeholder {
    color: $foreground;
    opacity: 0.25;
}

.sd-formbox.sd-formbox--readonly {
    color: $foreground;
    box-shadow: none;
    transition: none;
}

.sd-formbox.sd-formbox--readonly::placeholder {
    color: $foreground-light;
}

.sd-root--readonly .sd-formbox--disabled,
.sd-root--readonly .sd-formbox--disabled::placeholder {
    color: $foreground;
}

.sd-formbox--error {
    background-color: $red-light;
}
.sd-formbox__character-counter {
    display: none;
    padding: calcSize(0.75) calcSize(1);
    font-family: $font-family;
    line-height: calcLineHeight(1);
    font-size: calcFontSize(0.75);
    color: $font-editorfont-placeholdercolor;
}

.sd-formbox:focus-within {
    .sd-formbox__character-counter {
        display: block;
    }
}

@mixin runnable-track {
    background-color: $primary;
    border-radius: calcSize(1);
    height: calcSize(1.5);
}

@mixin slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: calcSize(-0.75);
    border-radius: 100%;
    border: 2px solid $primary;
    box-shadow: inset 0 0 0 2px var(--background, #fff);
    background-color: $primary;
    height: calcSize(3);
    width: calcSize(3);
}

.sd-formbox__input[type="time"],
.sd-formbox__input[type="date"],
.sd-formbox__input[type="datetime-local"],
.sd-formbox__input[type="week"],
.sd-formbox__input[type="month"],
.sd-formbox__input[type="tel"],
.sd-formbox__input[type="password"],
.sd-formbox__input[type="url"],
.sd-formbox__input[type="email"],
.sd-formbox__input[type="color"],
.sd-formbox__input[type="range"] {
    box-sizing: content-box;
    width: calc(100% - 4 * #{$base-unit});
    height: multiply(1.5, $font-editorfont-size);
}

.sd-formbox__input[type="range"]::-webkit-slider-runnable-track {
    @include runnable-track;
}

.sd-formbox__input[type="range"]::-webkit-slider-thumb {
    @include slider-thumb;
}

//mozilla
.sd-formbox__input[type="range"]::-moz-range-track {
    @include runnable-track;
}

.sd-formbox__input[type="range"]::-moz-range-thumb {
    @include slider-thumb;
}
