@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

.sd-formbox {
    position: static;
    width: 100%;
    box-sizing: border-box;
    padding: var(--sjs2-spacing-x050);
    display: flex;
    gap: var(--sjs2-spacing-x050);
    align-items: center;
    background: var(--sjs2-color-component-formbox-default-bg);
    border: none;
    border-radius: var(--sjs2-radius-component-formbox);
    text-align: start;
    box-shadow:
        var(--sjs2-border-effect-component-formbox-default),
        var(--sjs2-border-effect-component-formbox-focused-reset);
    transition: box-shadow $transition-duration;
}
.sd-formbox:where(:hover) {
    background: var(--sjs2-color-component-formbox-hovered-bg);
    box-shadow:
        var(--sjs2-border-effect-component-formbox-default-reset),
        var(--sjs2-border-effect-component-formbox-hovered);
}
.sd-formbox:where(:focus-within) {
    background: var(--sjs2-color-component-formbox-focused-bg);
    box-shadow:
        var(--sjs2-border-effect-component-formbox-default-reset),
        var(--sjs2-border-effect-component-formbox-focused);

    .sd-formbox__character-counter {
        display: block;
    }
}
.sd-formbox--readonly {
    border-radius: var(--sjs2-radius-component-formbox);
    background: var(--sjs2-color-component-formbox-readonly-bg);
    box-shadow: var(--sjs2-border-effect-component-formbox-readonly);

    .sd-formbox__input {
        cursor: default;
    }
}
.sd-formbox--preview {
    background: none;
    box-shadow: none;
    transition: none;
    border-bottom: 1px solid $foreground;
    border-radius: 0;
    &,
    .sd-formbox__input {
        padding-left: 0;
        padding-right: 0;
    }
    .sd-formbox__label {
        border: none;
    }
}
.sd-formbox--error {
    background: var(--sjs2-color-component-formbox-invalid-bg);
    box-shadow: var(--sjs2-border-effect-component-formbox-invalid);
}
.sd-formbox--error:where(:focus-within) {
    background: var(--sjs2-color-component-formbox-invalid-focused-bg);
    box-shadow: var(--sjs2-border-effect-component-formbox-invalid-focused);
}

.sd-formbox {
    .sd-formbox {
        display: contents;
    }
}
.sd-formbox__group {
    align-items: stretch;
    align-self: stretch;
    justify-content: flex-end;
    --sd-action-bar-gap: var(--sjs2-spacing-x050);
    .sd-action {
        --sd-action-border-radius: var(--sjs2-radius-component-formbox-action);
        --sd-action-icon-size: var(--sjs2-typography-line-height-component-input-content);
    }
    .sd-action-bar__item {
        height: 100%;
    }
    .sd-action-bar__item-content {
        height: 100%;
    }
}
.sd-formbox__input {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    width: 100%;
    min-width: 0;
    color: var(--sjs2-color-component-input-default-value);
    text-overflow: ellipsis;

    @include sjs2--typography--component--input--content;

    min-height: calc(
        var(--sjs2-typography-line-height-component-input-content) + var(--sjs2-spacing-x100) * 2
    );
    padding: var(--sjs2-spacing-x100) var(--sjs2-spacing-x150);
    margin: 0;
    &::placeholder {
        color: var(--sjs2-color-component-input-default-placeholder);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    &:disabled {
        opacity: 1;
    }
    &:focus {
        outline: none;
    }
    &::-webkit-datetime-edit-fields-wrapper {
        padding: 0;
    }
}
.sd-formbox__label {
    height: calc(100% - var(--sjs2-spacing-x300));
    padding: var(--sjs2-spacing-x100) calc(var(--sjs2-spacing-x150) + var(--sjs2-spacing-x050))
        var(--sjs2-spacing-x100) var(--sjs2-spacing-x150);
    max-width: 30%;
    border-right: var(--sjs2-border-width-default) solid var(--sjs2-color-component-input-default-line);
    box-sizing: content-box;
    white-space: normal;
    color: var(--sjs2-color-component-input-default-label);
    @include sjs2--typography--component--input--content;
}

.sd-formbox__character-counter {
    display: none;
    padding: var(--sjs2-spacing-x075) var(--sjs2-spacing-x100);
    color: var(--sjs2-color-component-input-default-limit);
    @include sjs2--typography--small;
    align-self: center;
}

@mixin runnable-track {
    background-color: $primary;
    border-radius: var(--sjs2-radius-x100);
    height: var(--sjs2-size-x150);
}

@mixin slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: var(--sjs2-spacing-negative-x075);
    border-radius: 100%;
    border: 2px solid $primary;
    box-shadow: inset 0 0 0 2px var(--sjs2-color-bg-basic-primary);
    background-color: $primary;
    height: var(--sjs2-size-x300);
    width: var(--sjs2-size-x300);
}

.sd-formbox__input[type="range"]::-webkit-slider-runnable-track {
    @include runnable-track;
}

.sd-formbox__input[type="range"]::-webkit-slider-thumb {
    @include slider-thumb;
}

//mozilla
.sd-formbox__input[type="range"]::-moz-range-track {
    @include runnable-track;
}

.sd-formbox__input[type="range"]::-moz-range-thumb {
    @include slider-thumb;
}

// TODO: refactor
.sd-formbox__input[type="time"]:not(.sd-formbox__input--value-changed),
.sd-formbox__input[type="date"]:not(.sd-formbox__input--value-changed),
.sd-formbox__input[type="datetime-local"]:not(.sd-formbox__input--value-changed),
.sd-formbox__input[type="week"]:not(.sd-formbox__input--value-changed),
.sd-formbox__input[type="month"]:not(.sd-formbox__input--value-changed) {
    color: var(--sjs2-color-component-input-default-placeholder);
}