@use "../variables.scss" as *;
@use "../mixins.scss" as mixins;

.sd-formbox-button {
    @include mixins.hideButtonStyles;
    display: flex;
    padding: calcSize(1);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: multiply(0.125, $font-editorfont-size);
    cursor: pointer;
    &:hover {
        background: var(--lbr-editor-button-background-color-hovered, var(--sjs-general-backcolor-dim-dark, #f3f3f3));
        transition: background $transition-duration;
    }
}

.sd-formbox-button--pressed {
    opacity: var(--lbr-editor-button-icon-opacity-pressed, 0.5);
    background: var(--lbr-editor-button-background-color-hovered, var(--sjs-general-backcolor-dim-dark, #f3f3f3));
    transition-property: opacity, background-color;
    transition-duration: $transition-duration;
}

.sd-formbox-button__icon {
    width: multiply(1.5, $font-editorfont-size);
    height: multiply(1.5, $font-editorfont-size);

    use {
        pointer-events: none;
    }
}
