@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

.sd-item {
  display: flex;
  padding: var(--sjs2-spacing-x150) 0;
}

.sd-item__decorator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sjs2-size-x300);
  height: var(--sjs2-size-x300);
  box-sizing: border-box;
  background-color: var(--sjs2-color-component-check-false-default-bg, #F5F5F5);
  border: none;
  flex-shrink: 0;
  margin-top: calc(calc(multiply(1.5, $font-editorfont-size) - var(--sjs2-spacing-x300)) / 2);
  box-shadow: var(--sjs2-border-effect-component-check-false-default, inset 0px 1px 2px 0px #D4D4D4), $shadow-focused-reset;
  transition: box-shadow $transition-duration, background $transition-duration;
}

.sd-item--disabled.sd-item--disabled {
  .sd-item__decorator {
    background-color: var(--sjs2-color-component-check-false-disabled-bg, #fff);
    box-shadow: var(--sjs2-border-effect-component-check-false-disabled, inset 0px 0px 0px 1px #F5F5F5), $shadow-focused-reset;
  }
}
  

.sd-item--readonly.sd-item--readonly {
  &.sd-item:not(.sd-item--checked) .sd-item__control:focus + .sd-item__decorator,
  .sd-item__decorator {
    background-color: var(--sjs2-color-component-check-false-readonly-bg, #fff);
    box-shadow: none;
    transition: none;
  }
}

.sd-item--preview.sd-item--preview .sd-item__decorator {
  background-color: transparent;
  box-shadow: none;
  transition: none;
}

.sd-item--checked .sd-item__decorator {
  box-shadow: var(--sjs2-border-effect-component-check-true-default, inset 0px 1px 2px 0px #19B394);
  background: var(--sjs2-color-component-check-true-default-bg, #19B394);
}

.sd-item__control:focus-visible+.sd-item__decorator {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: var(--sjs2-size-x300);
    height: var(--sjs2-size-x300);
    border-radius: var(--sjs2-radius-component-checkbox, 4px);
    box-shadow: 0px 0px 0px var(--sjs2-border-width-a11y, 4px) var(--sjs2-color-utility-a11y, rgba(102, 180, 252, 0.60));
  }
}

.sd-item--allowhover:not(.sd-item--readonly) .sd-selectbase__label:hover .sd-item__decorator {
  background: var(--sjs2-color-component-check-false-hovered-bg, #EDEDED);
  outline: none;
}


.sd-item__control-label {
  @include sjs2--typography--component--input--content;
  font-style: normal;
  color: $font-questiontitle-color;
  white-space: normal;
  width: 100%;
  text-align: start;
  min-width: 0;

  .sv-string-viewer {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}

.sd-item--disabled .sd-item__control-label {
  color: var(--sjs2-color-fg-basic-primary-disabled, rgba(28, 27, 32, 0.40));
}

.sd-root--readonly .sd-item--disabled .sd-item__control-label {
  color: $font-questiontitle-color;
}

.sd-item--error .sd-item__decorator {
  background: $red-light;
  box-shadow: var(--sjs2-border-effect-component-check-false-invalid, inset 0px 0px 0px 1px #E50A3E);
}