@use "../variables.scss" as *;

.sd-item {
  display: flex;
  padding: calcSize(1.5) 0;
}

.sd-item__decorator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calcSize(3);
  height: calcSize(3);
  box-sizing: border-box;
  background-color: var(--sjs2-color-component-check-false-default-bg, #F5F5F5);
  border: none;
  flex-shrink: 0;
  margin-top: calc(calc(multiply(1.5, $font-editorfont-size) - calcSize(3)) / 2);
  box-shadow: var(--sjs2-border-effect-component-check-false-default, inset 0px 1px 2px 0px #D4D4D4), $shadow-focused-reset;
  transition: box-shadow $transition-duration, background $transition-duration;
}

.sd-item--disabled.sd-item--disabled .sd-item__decorator {
  background-color: var(--sjs2-color-component-check-false-disabled-bg, #fff);
  box-shadow: var(--sjs2-border-effect-component-check-false-disabled, inset 0px 0px 0px 1px #F5F5F5), $shadow-focused-reset;
}

.sd-item--readonly.sd-item--readonly {
  &.sd-item:not(.sd-item--checked) .sd-item__control:focus + .sd-item__decorator,
  .sd-item__decorator {
    background-color: var(--sjs2-color-component-check-false-readonly-bg, #fff);
    box-shadow: none;
    transition: none;
  }
}

.sd-item--preview.sd-item--preview .sd-item__decorator {
  background-color: transparent;
  box-shadow: none;
  transition: none;
}

.sd-item--checked .sd-item__decorator {
  box-shadow: var(--sjs2-border-effect-component-check-true-default, inset 0px 1px 2px 0px #19B394);
}

.sd-item__control:focus+.sd-item__decorator {
  background: var(--sjs2-color-component-check-false-focused-bg, #F5F5F5);
  outline: none;
  box-shadow: $shadow-inner-reset, $shadow-focused;
}

.sd-item--allowhover:not(.sd-item--readonly) .sd-selectbase__label:hover .sd-item__decorator {
  background: var(--sjs2-color-component-check-false-hovered-bg, #EDEDED);
  outline: none;
}

.sd-item--checked .sd-item__decorator {
  background: var(--sjs2-color-component-check-true-default-bg, #19B394);
}

.sd-item__control-label {
  font-family: $font-editorfont-family;
  font-style: normal;
  font-weight: $font-editorfont-weight;
  line-height: multiply(1.5, $font-editorfont-size);
  font-size: $font-editorfont-size;
  color: $font-questiontitle-color;
  white-space: normal;
  width: 100%;
  text-align: start;
  min-width: 0;

  .sv-string-viewer {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}

.sd-item--disabled .sd-item__control-label {
  color: $font-questiontitle-color;
  opacity: 0.25;
}

.sd-root--readonly .sd-item--disabled .sd-item__control-label {
  color: $font-questiontitle-color;
}

.sd-item--error .sd-item__decorator {
  background: $red-light;
}