.sd-imagemap {
    position: relative;
}

.sd-imagemap-background {
    display: block;
    width: 100%;
}

.sd-imagemap-canvas-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sd-imagemap-canvas-selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sd-imagemap-canvas-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity 0.4s ease;
}
.sd-imagemap-canvas-hover--hidden {
    opacity: 0;
    transition: none;
}

.sd-imagemap-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
