@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

.sd-item {
  display: flex;
  padding: calc(var(--sjs2-layout-component-labeled-group-box-gap-vertical) / 2) 0;

  &:where(:first-child:not(.sd-selectbase__item--inline)) {
    padding-top: var(--sjs2-layout-component-labeled-group-box-padding-vertical);
  }
  &:where(:last-child:not(.sd-selectbase__item--inline)) {
    padding-bottom: var(--sjs2-layout-component-labeled-group-box-padding-vertical);
  }
}

.sd-item__decorator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sjs2-size-x300);
  height: var(--sjs2-size-x300);
  box-sizing: border-box;
  border: none;
  flex-shrink: 0;
  margin-bottom: var(--sjs2-layout-component-labeled-item-box-padding-vertical);
  transition:
    box-shadow $transition-duration,
    background $transition-duration;
}

.sd-item--preview.sd-item--preview .sd-item__decorator {
  background-color: transparent;
  box-shadow: none;
  transition: none;
}

.sd-item__control-label {
  @include sjs2--typography--component--label--content;
  color: var(--sjs2-color-component-label-default-text);
  white-space: normal;
  width: 100%;
  text-align: start;
  min-width: 0;

  .sv-string-viewer {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-block: 0.35em;
    margin-block: -0.35em;
  }
}

.sd-item--disabled .sd-item__control-label {
  color: var(--sjs2-color-component-label-disabled-text);
}

.sd-root--readonly .sd-item--disabled .sd-item__control-label {
  color: $font-questiontitle-color;
}
