@use "../variables.scss" as *;

.sd-list {
  // padding-right: var(--sjs2-spacing-x050);
  // padding-left: var(--sjs2-spacing-x050);
}

.sd-list__item {
  // padding: 0;
}

.sd-list__item-body {
  padding-block: var(--sjs2-spacing-x150);
  border-radius: var(--sjs2-radius-component-drop-item, 8px);
  font-size: calcFontSize(1);
  line-height: calcLineHeight(1.5);
}

.sd-list__item.sd-list__item--focused:not(.sd-list__item--selected) {
  outline: none;

  .sd-list__item-body {
    padding-block: calc(var(--sjs2-base-unit-spacing) * 1.25);
  }
}