.sd-matrixdropdown {
    .sd-table__cell--header.sd-table__cell--empty {
        min-width: var(--sd-table-cell-min-width);
    }
    .sd-table__cell--header.sd-table__cell--action {
        min-width: var(--sjs2-size-x300);
        width: var(--sjs2-size-x300);
    }
    .sd-table__cell--header:not(.sd-table__cell--empty) {
        min-width: var(--sd-table-cell-min-width);

        &.sd-table__cell--dropdown,
        &.sd-table__cell--rating {
            min-width: calc(var(--sjs2-base-unit-size) * 22);
        }

        &.sd-table__cell--boolean {
            min-width: calc(var(--sjs2-base-unit-size) * 18);
        }
    }
}
