@use "../variables.scss" as *;

.sd-question--matrixdynamic {
  --sd-matrixdynamic-toolbar-padding-block-start: var(--sjs2-layout-component-panel-footer-padding-top);
  --sd-matrixdynamic-toolbar-padding-block-end: var(--sjs2-layout-component-panel-footer-padding-bottom);
  --sd-matrixdynamic-toolbar-padding-inline: var(--sjs2-layout-component-panel-footer-padding-left)
    var(--sjs2-layout-component-panel-footer-padding-right);
  --sd-matrixdynamic-toolbar-gap: var(--sjs2-layout-component-panel-footer-action-group-gap);
}
.sd-question--matrixdynamic:where(.sd-question--nested) {
  --sd-matrixdynamic-toolbar-padding-block-start: var(--sjs2-layout-component-panel-nested-footer-padding-top);
  --sd-matrixdynamic-toolbar-padding-block-end: var(--sjs2-layout-component-panel-nested-footer-padding-bottom);
  --sd-matrixdynamic-toolbar-padding-inline: var(--sjs2-layout-component-panel-nested-footer-padding-left)
    var(--sjs2-layout-component-panel-nested-footer-padding-right);
  --sd-matrixdynamic-toolbar-gap: var(--sjs2-layout-component-panel-nested-footer-action-group-gap);
}

.sd-matrixdynamic__btn.sd-matrixdynamic__add-btn {
  position: sticky;
  left: calc(var(--sjs2-spacing-negative-x150) + var(--sjs2-spacing-negative-x025));
  z-index: 12;
}

.sd-matrixdynamic__toolbar {
  position: sticky;
  left: 0;
  box-sizing: border-box;
  padding-inline: var(--sd-matrixdynamic-toolbar-padding-inline);
  --sd-action-bar-gap: var(--sd-matrixdynamic-toolbar-gap);
}
.sd-matrixdynamic__toolbar--bottom {
  padding-block-start: var(--sd-matrixdynamic-toolbar-padding-block-start);
  padding-block-end: var(--sd-matrixdynamic-toolbar-padding-block-end);
}
.sd-matrixdynamic__toolbar--top {
  padding-block-end: var(--sd-matrixdynamic-toolbar-padding-block-start);
  padding-block-start: var(--sd-matrixdynamic-toolbar-padding-block-end);
}
.sd-matrixdynamic__content > div {
  display: contents;
}

.sd-matrixdynamic__drag-element {
  padding: var(--sjs2-spacing-x200);

  &:hover {
    background-color: $background;
  }

  &:after {
    content: " ";
    display: block;
    height: var(--sjs2-size-x050);
    width: var(--sjs2-size-x200);
    border: 1px solid $border;
    box-sizing: border-box;
    border-radius: calc(var(--sjs2-base-unit-radius) * 1.25);
  }
}

.sd-matrixdynamic__placeholder {
  .sd-matrixdynamic__add-btn {
    margin-left: 0;
  }
}

.sd-drag-element__svg {
  width: var(--sjs2-size-x300);
  height: var(--sjs2-size-x300);
  display: block;
  cursor: pointer;
  use {
    fill: var(--sjs2-color-component-action-brand-tertiary-default-icon);
  }
}

@keyframes paddingAnimation {
  from {
    padding-top: 0;
    padding-bottom: 0;
  }

  to {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@keyframes empty {
  from {
  }

  to {
  }
}

.sd-table__row--leave,
.sd-table__row--enter {
  animation-name: empty;
  --move-whole-animation-duration: calc(var(--move-animation-duration) + var(--move-animation-delay));
  --fade-whole-animation-duration: calc(var(--fade-animation-duration) + var(--fade-animation-delay));
  animation-duration: max(var(--fade-whole-animation-duration), var(--move-whole-animation-duration));

  & > td {
    animation-name: paddingAnimation;
    animation-direction: var(--animation-direction);
    animation-timing-function: var(--animation-timing-function);
    animation-duration: var(--move-animation-duration);
    animation-fill-mode: forwards;
    animation-delay: var(--move-animation-delay);

    & > div {
      animation-name: fadeIn, moveInWithOverflow;
      opacity: 0;
      animation-direction: var(--animation-direction);
      animation-timing-function: var(--animation-timing-function);
      animation-fill-mode: forwards;
      animation-duration: var(--fade-animation-duration), var(--move-animation-duration);
      animation-delay: var(--fade-animation-delay), var(--move-animation-delay);
    }
  }
}
.sd-table__row--enter {
  --move-animation-delay: 0s;
  --move-animation-duration: #{$matrix-row-move-in-duration};
  --fade-animation-duration: #{$matrix-row-fade-in-duration};
  --fade-animation-delay: #{$matrix-row-fade-in-delay};
  --animation-direction: normal;
  --animation-timing-function: #{$ease-out};
}

.sd-table__row--leave {
  --move-animation-delay: #{$matrix-row-move-out-delay};
  --move-animation-duration: #{$matrix-row-move-out-duration};
  --fade-animation-duration: #{$matrix-row-fade-out-duration};
  --fade-animation-delay: 0s;
  --animation-direction: reverse;
  --animation-timing-function: #{$reverse-ease-out};
}

.sd-table__row--detail {
  &.sd-table__row--enter,
  &.sd-table__row--leave {
    & > td {
      animation-name: paddingAnimation;
      animation-duration: var(--move-animation-duration);
      animation-fill-mode: forwards;
      animation-direction: var(--animation-direction);
      animation-timing-function: var(--animation-timing-function);
    }
  }

  &.sd-table__row--enter {
    --move-animation-delay: 0s;
    --move-animation-duration: #{$matrix-detail-row-move-in-duration};
    --fade-animation-duration: #{$matrix-detail-row-fade-in-duration};
    --fade-animation-delay: #{$matrix-detail-row-fade-in-delay};
    --animation-direction: normal;
    --animation-timing-function: #{$ease-out};
  }

  &.sd-table__row--leave {
    --move-animation-delay: #{$matrix-detail-row-move-out-delay};
    --move-animation-duration: #{$matrix-detail-row-move-out-duration};
    --fade-animation-duration: #{$matrix-detail-row-fade-out-duration};
    --fade-animation-delay: 0s;
    --animation-direction: reverse;
    --animation-timing-function: #{$reverse-ease-out};
  }
}

.sd-question--mobile {
  .sd-table__row--leave,
  .sd-table__row--enter {
    animation-name: fadeIn, moveInWithOverflow;
    opacity: 0;
    animation-direction: var(--animation-direction);
    animation-timing-function: var(--animation-timing-function);
    animation-fill-mode: forwards;
    animation-duration: var(--fade-animation-duration), var(--move-animation-duration);
    animation-delay: var(--fade-animation-delay), var(--move-animation-delay);
    & > td {
      animation: none;
      & > div {
        animation: none;
        opacity: 1;
      }
    }
  }
}

.sd-question--mobile {
  .sd-matrixdynamic__toolbar {
    border-top: 1px solid $border-light;
    padding-top: var(--sjs2-layout-component-panel-dynamic-footer-padding-top);
    padding-bottom: var(--sjs2-layout-component-panel-dynamic-footer-padding-bottom);
    padding-inline-start: var(--sjs2-layout-component-panel-dynamic-footer-padding-left);
    padding-inline-end: var(--sjs2-layout-component-panel-dynamic-footer-padding-right);
  }
}

.sd-matrixdynamic__placeholder {
  box-sizing: border-box;
  padding-inline: var(--sjs2-layout-component-matrix-box-padding-left)
    var(--sjs2-layout-component-matrix-box-padding-right);
  padding-block: var(--sjs2-layout-component-matrix-box-padding-top)
    var(--sjs2-layout-component-matrix-box-padding-bottom);
}
