@use "../variables.scss" as *;

.sd-body__navigation {
  box-sizing: border-box;
  padding: var(--sjs2-spacing-x400) var(--sjs2-spacing-x500);
  flex-wrap: wrap;
  --sd-action-bar-gap: var(--sjs2-spacing-x200);
}

.sv-components-container-contentTop .sd-body__navigation {
  padding-top: 0;
}

.sd-root-modern--mobile .sd-body__navigation {
  .sd-action-bar__item:not(.sd-action-bar__item--hidden),
  .sd-action {
    flex-grow: 1;
  }

  .sd-action {
    padding: var(--sjs2-spacing-x200) var(--sjs2-spacing-x400);
  }
}
