@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

.sd-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--sjs2-spacing-x500);
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--sjs2-radius-component-page, 12px);
}

.sd-root-modern--mobile .sd-page {
  padding: 0;
}

.sd-page .sd-page__title {
  @include sjs2--typography--component--page--title;
  color: $font-pagetitle-color;
  position: static;
  margin: 0 0 calcSize(0.5) 0px;
}

.sd-page .sd-page__description {
  @include sjs2--typography--component--page--description;
  color: $font-pagedescription-color;
  position: static;
  margin: 0 0 calcSize(0.5) 0;
}


.sd-page__errbox {
  padding: calc(0.5 * var(--sd-base-vertical-padding) + #{$base-unit}) var(--sd-base-padding);
}

.sd-page__title,
.sd-page__description {
  &~.sd-page__errbox {
    margin-top: calc(0.5 * var(--sd-base-vertical-padding) + #{$base-unit});
    margin-bottom: var(--sjs2-spacing-negative-x100);
  }
}

.sd-root--compact {

  .sd-page__title,
  .sd-page__description {
    &~.sd-page__errbox {
      margin-bottom: 0;
    }
  }
}