@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

.sd-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--sjs2-layout-component-page-content-area-padding-horizontal);
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--sjs2-radius-component-page);

  // row-gap: var(--sjs2-layout-component-page-content-area-gap-vertical);
  // TODO: Discuss with design team about the gap between page header and content. It is not clear if it should be the same as the gap between content areas or not.
  row-gap: var(--sjs2-spacing-x300);
  column-gap: var(--sjs2-layout-component-page-content-area-gap-horizontal);
}

.sd-page__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--sjs2-layout-component-page-header-gap-vertical);
  margin: 0 0 var(--sjs2-layout-component-page-header-gap-vertical) 0;
}

.sd-page__title {
  @include sjs2--typography--component--page--title;
  position: static;
  padding-inline-start:  var(--sjs2-layout-component-page-title-padding-horizontal);
  padding-inline-end: var(--sjs2-layout-component-page-title-padding-horizontal);
  padding-top: var(--sjs2-layout-component-page-title-padding-vertical);
  padding-bottom: var(--sjs2-layout-component-page-title-padding-vertical);
}

.sd-page__description {
  @include sjs2--typography--component--page--description;
  position: static;
  padding-inline-start:  var(--sjs2-layout-component-page-description-padding-horizontal);
  padding-inline-end: var(--sjs2-layout-component-page-description-padding-horizontal);
  padding-top: var(--sjs2-layout-component-page-description-padding-top);
  padding-bottom: var(--sjs2-layout-component-page-description-padding-bottom);
}

.sd-page__content {
  display: flex;
  flex-direction: column;
  gap: var(--sjs2-spacing-x200);
  width: 100%;
  box-sizing: border-box;
}

.sd-root-modern--mobile {
  .sd-page {
    padding: 0;
  }
}

.sd-page__errbox {
  padding: calc(0.5 * var(--sd-base-vertical-padding) + var(--sjs2-spacing-x100)) var(--sd-base-padding);
}

.sd-root--compact {

  // TODO: remove after new tokens are released, it is a temporary fix to keep screenshot
  // .sd-page__header ~ .sd-page__content {
  //   .sd-page__errbox {
  //     margin-top: var(--sjs2-spacing-negative-x100);
  //   }
  // }

  .sd-page {
    row-gap: var(--sd-base-vertical-padding);
  }

  .sd-page__content {
    row-gap: var(--sd-base-vertical-padding);
  }
}
