@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

@mixin button-hover {
  background-color: var(--sjs2-color-bg-basic-secondary-dim);

  .sd-progress-buttons__dot {
    width: var(--sjs2-size-x125);
    height: var(--sjs2-size-x125);
    background-color: var(--sjs2-color-fg-basic-secondary);
  }
}

@mixin button-current {
  border: 2px solid var(--sjs2-color-border-brand-primary);
  background-color: var(--sjs2-color-bg-basic-primary);

  .sd-progress-buttons__dot {
    width: var(--sjs2-size-x125);
    height: var(--sjs2-size-x125);
    background-color: var(--sjs2-color-fg-brand-primary);
  }
}

@mixin button-hover-passed {
  background-color: var(--sjs2-color-bg-brand-primary-dim);
  border-color: var(--sjs2-color-bg-brand-primary-dim);
}

@mixin button-current-passed {
  background-color: var(--sjs2-color-bg-basic-primary);
  border: 2px solid var(--sjs2-color-border-brand-primary);

  .sd-progress-buttons__check-icon {
    use {
      fill: var(--sjs2-color-fg-brand-primary);
    }
  }
}

.sd-progress-buttons {
  padding: var(--sjs2-spacing-x300) var(--sjs2-spacing-x500);
}

.sd-progress-buttons__list-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
  // margin: 0 var(--sjs2-spacing-negative-x075);
}

// .sd-progress-buttons--with-titles {
//   .sd-progress-buttons__list-container {
//     margin: 0;
//   }
// }

.sd-progress-buttons__list {
  display: grid;
  grid-auto-columns: minmax(var(--sjs2-size-x800), 1fr);
  grid-auto-flow: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.sd-progress-buttons__list li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  min-width: var(--sjs2-size-x800);

  &::after {
    content: "";
    position: absolute;
    /* 
      50% = center of the button
      var(--sjs2-size-x300) / 2 = right half (radius) of the button
      var(--sjs2-size-x100) = gap
    */
    left: calc(50% + var(--sjs2-size-x300) / 2 + var(--sjs2-size-x100));
    /* 
      100% = distance from the center of the current button to the center of the next button
      var(--sjs2-size-x300) = half (radius) of the current button + half (radius) of the next button
      var(--sjs2-size-x100) * 2 = two gaps (left and right)
    */
    width: calc(100% - var(--sjs2-size-x300) - var(--sjs2-size-x100) * 2);
    /* 
      var(--sjs2-size-x300) / 2 = top half (radius) of the button
    */
    bottom: calc(var(--sjs2-size-x300) / 2);
    height: var(--sjs2-border-width-x100);
    background-color: var(--sjs2-color-border-basic-secondary);
    transition: background-color var(--sjs-transition-duration, 100ms);
  }

  &:last-child::after {
    display: none;
  }
}

.sd-progress-buttons__list li {
  &.sd-progress-buttons__list-element--passed {
    &::after {
      background-color: var(--sjs2-color-border-brand-primary);
    }
  }
}

.sd-progress-buttons__button {
  display: flex;
  align-items: center;
  justify-content: center;
  content: attr(data-page-number);
  @include sjs2--typography--default-strong;
  color: var(--sjs2-color-fg-basic-tertiary);
  border-radius: var(--sjs2-radius-component-stepper-item);
  width: var(--sjs2-size-x300);
  height: var(--sjs2-size-x300);
  box-sizing: border-box;
  background-color: var(--sjs2-color-bg-basic-secondary);
  border: 1px solid var(--sjs2-color-border-basic-secondary);
  padding: 0;
  margin: 0;
  margin-top: var(--sjs2-spacing-x150);
  cursor: pointer;
  transition:
    background-color var(--sjs-transition-duration, 100ms),
    border-color var(--sjs-transition-duration, 100ms),
    color var(--sjs-transition-duration, 100ms);

  &:focus-visible {
    outline: 4px solid var(--sjs2-color-utility-a11y);
  }

  &:hover {
    @include button-hover;
  }

  &:has(+ .sd-progress-buttons__page-title:hover) {
    @include button-hover;
  }
}

.sd-progress-buttons__page-title,
.sd-progress-buttons__page-description {
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  color: var(--sjs2-color-fg-basic-primary, #1c1b20);
  text-align: center;

  &:hover + .sd-progress-buttons__button {
    @include button-hover;
  }
}

.sd-progress-buttons__page-title {
  @include sjs2--typography--small-strong;
}

.sd-progress-buttons__page-description {
  @include sjs2--typography--small;
  margin-top: var(--sjs2-spacing-x050);
}

.sd-progress-buttons__dot {
  width: var(--sjs2-size-x100);
  height: var(--sjs2-size-x100);
  border-radius: var(--sjs2-radius-round);
  background-color: var(--sjs2-color-fg-basic-tertiary);
}

.sd-progress-buttons__check-icon {
  width: var(--sjs2-line-height-x200);
  height: var(--sjs2-line-height-x200);

  use {
    fill: var(--sjs2-color-fg-brand-primary);
  }
}

.sd-progress-buttons__list-element--current {
  .sd-progress-buttons__button {
    @include button-current;

    &:hover {
      @include button-current;
    }

    &:has(+ .sd-progress-buttons__page-title:hover) {
      @include button-current;
    }
  }

  .sd-progress-buttons__page-title,
  .sd-progress-buttons__page-description {
    &:hover + .sd-progress-buttons__button {
      @include button-current;
    }
  }
}

.sd-progress-buttons__list-element--passed {
  .sd-progress-buttons__button {
    background-color: var(--sjs2-color-bg-brand-primary);
    border-color: var(--sjs2-color-border-brand-primary);

    .sd-progress-buttons__check-icon {
      use {
        fill: var(--sjs2-color-fg-brand-on-primary);
      }
    }

    &:hover {
      @include button-hover-passed;
    }

    &:has(+ .sd-progress-buttons__page-title:hover) {
      @include button-hover-passed;
    }
  }

  .sd-progress-buttons__page-title,
  .sd-progress-buttons__page-description {
    &:hover + .sd-progress-buttons__button {
      @include button-hover-passed;
    }
  }
}

.sd-progress-buttons__list-element--current {
  &.sd-progress-buttons__list-element--passed {
    .sd-progress-buttons__button {
      @include button-current-passed;

      &:hover {
        @include button-current-passed;
      }

      &:has(+ .sd-progress-buttons__page-title:hover) {
        @include button-current-passed;
      }
    }
  }

  .sd-progress-buttons__page-title,
  .sd-progress-buttons__page-description {
    &:hover + .sd-progress-buttons__button {
      @include button-current-passed;
    }
  }
}

.sd-progress-buttons--numbered {
  .sd-progress-buttons__button {
    width: var(--sjs2-size-x400);
    height: var(--sjs2-size-x400);
    padding: 0 3px 1px 2px;
    border: 1px solid var(--sjs2-color-border-basic-secondary);
  }

  .sd-progress-buttons__list li {
    &::after {
      /* 
        50% = center of the button
        var(--sjs2-size-x400) / 2 = right half (radius) of the button
        var(--sjs2-size-x100) = gap
      */
      left: calc(50% + var(--sjs2-size-x400) / 2 + var(--sjs2-size-x100));
      /* 
        100% = distance from the center of the current button to the center of the next button
        var(--sjs2-size-x400) = half (radius) of the current button + half (radius) of the next button
        var(--sjs2-size-x100) * 2 = two gaps (left and right)
      */
      width: calc(100% - var(--sjs2-size-x400) - var(--sjs2-size-x100) * 2);
      /* 
        var(--sjs2-size-x400) / 2 = top half (radius) of the button
      */
      bottom: calc(var(--sjs2-size-x400) / 2);
    }
  }

  .sd-progress-buttons__list-element--current {
    .sd-progress-buttons__button {
      border: 2px solid var(--sjs2-color-border-brand-primary);
      background-color: var(--sjs2-color-bg-basic-primary);
      color: var(--sjs2-color-fg-basic-primary);
    }
  }

  .sd-progress-buttons__list-element--passed {
    .sd-progress-buttons__button {
      border-color: var(--sjs2-color-border-brand-primary);
      background-color: var(--sjs2-color-bg-brand-primary);
      color: var(--sjs2-color-fg-brand-on-primary);
      &:hover {
        border-color: var(--sjs2-color-bg-brand-primary-dim);
        background-color: var(--sjs2-color-bg-brand-primary-dim);
      }
    }
  }

  .sd-progress-buttons__list-element--current {
    &.sd-progress-buttons__list-element--passed {
      .sd-progress-buttons__button {
        color: var(--sjs2-color-fg-basic-primary);
        border: 2px solid var(--sjs2-color-border-brand-primary);
        background-color: var(--sjs2-color-bg-basic-primary);

        &:hover {
          border-color: var(--sjs2-color-border-brand-primary);
          color: var(--sjs2-color-fg-basic-primary);
        }
      }
    }
  }

  &.sd-progress-buttons--with-descriptions {
    .sd-progress-buttons__list li {
      &::after {
        top: calc(
          var(--sjs2-typography-line-height-small) * 2 + var(--sjs2-spacing-x050) + var(--sjs2-spacing-x150) +
            var(--sjs2-size-x400) / 2
        );
      }
    }
  }
}

//leg
.sd-progress-buttons__image-button-left {
  display: none;
}

.sd-progress-buttons__image-button-right {
  display: none;
}

.sd-progress-buttons__image-button--hidden {
  visibility: hidden;
}

// .sd-progress-buttons__header {
//   .sd-progress-buttons__page-title {
//     margin-bottom: var(--sjs2-spacing-x100);
//   }
// }

// .sd-progress-buttons__footer {
//   .sd-progress-buttons__page-title {
//     margin-top: var(--sjs2-spacing-x100);
//     margin-bottom: 0;
//     justify-content: flex-end;
//     padding: 0;
//     color: var(--sjs2-color-fg-basic-secondary);
//   }
// }

.sd-progress-buttons--bottom {
  padding: var(--sjs2-spacing-x200) var(--sjs2-spacing-x500) var(--sjs2-spacing-x400) var(--sjs2-spacing-x500);
  flex-direction: column-reverse;

  // .sd-progress-buttons__list {
  //   li {
  //     flex-direction: column-reverse;

  //     &:not(:first-child) > .sd-progress-buttons__connector {
  //       top: calc(var(--sjs2-base-unit-spacing) * 1.125);
  //     }
  //   }
  // }

  .sd-progress-buttons__page-title {
    margin-top: var(--sjs2-spacing-x200);
    margin-bottom: 0;
  }

  .sd-progress-buttons__header {
    .sd-progress-buttons__page-title {
      margin-top: var(--sjs2-spacing-x100);
      margin-bottom: 0;
    }
  }

  .sd-progress-buttons__footer {
    .sd-progress-buttons__page-title {
      margin-top: 0;
      margin-bottom: var(--sjs2-spacing-x100);
    }
  }
}

.sd-root-modern--mobile,
.sd-progress-buttons--no-titles {
  // .sd-progress-buttons__list {
  //   justify-content: space-between;
  //   width: 100%;
  //   position: relative;
  //   li {
  //     flex-grow: 0;
  //     position: static;
  //     &:not(:first-child) > .sd-progress-buttons__connector {
  //       bottom: calc(50% - 1px);
  //       right: auto;
  //       width: calc(
  //         (100% - calc(20px * var(--sd-progress-buttons-pages-count))) / (var(--sd-progress-buttons-pages-count) - 1)
  //       );
  //       transform: translatex(-100%);
  //     }
  //   }
  // }
}

.sd-progress-buttons--no-titles.sd-progress-buttons--numbered,
.sd-root-modern--mobile .sd-progress-buttons--numbered {
  // .sd-progress-buttons__list {
  //   li {
  //     &:not(:first-child) > .sd-progress-buttons__connector {
  //       width: calc(
  //         (100% - calc(36px * var(--sd-progress-buttons-pages-count))) / (var(--sd-progress-buttons-pages-count) - 1)
  //       );
  //     }
  //   }
  // }
}

.sd-progress-buttons--bottom.sd-progress-buttons--numbered {
  // .sd-progress-buttons__list {
  //   li {
  //     &:not(:first-child) > .sd-progress-buttons__connector {
  //       top: calc(var(--sjs2-base-unit-spacing) * 2.175);
  //     }
  //   }
  // }
}

.sd-root-modern--mobile {
  .sd-progress-buttons {
    padding: var(--sjs2-spacing-x200) var(--sjs2-spacing-x300);
  }
}

.sd-progress-buttons--fit-survey-width {
  max-width: calc(var(--sjs2-base-unit-size) * 90);
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

:dir(rtl),
[style*="direction:rtl"],
[style*="direction: rtl"] {
  .sd-progress-buttons__list {
    li {
      // &:not(:first-child) > .sd-progress-buttons__connector {
      //   transform: translateX(calc(100% + 20px));
      // }
    }
  }

  .sd-root-modern--mobile,
  .sd-progress-buttons--no-titles {
    .sd-progress-buttons__list {
      li {
        // &:not(:first-child) > .sd-progress-buttons__connector {
        //   transform: translateX(100%);
        // }
      }
    }
  }
}
