@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

.sd-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-inline-start: var(--sjs2-layout-component-panel-box-padding-horizontal);
  padding-inline-end: var(--sjs2-layout-component-panel-box-padding-horizontal);
  padding-top: var(--sjs2-layout-component-panel-box-padding-top);
  padding-bottom: var(--sjs2-layout-component-panel-box-padding-bottom);
  gap: var(--sjs2-layout-component-panel-box-gap-vertical);
}

.sd-panel__header {
  padding-top: var(--sjs2-layout-component-panel-header-padding-top);
  padding-bottom: var(--sjs2-layout-component-panel-header-padding-bottom);
  padding-inline-start: var(--sjs2-layout-component-panel-header-padding-left);
  padding-inline-end: var(--sjs2-layout-component-panel-header-padding-right);
}

.sd-panel__title {
  padding: var(--sjs2-layout-component-panel-title-padding-vertical)
    var(--sjs2-layout-component-panel-title-padding-horizontal);
}

.sd-panel__description {
  padding-inline-start: var(--sjs2-layout-component-panel-description-padding-horizontal);
  padding-inline-end: var(--sjs2-layout-component-panel-description-padding-horizontal);
  padding-top: var(--sjs2-layout-component-panel-description-padding-top);
  padding-bottom: var(--sjs2-layout-component-panel-description-padding-bottom);
}

.sd-panel__content {
  padding-inline-start: var(--sjs2-layout-component-panel-content-area-padding-horizontal);
  padding-inline-end: var(--sjs2-layout-component-panel-content-area-padding-horizontal);
  padding-top: var(--sjs2-layout-component-panel-content-area-padding-top);
  --animation-padding-top: var(--sjs2-layout-component-panel-content-area-padding-top);
  padding-bottom: var(--sjs2-layout-component-panel-content-area-padding-bottom);
  row-gap: var(--sjs2-layout-component-panel-content-area-gap-vertical);
  column-gap: var(--sjs2-layout-component-panel-content-area-gap-horizontal);
  display: flex;
  flex-direction: column;
}

.sd-root-modern--mobile {
  .sd-panel__header {
    padding: var(--sjs2-spacing-x200) var(--sjs2-spacing-x300);
  }
  .sd-panel__content {
    padding: var(--sjs2-spacing-x300);
    gap: var(--sjs2-spacing-x200);
  }
}

.sd-panel.sd-panel--as-page {
  & > .sd-panel__header.sd-panel__header {
    padding: 0;
    padding-bottom: calc(0.5 * var(--sd-base-vertical-padding) + var(--sjs2-spacing-x150));

    &:after {
      content: none;
    }

    .sd-panel__title {
      @include sjs2--typography--component--page--title;
      position: static;

      span {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        line-height: inherit;
      }
    }

    .sd-element__num {
      padding: initial;
      margin: initial;
      float: initial;
      width: initial;
    }

    .sd-panel__description {
      @include sjs2--typography--component--page--description;
      position: static;
    }

    .sd-panel__required-text {
      display: none;
    }
  }

  & > .sd-panel__errbox {
    margin: 0 0 var(--sjs2-layout-component-page-content-area-gap-vertical) 0;
  }

  & > .sd-panel__content {
    padding: 0;
    row-gap: var(--sjs2-layout-component-page-content-area-gap-vertical);
  }
}

.sd-row ~ .sd-row {
  .sd-panel--as-page {
    padding-top: var(--sjs2-spacing-x400);
  }
}

.sd-panel__required-text {
  color: $red;
}

.sd-panel__title {
  @include sjs2--typography--component--panel--title;
  padding: var(--sjs2-layout-component-panel-title-padding-vertical)
    var(--sjs2-layout-component-panel-title-padding-horizontal);
}

.sd-panel__description {
  @include sjs2--typography--component--panel--description;
  color: $font-questiondescription-color;
  padding-top: var(--sjs2-layout-component-panel-description-padding-top);
  padding-bottom: var(--sjs2-layout-component-panel-description-padding-bottom);
  padding-inline: var(--sjs2-layout-component-panel-description-padding-horizontal);
}

.sd-panel__title ~ .sd-panel__description {
  margin-top: var(--sjs2-layout-component-panel-header-gap-vertical);
}

.sd-panel > .sd-panel__header:after {
  background: var(--sjs2-color-component-panel-default-separator);
}

.sd-panel__footer {
  box-sizing: border-box;
  border-top: 1px solid $border-light;
  padding-top: var(--sjs2-layout-component-panel-footer-padding-top);
  padding-bottom: var(--sjs2-layout-component-panel-footer-padding-bottom);
  padding-inline-start: calc(var(--sjs2-layout-component-panel-footer-padding-left) - 1.75 * var(--sjs2-spacing-x100));
  padding-inline-end: var(--sjs2-layout-component-panel-footer-padding-right);
  --sd-action-bar-gap: var(--sjs2-layout-component-panel-footer-action-group-gap);
}

.sd-panel--as-page .sd-panel__footer {
  padding: var(--sjs2-spacing-x400) 0 0;
  margin: 0;
  border: none;
  width: initial;
}
