@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

.sd-progress {
  height: 2px;
  background-color: $border-light;
  position: relative;
}

.sd-progress__bar {
  position: relative;
  height: 100%;
  background-color: $primary;
  overflow: hidden;
}

.sd-progress__text {
  position: absolute;
  margin-top: var(--sjs2-spacing-x100);
  padding: var(--sjs2-spacing-x100) var(--sjs2-spacing-x150);
  right: var(--sjs2-spacing-x150);
  color: $foreground-dim-light;
  @include sjs2--typography--small-strong;

  @media only screen and (min-width: 1000px) {
    margin-left: 5%;
  }

  @media only screen and (max-width: 1000px) {
    margin-left: 10px;
  }
}

.sd-body__progress--top {
  margin-bottom: var(--sjs2-spacing-x400);
  position: sticky;
  top: 0;
  z-index: 50;
}

.sd-body__progress--bottom .sd-progress__text {
  margin-top: calc(var(--sjs2-base-unit-spacing) * -3.5);
}

.sv-root--sticky-top {
  .sd-progress__text {
    border-radius: var(--sjs2-radius-x050);
    color: $foreground-dim;
    opacity: 0.75;
    background: $background;
    box-shadow: $shadow-medium, $shadow-small;
  }
}