@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

.sd-question {
  position: relative;
}

.sd-question {
  //container
  --sd-question-container-padding-block: var(--sjs2-layout-component-panel-simple-box-padding-top)
    var(--sjs2-layout-component-panel-simple-box-padding-bottom);
  --sd-question-container-padding-inline: var(--sjs2-layout-component-panel-simple-box-padding-horizontal);
  --sd-question-container-gap-vertical: var(--sjs2-layout-component-panel-simple-box-gap-vertical);
  --sd-question-container-gap-horizontal: var(--sjs2-layout-component-panel-simple-box-gap-horizontal);
  --sd-question-container-border-radius: none;
  --sd-question-container-background: none;
  --sd-question-container-box-shadow: none;

  //header-content-container
  --sd-question-header-content-container-padding-block: 0;
  --sd-question-header-content-container-padding-inline: 0;
  --sd-question-header-content-container-row-gap: var(--sjs2-layout-component-question-box-gap-vertical);
  --sd-question-header-content-container-column-gap: var(
    --sjs2-layout-component-panel-simple-content-area-gap-horizontal
  );

  //header
  --sd-question-header-padding-block: var(--sjs2-layout-component-question-header-padding-top)
    var(--sjs2-layout-component-question-header-padding-bottom);
  --sd-question-header-padding-inline: var(--sjs2-layout-component-question-header-padding-left)
    var(--sjs2-layout-component-question-header-padding-right);
  --sd-question-header-row-gap: var(--sjs2-layout-component-question-header-gap-vertical);
  --sd-question-header-column-gap: var(--sjs2-layout-component-question-header-gap-horizontal);
  --sd-question-header-border-bottom: none;

  //title
  --sd-question-title-padding-block: var(--sjs2-layout-component-question-title-padding-top)
    var(--sjs2-layout-component-question-title-padding-bottom);
  --sd-question-title-padding-inline: var(--sjs2-layout-component-question-title-padding-horizontal);

  //description
  --sd-question-description-padding-block: var(--sjs2-layout-component-question-description-padding-top)
    var(--sjs2-layout-component-question-description-padding-bottom);
  --sd-question-description-padding-inline: var(--sjs2-layout-component-question-description-padding-horizontal);
}
.sd-question--nested {
  //container
  --sd-question-container-padding-block: var(--sjs2-layout-component-panel-simple-nested-box-padding-top)
    var(--sjs2-layout-component-panel-simple-nested-box-padding-bottom);
  --sd-question-container-padding-inline: var(--sjs2-layout-component-panel-simple-nested-box-padding-horizontal);
  --sd-question-container-gap-vertical: var(--sjs2-layout-component-panel-simple-nested-box-gap-vertical);
  --sd-question-container-gap-horizontal: var(--sjs2-layout-component-panel-simple-nested-box-gap-horizontal);
  --sd-question-container-border-radius: var(--sjs2-radius-component-panel);
  --sd-question-container-background: var(--sjs2-color-component-panel-simple-nested-default-bg);
  --sd-question-container-box-shadow: var(--sjs2-border-effect-component-panel-simple-nested-default);

  //header-content-container
  --sd-question-header-content-container-padding-block: var(
      --sjs2-layout-component-panel-simple-nested-content-area-padding-top
    )
    var(--sjs2-layout-component-panel-simple-nested-content-area-padding-bottom);
  --sd-question-header-content-container-padding-inline: calc(
    var(--sjs2-layout-component-panel-simple-nested-content-area-padding-horizontal) +
      var(--sv-element-add-padding-left, 0px)
  );
  --sd-question-header-content-container-row-gap: var(--sjs2-layout-component-question-box-gap-vertical);
  --sd-question-header-content-container-column-gap: var(
    --sjs2-layout-component-panel-simple-nested-content-area-gap-horizontal
  );
}
.sd-question--with-frame {
  //container
  --sd-question-container-border-radius: var(--sjs2-radius-component-panel);
  --sd-question-container-background: var(--sjs2-color-component-panel-simple-default-bg);
  --sd-question-container-box-shadow: var(--sjs2-border-effect-component-panel-simple-default);

  //header-content-container
  --sd-question-header-content-container-padding-block: var(
      --sjs2-layout-component-panel-simple-content-area-padding-top
    )
    var(--sjs2-layout-component-panel-simple-content-area-padding-bottom);
  --sd-question-header-content-container-padding-inline: calc(
      var(--sjs2-layout-component-panel-simple-content-area-padding-horizontal) +
        var(--sv-element-add-padding-left, 0px)
    )
    var(--sjs2-layout-component-panel-simple-content-area-padding-horizontal);
}
//todo: remove this style after review empty complex question design
.sd-question--empty.sd-question--complex {
  //container
  --sd-question-container-gap-row-gap: 0;
  //header-content-container
  --sd-question-header-content-container-row-gap: 0;
  //header
  --sd-question-header-border-bottom: none;
  --sd-question-header-padding-block: var(--sjs2-layout-component-panel-header-padding-top)
    calc(var(--sd-base-vertical-padding) * 0.5);
}
.sd-question {
  border-radius: var(--sd-question-container-border-radius);
  background: var(--sd-question-container-background);
  box-shadow: var(--sd-question-container-box-shadow);
}

.sd-question__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-block: var(--sd-question-container-padding-block);
  padding-inline: var(--sd-question-container-padding-inline);
  row-gap: var(--sd-question-container-gap-vertical);
  column-gap: var(--sd-question-container-gap-horizontal);
}

.sd-question__header-and-content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-block: var(--sd-question-header-content-container-padding-block);
  padding-inline: var(--sd-question-header-content-container-padding-inline);
  row-gap: var(--sd-question-header-content-container-row-gap);
  column-gap: var(--sd-question-header-content-container-column-gap);
}

.sd-question--title-bottom > .sd-question__container {
  & > .sd-question__header-and-content-container {
    row-gap: calc(0.375 * var(--sd-base-vertical-padding));
  }
}

.sd-question--left {
  & > .sd-question__container {
    & > .sd-question__header-and-content-container {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: var(--sjs2-spacing-x300);
      row-gap: var(--sjs2-spacing-x100);
    }
  }
}

.sd-element--nested > div > .sd-question__header-and-content-container {
  padding: 0;
}

.sd-question--single-input {
  & > .sd-question__container {
    & > .sd-question__header-and-content-container {
      padding: 0;
      & > .sd-question__header--complex {
        padding: 0;
      }
    }
  }
}

.sd-question__header {
  display: flex;
  flex-direction: column;
  padding-block: var(--sd-question-header-padding-block);
  padding-inline: var(--sd-question-header-padding-inline);
  row-gap: var(--sd-question-header-row-gap);
  column-gap: var(--sd-question-header-column-gap);
}
.sd-question__header--location-top {
  border-bottom: var(--sd-question-header-border-bottom);
}

.sd-question__header--location--left {
  width: auto;
  vertical-align: top;
  margin-top: var(--sjs2-layout-component-question-header-side-padding-top);
  margin-bottom: var(--sjs2-layout-component-question-header-side-padding-bottom);
  margin-left: var(--sjs2-layout-component-question-header-side-padding-left);
  margin-right: var(--sjs2-layout-component-question-header-side-padding-right);
}

.sd-question__content--left {
  flex: 1;
  max-width: 100%;
}

.sd-question__title {
  @include sjs2--typography--component--question--title;
  padding-block: var(--sd-question-title-padding-block);
  padding-inline: var(--sd-question-title-padding-inline);
}

.sd-question__title--empty {
  .sv-string-viewer {
    display: inline-block;
    height: multiply(1.5, $font-questiontitle-size);
  }
}

.sd-question__description {
  @include sjs2--typography--component--question--description;
  color: $font-questiondescription-color;
  white-space: normal;
  padding-block: var(--sd-question-description-padding-block);
  padding-inline: var(--sd-question-description-padding-inline);
}

.sd-question--no-pointer-events {
  .sd-selectbase,
  .sd-rating {
    label {
      pointer-events: none;
    }
  }
}

.sd-question__content--support-container-queries {
  container-type: inline-size;
}

.sd-element--with-frame > .sd-element__erbox--above-element {
  border-radius: var(--sjs2-radius-component-panel) var(--sjs2-radius-component-panel) 0 0;
}
.sd-element--with-frame > div > .sd-element__erbox--above-element {
  border-radius: var(--sjs2-radius-component-panel) var(--sjs2-radius-component-panel) 0 0;
}
.sd-element--with-frame > div > .sd-question__erbox--below-question {
  border-radius: 0 0 var(--sjs2-radius-component-panel) var(--sjs2-radius-component-panel);
}

.sd-question__description--under-input {
  margin-top: var(--sjs2-layout-component-question-box-gap-vertical);
}

.sd-scrollable .sd-question__content {
  overflow-x: auto;
  padding: var(--sjs2-spacing-x200) 0;
}

.sd-question__required-text {
  color: $red;
  vertical-align: top;
}

.sd-question__comment-area {
  @include sjs2--typography--default;
  margin-top: var(--sjs2-spacing-x200);
  display: flex;
  flex-direction: column;
  gap: var(--sjs2-spacing-x100);
  color: $foreground;
  white-space: normal;
}

.sd-question__placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--sjs2-spacing-x200);
  justify-content: center;

  min-height: calc(var(--sjs2-base-unit-size) * 24);
  @include sjs2--typography--component--input--content;
  color: $font-questionplaceholder-color;

  & > div,
  & > span {
    .sv-string-viewer {
      white-space: pre-line;
    }
  }
}

.sd-scrollable-container:not(.sd-scrollable-container--compact) {
  width: max-content;
  overflow: visible;
  max-width: 100%;
}
