@use "../variables.scss" as *;

.sd-radio__decorator {
  border-radius: var(--sjs2-radius-component-radio);
  width: var(--sjs2-size-component-radio-box);
  height: var(--sjs2-size-component-radio-box);
}
.sd-radio__svg {
  display: block;
  width: var(--sjs2-size-component-radio-icon);
  height: var(--sjs2-size-component-radio-icon);

  use {
    fill: transparent;
    transition: fill $transition-duration;
  }
}

.sd-radio--checked .sd-radio__svg {
  use {
    fill: var(--sjs2-color-component-check-true-default-icon);
  }
}

.sd-item__control:focus-visible + .sd-radio__decorator {
  &::before {
    border-radius: var(--sjs2-radius-component-radio);
  }
}

.sd-radio--checked.sd-radio--disabled .sd-radio__svg use {
  fill: var(--sjs2-color-component-check-true-disabled-icon);
}

.sd-radio--checked.sd-radio--readonly .sd-radio__svg use {
  fill: var(--sjs2-color-component-check-true-disabled-icon);
}

.sd-radio--checked.sd-radio--preview .sd-radio__svg use {
  fill: $foreground;
}
