@use "../variables.scss" as *;

.sd-range-slider {
  // background: tomato !important;
}

#slider {
  width: 300px;
  position: relative;
  height: 5px;
  margin: 45px 0 10px 0;
}

#slider>div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 5px;
}

#slider>div>#inverse-left {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 10px;
  background-color: goldenrod;
  margin: 0 7px;
}

#slider>div>#inverse-right {
  position: absolute;
  right: 0;
  height: 5px;
  border-radius: 10px;
  background-color: goldenrod;
  margin: 0 7px;
}


#slider>div>#range {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 14px;
  background-color: #d02128;
}

#slider>div>#thumb-left,
#slider>div>#thumb-right {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 20px;
  width: 20px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

#slider>input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  opacity: 0;
}

div#slider>input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div#slider>input[type=range]:focus {
  outline: none;
}

div#slider>input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div#slider>input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div#slider>input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div#slider>input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div#slider>input[type=range]::-ms-tooltip {
  display: none;
}

#slider>div>#sign-left,
#slider>div>#sign-right {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index: 3;
  background-color: #d02128;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

#slider>div>#sign-left:after,
#slider>div>#sign-right:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #d02128;
}

#slider>div>#sign-left>span,
#slider>div>#sign-right>span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

#slider:hover>div>#sign-left,
#slider:hover>div>#sign-right {
  opacity: 1;
}