@use "../variables.scss" as *;

$slider-path-height: var(--lbr-slider-path-height, calcSize(0.5));
$slider-thumb-width: var(--lbr-slider-thumb-width, calcSize(4));
$slider-thumb-height: var(--lbr-slider-thumb-height, calcSize(4));
$slider-thumb-color: var(--lbr-slider-thumb-color, $background);

@mixin thumbFocusMixin {
  // outline: 2px solid $primary;
  // outline-offset: 2px;
  border-color: var(--lbr-slider-thumb-border-color-focused, $primary);
}

.sd-slider {
  position: relative;
  height: 50px;
  margin-top: 45px;

  &:hover {
    .sd-slider__tooltip--on-hover {
      opacity: 1;
    }
  }
}

.sd-slider--single {}

.sd-slider__visual-slider-container {
  position: absolute;
  left: 0;
  right: 0;
  height: $slider-path-height;
  cursor: pointer;
}

.sd-slider__inverse-track {
  position: absolute;
  height: $slider-path-height;
  background-color: $foreground-light;
}

.sd-slider__inverse-track--left {
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sd-slider__inverse-track--right {
  right: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sd-slider__range-track {
  position: absolute;
  left: 0;
  height: $slider-path-height;
  background-color: $primary;
}

.sd-slider__thumb {
  position: absolute;
  top: calc($slider-thumb-height / -2 + $slider-path-height / 2);
  z-index: 2;
  border-radius: var(--lbr-slider-thumb-corner-radius, 1024px);
  width: $slider-thumb-width;
  height: $slider-thumb-height;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $slider-thumb-color;
  box-shadow: var(--lbr-slider-thumb-shadow-offset-x, 0px) var(--lbr-slider-thumb-shadow-offset-y, 1px) var(--lbr-slider-thumb-shadow-blur, 2px) var(--lbr-slider-thumb-shadow-spread, 0px) var(--lbr-slider-thumb-shadow-color, rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  border: var(--lbr-slider-thumb-border-width-focused, 2px) solid $slider-thumb-color;

  // text-align: left;
  // box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  // background-color: $background;
  
 // outline: none;
//  margin-left: calc($slider-thumb-width / -2);

  &:hover {
    @include thumbFocusMixin;
  }
}

.sd-slider__thumb--focused {
  @include thumbFocusMixin;
}

.sd-slider__thumb-dot {
  border-radius: var(--lbr-slider-thumb-dot-corner-radius, 1024px);
  background: var(--lbr-slider-thumb-dot-color, $primary);
  width: var(--lbr-slider-thumb-dot-width-hovering, 16px);
  height: var(--lbr-slider-thumb-dot-height-hovering, 16px);
}



.sd-slider__tooltip {
  opacity: 1;
  position: absolute;
  //margin-left: -15px;
  top: -45px;
  z-index: 3;
  background-color: $primary;
  color: $background;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  user-select: none;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 16px;
    top: 19px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: $primary;
  }
}

.sd-slider__tooltip--on-hover {
  opacity: 0;
}

.sd-slider__tooltip-value {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

.sd-slider__labels-container {
  position: absolute;
  //padding-top: 30px;
  top: 100px;
  right: 0;
  left: 0;
  user-select: none;
  pointer-events: none;

  >div {
    position: relative;
    display: flex;
  }
}

.sd-slider__label {
  color: $foreground;
  position: absolute;
 // margin-left: calc($slider-thumb-width / -2);

  &:first-child {
    margin-left: 0;
  }
}

.sd-slider__label--long {
  transform: rotate(-40deg);
  white-space: break-spaces;
  top: -30px;
  max-width: 80px;
}

input[type=range].sd-slider__input {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 4;
  height: 14px;
  top: -2px;
  width: 100%;
  opacity: 0;
  margin: 0;
}

input[type=range][name="range-input"].sd-slider__input {
  z-index: 3;
}

input[type=range].sd-slider__input:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

input[type="range"].sd-slider__input::-webkit-slider-runnable-track {
  margin: 0 calc($slider-thumb-width / -2);
}

input[type="range"].sd-slider__input::-moz-range-track {
  margin: 0 calc($slider-thumb-width / -2);
}

input[type=range].sd-slider__input:focus {
  outline: none;
}

input[type=range].sd-slider__input::-webkit-slider-thumb {
  pointer-events: all;
  height: 70px;
  width: $slider-thumb-width;
  border-radius: 0px;
  border: 0 none;
  background: $primary;
  -webkit-appearance: none;
  cursor: pointer;
  top: -20px;
  position: relative;
}

input[type=range][name="range-input"].sd-slider__input::-webkit-slider-thumb {
  height: $slider-thumb-height;
  top: -2px;
}

input[type=range].sd-slider__input::-moz-range-thumb {
  pointer-events: all;
  height: 70px;
  width: $slider-thumb-width;
  border-radius: 0px;
  border: 0 none;
  background: $primary;
  -webkit-appearance: none;
  cursor: pointer;
  top: -20px;
  position: relative;
}

input[type=range][name="range-input"].sd-slider__input::-moz-range-thumb {
  height: $slider-thumb-height;
  top: -2px;
}

input[type=range].sd-slider__input::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

input[type=range].sd-slider__input::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

input[type=range].sd-slider__input::-ms-tooltip {
  display: none;
}

:root {
  --sjs-range-slider-range-input-thumb-width: 0px;
  --sjs-range-slider-range-input-thumb-left: 0;
  --sjs-range-slider-range-input-thumb-position: absolute;
}

input[type=range][name=range-input].sd-slider__input::-webkit-slider-thumb {
  width: var(--sjs-range-slider-range-input-thumb-width, 0px);
  left: var(--sjs-range-slider-range-input-thumb-left, 0);
  position: var(--sjs-range-slider-range-input-thumb-position, relative);
}

input[type=range][name=range-input].sd-slider__input::-moz-range-thumb {
  width: var(--sjs-range-slider-range-input-thumb-width, 0px);
  left: var(--sjs-range-slider-range-input-thumb-left, 0);
  position: var(--sjs-range-slider-range-input-thumb-position, relative);
}