@use "../typography-mixins.scss" as *;

.sd-selectlist__container {
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    overflow: hidden;
}
.sd-selectlist {
    width: 100%;
    padding: var(--sjs2-spacing-x100);
    box-sizing: border-box;
    margin: 0;
    overflow-y: auto;
    list-style-type: none;
}

.sd-selectlist__item {
    display: flex;
    align-items: center;
    align-self: stretch;
    text-align: start;
    cursor: pointer;
    color: var(--sjs2-color-fg-basic-primary);
    border-radius: var(--sjs2-radius-component-drop-item);
    background: var(--sjs2-color-bg-brand-tertiary);
    @include sjs2--typography--default;

    &:focus-visible {
        outline: none;
    }
}

.sd-selectlist__item-body {
    display: flex;
    padding: var(--sjs2-spacing-x150);
    align-items: center;
    gap: var(--sjs2-spacing-x100);
    width: 100%;
    box-sizing: border-box;

    .sv-string-viewer {
        padding: 0 var(--sjs2-spacing-x050);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        flex: 1 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    sv-ng-string,
    sv-ng-string-viewer {
        display: contents;
    }
}

.sd-selectlist__item--selected {
    background: var(--sjs2-color-bg-brand-primary);
    color: var(--sjs2-color-fg-brand-on-primary);
    @include sjs2--typography--default-strong;
}

.sd-selectlist__item--selected.sd-selectlist__item--hovered {
    border-radius: var(--sjs2-radius-component-drop-item);
    background: var(--sjs2-color-bg-brand-primary-dim);
}

.sd-selectlist__item--focused {
    outline: var(--sjs2-border-width-a11y) solid var(--sjs2-color-utility-a11y);
}

.sd-selectlist__item--hovered {
    background: var(--sjs2-color-unknown-variable-001);
}

.sd-selectlist__item--disabled {
    cursor: default;
    color: var(--sjs2-color-fg-basic-primary-disabled);
}

.sd-selectlist__item--with-icon {
}

.sd-selectlist__item-icon {
}

.sd-selectlist__item-text--wrap span.sv-string-viewer {
    display: inline;
    white-space: normal;
    word-wrap: break-word;
}

.sd-selectlist__item--custom-value {
    color: var(--sjs2-color-fg-brand-primary);
    @include sjs2--typography--default-strong;
}

.sd-selectlist__item--custom-value.sd-selectlist__item--hovered {
    background: var(--sjs2-color-bg-brand-tertiary-dim);
}

.sd-selectlist__empty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    min-height: var(--sjs2-size-x1500);
}

.sd-selectlist__empty-text {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;

    color: var(--sjs2-color-fg-basic-secondary);
    @include sjs2--typography--default;
}

.sd-selectlist__filter {
    width: 100%;
    border-bottom: 1px solid var(--sjs2-color-border-basic-secondary);
    display: flex;
    padding: var(--sjs2-spacing-x200);
    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
}

.sd-selectlist-filter__box {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--sjs2-spacing-x200);
}

.sd-selectlist__filter-icon {
    width: var(--sjs2-line-height-x300);
    height: var(--sjs2-line-height-x300);

    .sv-svg-icon {
        width: var(--sjs2-line-height-x300);
        height: var(--sjs2-line-height-x300);

        use {
            fill: var(--sjs2-color-fg-basic-secondary);
        }
    }
}

.sd-selectlist__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    background: transparent;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 0;

    color: var(--sjs2-color-fg-basic-primary);
    @include sjs2--typography--default;
}

.sd-selectlist__input::placeholder {
    color: var(--sjs2-color-fg-basic-secondary);
}

.sd-selectlist__filter-clear-button {
    display: flex;
    width: var(--sjs2-size-icon-small);
    height: var(--sjs2-size-icon-small);
    padding: var(--sjs2-layout-control-action-xx-small-icon-vertical)
        var(--sjs2-layout-control-action-xx-small-icon-horizontal);
    margin-inline-start: auto;
    justify-content: center;
    align-items: center;
    appearance: none;
    border: none;
    border-radius: 100%;
    background-color: transparent;

    svg {
        height: var(--sjs2-typography-font-size-component-input-content);
        width: var(--sjs2-typography-font-size-component-input-content);

        use {
            fill: var(--sjs2-color-fg-basic-secondary);
        }
    }

    &:hover {
        border-radius: var(--sjs2-radius-semantic-form-item);
        background: var(--sjs2-color-bg-alert-tertiary-dim);

        use {
            fill: var(--sjs2-color-fg-alert-primary);
        }
    }
}
