@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

@function table-sticky-background($color_list) {
  $result: "";
  @each $color in $color_list {
    // If it's the first item, don't add the separator
    @if $result == "" {
      $result: "linear-gradient(#{$color}, #{$color})";
    } @else {
      $result: " #{$result}, linear-gradient(#{$color}, #{$color})";
    }
  }
  $result: "#{$result};";
  @return $result;
}

.sd-question--scroll {
  overflow-x: scroll;
}
.sd-question--table,
.sd-composite {
  --sd-question-container-padding-block: var(--sjs2-layout-component-panel-box-padding-top)
    var(--sjs2-layout-component-panel-box-padding-bottom);
  --sd-question-container-padding-inline: var(--sjs2-layout-component-panel-box-padding-horizontal);
  --sd-question-container-gap-vertical: var(--sjs2-layout-component-panel-box-gap-vertical);
  --sd-question-container-gap-horizontal: var(--sjs2-layout-component-panel-box-gap-horizontal);

  //header-content-container
  --sd-question-header-content-container-padding-block: var(--sjs2-layout-component-panel-box-padding-top)
    var(--sjs2-layout-component-panel-box-padding-bottom);
  --sd-question-header-content-container-padding-inline: var(--sjs2-layout-component-panel-box-padding-horizontal)
    var(--sjs2-layout-component-panel-box-padding-horizontal);
  --sd-question-header-content-container-row-gap: var(--sjs2-layout-component-panel-box-gap-vertical);
  --sd-question-header-content-container-column-gap: var(--sjs2-layout-component-panel-box-gap-horizontal);
  //

  //header
  --sd-question-header-padding-block: var(--sjs2-layout-component-panel-header-padding-top)
    var(--sjs2-layout-component-panel-header-padding-bottom);
  --sd-question-header-padding-inline: var(--sjs2-layout-component-panel-header-padding-left)
    var(--sjs2-layout-component-panel-header-padding-right);
  --sd-question-header-gap-vertical: var(--sjs2-layout-component-panel-header-gap-vertical);

  //title
  --sd-question-title-padding-block: var(--sjs2-layout-component-panel-title-padding-vertical);
  --sd-question-title-padding-inline: var(--sjs2-layout-component-panel-title-padding-horizontal);
  --sd-question-title-color: var(--sjs2-color-component-panel-default-title);
  --sd-question-title-hovered-color: var(--sjs2-color-component-panel-hovered-title);

  //description
  --sd-question-description-padding-inline: var(--sjs2-layout-component-panel-description-padding-horizontal);
  --sd-question-description-padding-block: var(--sjs2-layout-component-panel-description-padding-top)
    var(--sjs2-layout-component-panel-description-padding-bottom);
  --sd-question-description-color: var(--sjs2-color-component-panel-default-description);

  &:where(.sd-question--with-frame) {
    --sd-question-container-border-radius: var(--sjs2-radius-component-panel);
    --sd-question-container-background: var(--sjs2-color-component-panel-default-bg);
    --sd-question-container-box-shadow: var(--sjs2-border-effect-component-panel-default);
  }

  &:where(.sd-question--nested) {
    //box
    --sd-question-container-border-radius: var(--sjs2-radius-component-panel-nested);
    --sd-question-container-background: var(--sjs2-color-component-panel-nested-default-bg);
    --sd-question-container-box-shadow: var(--sjs2-border-effect-component-panel-nested-default);
    --sd-question-container-padding-block: var(--sjs2-layout-component-panel-nested-box-padding-top)
      var(--sjs2-layout-component-panel-nested-box-padding-bottom);
    --sd-question-container-padding-inline: var(--sjs2-layout-component-panel-nested-box-padding-horizontal);
    --sd-question-container-gap-vertical: var(--sjs2-layout-component-panel-nested-box-gap-vertical);
    --sd-question-container-gap-horizontal: var(--sjs2-layout-component-panel-nested-box-gap-horizontal);

    //header-content-container
    --sd-question-header-content-container-padding-block: var(--sjs2-layout-component-panel-nested-box-padding-top)
      var(--sjs2-layout-component-panel-nested-box-padding-bottom);
    --sd-question-header-content-container-padding-inline: var(
        --sjs2-layout-component-panel-nested-box-padding-horizontal
      )
      var(--sjs2-layout-component-panel-nested-box-padding-horizontal);
    --sd-question-header-content-container-row-gap: var(--sjs2-layout-component-panel-nested-box-gap-vertical);
    --sd-question-header-content-container-column-gap: var(--sjs2-layout-component-panel-nested-box-gap-horizontal);
    //

    //header
    --sd-question-header-padding-block: var(--sjs2-layout-component-panel-nested-header-padding-top)
      var(--sjs2-layout-component-panel-nested-header-padding-bottom);
    --sd-question-header-padding-inline: var(--sjs2-layout-component-panel-nested-header-padding-left)
      var(--sjs2-layout-component-panel-nested-header-padding-right);
    --sd-question-header-gap-vertical: var(--sjs2-layout-component-panel-nested-header-gap-vertical);

    //title
    --sd-question-title-padding-block: var(--sjs2-layout-component-panel-nested-title-padding-vertical);
    --sd-question-title-padding-inline: var(--sjs2-layout-component-panel-nested-title-padding-horizontal);
    --sd-question-title-color: var(--sjs2-color-component-panel-nested-default-title);
    --sd-question-title-hovered-color: var(--sjs2-color-component-panel-nested-hovered-title);

    //description
    --sd-question-description-padding-inline: var(--sjs2-layout-component-panel-nested-description-padding-horizontal);
    --sd-question-description-padding-block: var(--sjs2-layout-component-panel-nested-description-padding-top)
      var(--sjs2-layout-component-panel-nested-description-padding-bottom);
    --sd-question-description-color: var(--sjs2-color-component-panel-nested-default-description);
  }
  &:where(.sd-question--with-frame, .sd-question--nested) {
    --sd-question-header-border-bottom: var(--sjs2-border-width-x100, 1px) solid
      var(--sjs2-color-component-panel-default-separator);
  }
  &:where(.sd-question--collapsed) {
    --sd-question-header-border-bottom: none;
  }
}
.sd-question.sd-question--table {
  position: relative;
  & > .sd-question__container {
    & > .sd-question__header-and-content-container {
      & > .sd-question__content {
        overflow-x: auto;
      }
    }
  }
  .sd-question__description--under-input .sv-string-viewer {
    position: sticky;
    left: 0;
  }
}

.sd-table-wrapper {
  display: block;
  --sd-table-sticky-background-color: #{table-sticky-background(
      (
        var(--sjs2-color-component-panel-default-bg),
        var(--sjs2-color-utility-surface-survey),
        var(--sjs2-color-utility-body)
      )
    )};

  //todo
  --sjs2-layout-component-panel-content-area-padding-horizontal: 0;
  //
  padding-inline-start: var(--sjs2-layout-component-panel-content-area-padding-horizontal);
  padding-inline-end: var(--sjs2-layout-component-panel-content-area-padding-horizontal);
  padding-top: var(--sjs2-layout-component-panel-content-area-padding-top);
  padding-bottom: var(--sjs2-layout-component-panel-content-area-padding-bottom);
  row-gap: var(--sjs2-layout-component-panel-content-area-gap-vertical);
  column-gap: var(--sjs2-layout-component-panel-content-area-gap-horizontal);
}

.sd-table {
  --sd-table-cell-width: 10000px;
  --sd-table-cell-min-width: var(--sjs2-size-x1500);

  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  white-space: normal;
}
//cell
.sd-table__cell {
  box-sizing: content-box;
  font-weight: normal;
  font-size: $font-editorfont-size;
  line-height: multiply(1.5, $font-editorfont-size);
  padding: var(--sjs2-spacing-x100);
  color: $foreground;
  text-align: center;

  &:not(.sd-table__cell--empty):not(.sd-table__cell--actions):not(:empty) {
    min-width: var(--sd-table-cell-min-width);
  }

  .sd-item {
    text-align: initial;
  }
}
.sd-table__cell--header {
  font-size: 0;
  line-height: 0;
  font-weight: 600;
  color: $font-questiontitle-color;
  vertical-align: top;
  padding-block: var(--sjs2-spacing-x150);
  span {
    font-size: $font-editorfont-size;
    line-height: multiply(1.5, $font-editorfont-size);
    font-weight: $font-questiontitle-weight;
  }
  &:not(.sd-table__cell--empty) {
    min-width: var(--sd-table-cell-min-width);
  }
}

.sd-table__cell:where(:nth-child(1 of .sd-table__cell)) {
  padding-left: var(--sjs2-spacing-x500);
}
.sd-table__cell:where(:nth-last-child(1 of .sd-table__cell)) {
  padding-right: var(--sjs2-spacing-x500);
}

.sd-table__cell--actions {
  white-space: nowrap;
  width: 0;

  &.sd-table__cell--vertical .sd-action-bar {
    justify-content: center;
  }
}

.sd-table__cell--row-text {
  font-weight: $font-questiontitle-weight;
  color: $font-questiontitle-color;
  text-align: start;
  min-width: var(--sjs2-size-x1200);
}

.sd-table__cell--error {
  border: none;
  padding: 0 var(--sjs2-spacing-x100);

  .sd-question__erbox {
    margin: 0;
  }
}
.sd-table__cell--error-top {
  vertical-align: bottom;
  padding-top: var(--sjs2-spacing-x100);
}
.sd-table__cell--error-bottom {
  vertical-align: top;
  padding-bottom: var(--sjs2-spacing-x100);
}
.sd-table__cell--item {
  .sd-selectbase__item {
    text-align: center;
    justify-content: center;
  }

  .sd-selectbase__label {
    justify-content: center;
  }
}
.sd-table__cell--footer {
  text-align: end;
  padding-top: var(--sjs2-spacing-x100);
  .sd-table__question-wrapper--expression {
    .sd-expression {
      padding: var(--sjs2-spacing-x150) var(--sjs2-spacing-x200);
      border-bottom: 1px solid $border-light;
      @include sjs2--typography--default-strong;
      line-height: var(--sjs2-line-height-x300);
    }
  }
}

.sd-table__question-wrapper {
  .sd-boolean-root {
    margin: auto;
  }
}

.sd-table__cell--actions:not(.sd-table__cell--vertical):last-child {
  .sd-action-bar {
    justify-content: flex-end;
  }
}

.sd-table__cell--footer-total {
  font-weight: 600;
  text-align: start;
}

.sd-table__cell--detail-panel {
  padding: var(--sjs2-spacing-x100);
}

//align
.sd-table--align-top {
  .sd-table__cell {
    vertical-align: top;
  }
}
.sv-matrix-row--drag-drop-ghost-mod {
  --sd-table-sticky-background-color: #{table-sticky-background(
      (#{$background-dim}, #{$background-dim}, var(--sjs2-color-utility-surface-survey), var(--sjs2-color-utility-body))
    )};
}
//alternative rows
.sd-question:not(.sd-question--mobile) {
  .sd-table__body--alternative-rows {
    & > .sd-table__row--data:nth-child(odd of .sd-table__row--data) {
      --sd-table-sticky-background-color: #{table-sticky-background(
          (#{$background-dark}, var(--sjs2-color-utility-surface-survey), var(--sjs2-color-utility-body))
        )};

      & > td.sd-table__cell:not(.sd-table__cell--actions),
      td:first-of-type {
        background-color: $background-dark;
        &.sd-matrix__text--checked {
          background-color: var(--sjs2-color-bg-brand-secondary);
        }

        .sd-formbox {
          background-color: $primary-foreground;
        }

        .sd-item:not(.sd-item--error) {
          .sd-item__decorator {
            background-color: var(--sjs2-color-bg-basic-primary);
          }

          &.sd-checkbox--checked .sd-checkbox__decorator {
            background-color: var(--sjs2-color-component-checkbox-true-default-bg);
          }
          &.sd-radio--checked .sd-radio__decorator {
            background-color: var(--sjs2-color-component-radio-true-default-bg);
          }
          &.sd-item--readonly.sd-item--readonly .sd-item__decorator {
            background-color: transparent;
          }
          &.sd-item--preview.sd-item--preview .sd-item__decorator {
            background-color: transparent;
          }
        }
      }
    }
  }
}

.sd-question--disabled .sd-table__cell {
  opacity: 0.25;
}

.sd-root--readonly .sd-question--disabled .sd-table__cell {
  opacity: 1;
}

.sd-matrix__question-wrapper {
  position: relative;
}

.sd-table__question-wrapper:not(:focus-within):hover {
  position: relative;
}

.sd-table__cell--actions:not(.sd-table__cell--vertical),
.sd-table__cell--empty,
.sd-table__cell--row-text,
.sd-table__cell--footer-total {
  position: sticky;
  background: var(--sd-table-sticky-background-color);
  z-index: 12;

  &:first-of-type {
    left: 0;
  }

  &:last-of-type {
    right: 0;
  }
}

.sd-table__row-disabled > .sd-table__cell {
  opacity: 0.25;
}

@mixin table_responsive {
  &.sd-question--table > .sd-question__container > .sd-question__header-and-content-container > .sd-question__content {
    overflow-x: visible;
  }
  .sd-table-wrapper {
    width: auto;
    padding: 0;
    margin: 0;
  }
  .sd-table__row {
    display: flex;
    flex-direction: column;
    padding-inline: var(--sjs2-layout-component-panel-nested-content-area-padding-horizontal);
    padding-block: var(--sjs2-layout-component-panel-nested-content-area-padding-top)
      var(--sjs2-layout-component-panel-nested-content-area-padding-bottom);
    row-gap: var(--sjs2-layout-component-panel-nested-content-area-gap-vertical);
    column-gap: var(--sjs2-layout-component-panel-nested-content-area-gap-horizontal);
  }
  .sd-table__row:where(:not(:last-of-type)) {
    border-bottom: 1px solid $border-light;
  }

  .sd-table {
    display: block;
    width: calc(
      100% - 2 * var(--sjs2-layout-component-panel-content-area-padding-horizontal) + var(--sjs2-spacing-x200)
    );

    & > tbody {
      display: block;
    }
    & > tfoot {
      display: block;
    }
  }

  .sd-table thead {
    display: none;
  }

  .sd-table:not(.sd-table--has-footer) .sd-table__row:last-of-type {
    .sd-table__cell-action--show-detail,
    .sd-table__cell-action--remove-row {
      margin-bottom: var(--sjs2-spacing-negative-x200);
    }
  }

  .sd-table__cell {
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: start;
    gap: var(--sjs2-layout-component-question-box-gap-vertical);
  }

  .sd-table__cell:first-of-type,
  .sd-matrix__cell {
    margin-top: 0;
  }

  .sd-table__cell--footer:not(.sd-question--answered) {
    display: none;
  }

  .sd-table__responsive-title {
    font-weight: 600;
    display: block;
    text-align: start;
    .sv-string-viewer {
      white-space: normal;
    }
  }

  .sd-table--no-header {
    .sd-table__responsive-title {
      display: none;
    }
  }

  .sd-table__cell--detail-panel {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
    border-bottom: 0;

    .sd-panel__content {
      padding-top: 0;
    }
  }

  .sd-table__cell.sd-table__cell--actions {
    width: auto;
    margin-inline: calc(-1 * var(--sjs2-layout-component-panel-nested-content-area-padding-horizontal));
    margin-block: calc(
        var(--sjs2-layout-component-panel-nested-content-area-padding-bottom) - var(
            --sjs2-layout-component-panel-nested-content-area-gap-vertical
          )
      )
      calc(-1 * var(--sjs2-layout-component-panel-nested-content-area-padding-bottom));

    padding-block: var(--sjs2-layout-component-panel-nested-footer-padding-top)
      var(--sjs2-layout-component-panel-nested-footer-padding-bottom);
    padding-inline: var(--sjs2-layout-component-panel-nested-footer-padding-left)
      var(--sjs2-layout-component-panel-nested-footer-padding-right);
    gap: var(--sjs2-layout-component-panel-nested-footer-action-group-gap);

    .sv-action--show-detail-mobile {
      flex-grow: 1;
    }
  }

  .sd-table__cell--error-top:first-of-type ~ .sd-table__cell:nth-of-type(2) {
    margin-top: 0;
  }

  .sd-table__cell--error-top {
    .sd-question__erbox {
      margin-top: var(--sjs2-spacing-x300);
      margin-bottom: var(--sjs2-spacing-negative-x100);
    }
  }

  .sd-table__cell--error-top:first-of-type {
    .sd-question__erbox {
      margin-top: var(--sjs2-spacing-x000);
      margin-bottom: var(--sjs2-spacing-x100);
    }
  }
  .sd-table__question-wrapper {
    .sd-boolean-root {
      margin: initial;
    }
  }
}

.sd-question--mobile {
  @include table_responsive();
}
