@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

.sd-title.sd-container-modern__title {
  display: flex;
  align-items: center;
  padding: var(--sd-page-vertical-padding) var(--sd-page-vertical-padding);
  gap: var(--sjs2-spacing-x400);
  box-shadow: 0px 2px 0px $primary;

  .sd-logo.sv-logo--right {
    margin-left: auto;
  }

  .sd-logo__image {
    margin-top: var(--sjs2-spacing-x100);
  }
}

.sd-header__text {
  display: flex;
  flex-direction: column;
  gap: var(--sjs2-spacing-x100);
  flex-grow: 1;

  .sd-title {
    @include sjs2--typography--component--header--title;
  }

  h3 {
    line-height: var(--sjs2-line-height-x500);
  }

  h5 {
    @include sjs2--typography--default;
  }

  .sd-description {
    @include sjs2--typography--component--header--description;
  }
}

.sd-root-modern {
  .sd-container-modern__title {
    background-color: $background;

    .sd-header__text h3 {
      margin: 0;
    }

    .sd-description {
      margin: 0;
    }
  }
}
