@use "../variables.scss" as *;
@use "../typography-mixins.scss" as *;

.sv-button-group {
  display: flex;
  padding: var(--sjs2-spacing-x050);
  box-sizing: border-box;
  align-items: center;
  gap: var(--sjs2-spacing-x050);
  flex-direction: row;
  overflow-x: auto;
  border-radius: var(--sjs2-radius-component-formbox);
  background: var(--sjs2-color-component-formbox-default-bg);

  /* sjs2/border-effect-component-formbox-default */
  box-shadow: var(--sjs2-border-effect-component-formbox-default);
}

.sv-button-group__item-decorator {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sv-button-group__item-caption {
  display: block;
  padding: 0 var(--sjs2-spacing-x100);

  .sv-string-viewer {
    @include sjs2--typography--default;
    color: var(--sjs2-color-component-buttongroup-item-false-default-value);
  }
}

.sv-button-group__item-icon + .sv-button-group__item-caption {
  margin-left: var(--sjs2-spacing-x100);
}

.sv-button-group.sd-formbox--error {
  background: var(--sjs2-color-component-formbox-invalid-bg);

  /* sjs2/border-effect-component-formbox-invalid */
  box-shadow: var(--sjs2-border-effect-component-formbox-invalid);
}

.sv-button-group.sd-formbox--readonly {
  background: var(--sjs2-color-component-formbox-readonly-bg);

  /* sjs2/border-effect-component-formbox-readonly */
  box-shadow: var(--sjs2-border-effect-component-formbox-readonly);
}

.sv-button-group.sd-formbox--disabled {
  background: var(--sjs2-color-component-formbox-disabled-bg);

  /* sjs2/border-effect-component-formbox-disabled */
  box-shadow: var(--sjs2-border-effect-component-formbox-disabled);
}

.sv-button-group__item {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  appearance: none;
  flex-grow: 1;
  flex-basis: 0;
  outline: none;
  position: relative;
  --sd-buttongroup-a11y-boxshadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

  .sv-button-group__item-decorator {
    padding: var(--sjs2-spacing-x100);
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: var(--sjs2-radius-component-buttongroup-item);
    background: var(--sjs2-color-component-buttongroup-item-false-default-bg);

    /* sjs2/border-effect-component-buttongroup-item-false-default */
    box-shadow:
      var(--sjs2-border-effect-component-buttongroup-item-false-default), var(--sd-buttongroup-a11y-boxshadow);
  }
}

.sv-button-group__item--allowhover .sv-button-group__item-decorator {
  cursor: pointer;
}

.sv-button-group__item--allowhover:hover .sv-button-group__item-decorator {
  background: var(--sjs2-color-component-buttongroup-item-false-hovered-bg);

  /* sjs2/border-effect-component-buttongroup-item-false-hovered */
  box-shadow: var(--sjs2-border-effect-component-buttongroup-item-false-hovered), var(--sd-buttongroup-a11y-boxshadow);

  .sv-string-viewer {
    color: var(--sjs2-color-component-buttongroup-item-false-hovered-value);
  }

  .sv-button-group__item-icon use {
    fill: var(--sjs2-color-component-buttongroup-item-false-hovered-value);
  }
}

.sv-button-group__item-control:focus-visible + .sv-button-group__item-decorator {
  --sd-buttongroup-a11y-boxshadow: var(--sjs2-border-effect-component-buttongroup-item-a11y);
}

.sv-button-group__item-icon {
  display: block;
  line-height: var(--sjs2-line-height-x300);
  width: 1lh;
  height: 1lh;

  use {
    fill: var(--sjs2-color-component-buttongroup-item-false-default-value);
  }
}

.sv-button-group__item--selected .sv-button-group__item-decorator {
  background: var(--sjs2-color-component-buttongroup-item-true-default-bg);

  /* sjs2/border-effect-component-buttongroup-item-true-default */
  box-shadow: var(--sjs2-border-effect-component-buttongroup-item-true-default), var(--sd-buttongroup-a11y-boxshadow);

  .sv-string-viewer {
    color: var(--sjs2-color-component-buttongroup-item-true-default-value);
    @include sjs2--typography--default-strong;
  }
  .sv-button-group__item-icon use {
    fill: var(--sjs2-color-component-buttongroup-item-true-default-value);
  }
}

.sv-button-group__item--disabled .sv-button-group__item-decorator {
  background: var(--sjs2-color-component-buttongroup-item-false-disabled-bg);

  /* sjs2/border-effect-component-buttongroup-item-false-disabled */
  box-shadow: var(--sjs2-border-effect-component-buttongroup-item-false-disabled);

  .sv-string-viewer {
    color: var(--sjs2-color-component-buttongroup-item-false-disabled-value);
  }

  .sv-button-group__item-icon use {
    fill: var(--sjs2-color-component-buttongroup-item-false-disabled-value);
  }
}

.sv-button-group__item--selected.sv-button-group__item--disabled .sv-button-group__item-decorator {
  background: var(--sjs2-color-component-buttongroup-item-true-disabled-bg);

  /* sjs2/border-effect-component-buttongroup-item-true-disabled */
  box-shadow: var(--sjs2-border-effect-component-buttongroup-item-true-disabled);

  .sv-string-viewer {
    color: var(--sjs2-color-component-buttongroup-item-true-disabled-value);
  }

  .sv-button-group__item-icon use {
    fill: var(--sjs2-color-component-buttongroup-item-true-disabled-value);
  }
}
