@use "../variables.scss" as *;
@use "../mixins.scss" as mixins;

.sv-list {
  // padding: 0;
  margin: 0;
  padding: var(--lbr-popup-menu-padding-top, 4px) var(--lbr-popup-menu-padding-right, 4px)
    var(--lbr-popup-menu-padding-bottom, 4px) var(--lbr-popup-menu-padding-left, 4px);
  overflow-y: auto;
  // background: $background;
  font-family: $font-family;
  list-style-type: none;
}

.sv-list__empty-container {
  width: 100%;
  font-family: $font-family;
  box-sizing: border-box;
  padding: var(--sjs2-spacing-x150);

  display: flex;
  padding: var(--lbr-placeholder-padding-top, 16px) var(--lbr-placeholder-padding-right, 64px)
    var(--lbr-placeholder-padding-bottom, 16px) var(--lbr-placeholder-padding-left, 64px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--lbr-placeholder-gap, 4px);
  align-self: stretch;
}

.sv-list__empty-text {
  line-height: calcLineHeight(1.5);
  font-size: calcFontSize(1);
  font-weight: 400;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $foreground-light;
}

.sv-list__item {
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  color: $foreground;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sv-list__item-body {
  --sjs-list-item-padding-left-default: calc(2 * #{$base-unit});
  --sjs-list-item-padding-left: calc(var(--sjs-list-item-level) * var(--sjs-list-item-padding-left-default));

  position: relative;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  // padding: var(--sjs2-spacing-x100) var(--sjs2-spacing-x800) var(--sjs2-spacing-x100) var(--sjs2-spacing-x200);
  padding-block: var(--sjs2-spacing-x100);
  padding-inline-end: var(--sjs2-spacing-x800);
  padding-inline-start: var(--sjs-list-item-padding-left, var(--sjs2-spacing-x200));
  color: $font-questiontitle-color;
  font-weight: normal;
  font-size: calcFontSize(1);
  line-height: calcLineHeight(1.5);
  cursor: pointer;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition:
    background-color $transition-duration,
    color $transition-duration;
}

.sv-list__item.sv-list__item--focused:not(.sv-list__item--selected) {
  outline: none;

  .sv-list__item-body {
    @include mixins.borderLight;
    border-radius: var(--sjs2-radius-component-drop-item, 8px);
    padding-block: var(--sjs2-spacing-x075);
    padding-inline-end: calc(var(--sjs2-base-unit-spacing) * 7.75);
    padding-inline-start: calc(var(--sjs2-base-unit-spacing) * 1.75);
  }
}

.sv-list__item:hover,
.sv-list__item:focus {
  outline: none;
}

.sv-list__item:focus .sv-list__item-body,
.sv-list__item--hovered > .sv-list__item-body {
  background-color: $background-dark;
}

.sv-list__item--with-icon.sv-list__item--with-icon {
  padding: 0;

  & > .sv-list__item-body {
    padding-top: var(--sjs2-spacing-x150);
    padding-bottom: var(--sjs2-spacing-x150);
    gap: var(--sjs2-spacing-x200);
    display: flex;
  }
}

.sv-list__item-icon {
  float: left;
  flex-shrink: 0;
  width: var(--sjs2-size-x300);
  height: var(--sjs2-size-x300);

  svg {
    display: block;
  }

  use {
    fill: $foreground-light;
  }
}

.sv-list-item__marker-icon {
  position: absolute;
  right: var(--sjs2-spacing-x100);
  width: var(--sjs2-size-x200);
  height: var(--sjs2-size-x200);
  flex-shrink: 0;
  padding: var(--sjs2-spacing-x050);
  box-sizing: content-box;

  svg {
    display: block;
  }

  use {
    fill: $foreground-light;
  }
}

:dir(rtl),
[style*="direction:rtl"],
[style*="direction: rtl"] {
  .sv-list__item-icon {
    float: right;
  }
}

.sv-list__item-separator {
  margin: var(--sjs2-spacing-x100) 0;
  height: 1px;
  background-color: $border;
}

.sv-list--filtering {
  .sv-list__item-separator {
    display: none;
  }
}

.sv-list__item.sv-list__item--selected,
.sv-list__item.sv-list__item--selected:hover,
.sv-list__item.sv-list__item--selected.sv-list__item--focused,
.sv-multi-select-list .sv-list__item.sv-list__item--selected.sv-list__item--focused,
li:focus .sv-list__item.sv-list__item--selected {
  & > .sv-list__item-body {
    background-color: $primary;
    color: $primary-foreground;
    font-weight: 600;
  }

  .sv-list__item-icon use {
    fill: $background;
  }

  .sv-list-item__marker-icon use {
    fill: $primary-foreground;
  }
}

.sv-multi-select-list .sv-list__item.sv-list__item--selected,
.sv-multi-select-list .sv-list__item.sv-list__item--selected:hover {
  .sv-list__item-body {
    background-color: $primary-light;
    color: $font-questiontitle-color;
    font-weight: 400;
  }
}

.sv-list__item--group-selected > .sv-list__item-body {
  background-color: $primary-light;
  color: $font-questiontitle-color;
  font-weight: 400;

  use {
    fill: $foreground-light;
  }
}

.sv-list__item.sv-list__item--disabled {
  .sv-list__item-body {
    cursor: default;
    color: $foreground-light;
  }
}

.sv-list__item span {
  white-space: nowrap;
}

.sv-list__item-text--wrap span {
  white-space: normal;
  word-wrap: break-word;
}

.sv-list__container {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  display: flex;
  min-height: 0;
}

.sv-list__filter {
  border-bottom: 1px solid $border-inside;
  // padding-bottom: var(--sjs2-spacing-x100);
}

.sv-list__filter-icon {
  display: block;
  position: absolute;
  top: var(--sjs2-spacing-x150);
  inset-inline-start: var(--sjs2-spacing-x200); //left: var(--sjs2-spacing-x200);

  .sv-svg-icon {
    width: var(--sjs2-size-x300);
    height: var(--sjs2-size-x300);

    use {
      fill: $foreground-light;
    }
  }
}

.sv-list__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  min-width: calc(var(--sjs2-base-unit-size) * 30);
  outline: none;
  font-size: calcFontSize(1);
  color: $foreground;
  padding: var(--sjs2-spacing-x150) var(--sjs2-spacing-x300);
  padding-inline-start: var(--sjs2-spacing-x700);
  line-height: calcLineHeight(1.5);
  border: none;
}

.sv-list__input::placeholder {
  color: $foreground-light;
}

.sv-list__input:disabled,
.sv-list__input:disabled::placeholder {
  color: $foreground-light;
}

.sv-list__loading-indicator {
  pointer-events: none;
}

.sv-list__loading-indicator .sv-list__item-body {
  background-color: transparent;
}
