@use "../variables.scss" as *;
@use "../mixins.scss" as mixins;

.sv_window {
    position: fixed;
    bottom: var(--sjs2-spacing-x200, 16px);
    right: var(--sjs2-spacing-x200, 16px);
    border-radius: var(--sjs2-radius-x100, 8px);
    border: 1px solid $border-inside;
    box-shadow: $shadow-medium-large;
    background-clip: padding-box;
    z-index: 100;
    max-height: 50vh;
    overflow: auto;
    box-sizing: border-box;
    background: $background-dim;
    width: calc(100% - var(--sjs2-size-x400, 32px)) !important;

    @include mixins.scrollRules;
}

.sv_window_root-content {
    height: 100%;
}

.sv_window--full-screen {
    top: var(--sjs2-spacing-x200, 16px);
    left: var(--sjs2-spacing-x200, 16px);
    right: var(--sjs2-spacing-x200, 16px);
    bottom: var(--sjs2-spacing-x200, 16px);
    max-height: 100%;
    width: initial !important;
    max-width: initial!important;
}

.sv_window_header {
    display: flex;
    justify-content: flex-end;
}

.sv_window_content {
    overflow: hidden;
}

.sv_window--collapsed {
    height: initial;
    
    .sv_window_header {
        height: var(--sjs2-size-x400, 32px);
        padding: var(--sjs2-spacing-x100, 8px) var(--sjs2-spacing-x100, 8px) var(--sjs2-spacing-x100, 8px) var(--sjs2-spacing-x200, 16px);
        border-radius: var(--sjs2-radius-x100, 8px);
        display: flex;
        background-color: $background-dim;
        box-sizing: content-box;
    }

    .sv_window_content {
        display: none;
    }

    .sv_window_buttons_container {
        margin-top: 0;
        margin-right: 0;
    }
}

.sv_window_header_title_collapsed {
    color: $foreground-dim;
    @include mixins.defaultBold;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sv_window_header_description {
    color: $font-questiondescription-color;
    font-feature-settings: 'salt' on;
    @include mixins.defaultFont;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sv_window_buttons_container {
    position: fixed;
    margin-top: var(--sjs2-spacing-x100, 8px);;
    margin-right: var(--sjs2-spacing-x100, 8px);;
    display: flex;
    gap: var(--sjs2-spacing-x100, 8px);
    z-index: 10000;
}

.sv_window_button {
    display: flex;
    padding: var(--sjs2-spacing-x100, 8px);
    justify-content: center;
    align-items: center;
    border-radius: var(--sjs2-radius-x050, 4px);
    cursor: pointer;

    &:hover,
    &:active {
        background-color: $primary-light;

        svg {

            use,
            path {
                fill: $primary;
            }
        }
    }

    &:active {
        opacity: 0.5;
    }

    svg {

        use,
        path {
            fill: $foreground-dim-light;
        }
    }
}