@import "./variables.scss";

@import "blocks/sd-question.scss";
@import "blocks/sd-input.scss";
@import "blocks/sd-comment.scss";
@import "blocks/sd-panel.scss";
@import "blocks/sd-signaturepad.scss";
@import "blocks/sd-checkbox.scss";
@import "blocks/sd-matrixdynamic.scss";
@import "blocks/sd-table.scss";
@import "blocks/sd-page.scss";
@import "blocks/sd-row.scss";
@import "blocks/sd-title.scss";
@import "blocks/sd-description.scss";
@import "blocks/sd-item.scss";
@import "blocks/sd-selectbase.scss";
@import "blocks/sd-checkbox.scss";
@import "blocks/sd-radio.scss";
@import "blocks/sd-visuallyhidden.scss";
@import "blocks/sd-matrix.scss";
@import "blocks/sd-rating.scss";
@import "blocks/sd-dropdown.scss";
@import "blocks/sd-imagepicker.scss";
@import "blocks/sd-progress.scss";
@import "blocks/sd-boolean.scss";
@import "blocks/sd-paneldynamic.scss";
@import "blocks/sd-file.scss";
@import "blocks/sd-hidden.scss";
@import "blocks/sd-navigation.scss";
@import "blocks/sd-button.scss";
@import "blocks/sd-body.scss";
@import "blocks/sd-multipletext.scss";
@import "blocks/sd-action.scss";
@import "../common-styles/sv-actionbar.scss";
@import "../common-styles/sv-popup.scss";
@import "../common-styles/sv-list.scss";
@import "../common-styles/sv-buttongroup.scss";
@import "../common-styles/sv-visuallyhidden.scss";
@import "../common-styles/sv-hidden.scss";
@import "../common-styles/sv-titleactions.scss";
@import "../signaturepad.scss";

.sd-root-modern {
  width: 100%;
  font-family: $font-family;
  background-color: $background-dim;
  *::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: $background-dim;
  }
  *::-webkit-scrollbar-thumb {
    background: $primary-light;
  }
}

.sv-popup.sv-popup--modal {
  .sv-popup__container {
    filter: drop-shadow(0px 2px 6px $shadow-medium);
  }
  .sv-popup_shadow {
    filter: drop-shadow(0px calcSize(1) calcSize(2) $shadow-medium);
  }
  .sv-popup__footer {
    padding-bottom: 2px;
  }
  padding: calcSize(4);
}
