.sd-root-modern {
  --sd-base-padding: calc(5 * #{$base-unit});
  --sd-base-vertical-padding: calc(4 * #{$base-unit});

  @media (max-width: 600px) {
    --sd-base-padding: calc(3 * #{$base-unit});
    --sd-base-vertical-padding: calc(2 * #{$base-unit});

    .sd-element__num {
      @include num_inline();
    }
    .sd-row--multiple,
    .sv-vue-row-additional-div {
      flex-wrap: wrap;
    }
    .sd-element__title--expandable:before {
      left: calcSize(-2.5);
    }
    .sd-title.sd-container-modern__title {
      flex-direction: column;
    }
    .sd-header__text {
      min-width: 100%;
    }
  }
}
