<div class="examplecontent wrapper wrapper-content">
    <div class="row">
        <div {% if page.propertiesFile %}class="col-md-8"{%else%}class="col-md-12"{%endif%}>
            <h3 class="contenttitle">{{ page.title }}</h3>
            {% if page.preSurvey %}
            {% include {{page.preSurvey}} %}
            {% endif %}
            {% if page.title != 'Live examples' %}
            <div id="surveyContainer" class="survey-container contentcontainer  codecontainer">
                <div id="surveyElement"></div>
            </div>
            <div id="survey_oncomplete" class="contentcontainer codecontainer" style="display:none">
                <div id="survey_result"></div>
                <input id="btnreRun" type="button" onclick="
                        document.getElementById('surveyContainer').style.display = '';
                        document.getElementById('survey_oncomplete').style.display = 'none';
                        reRunSurvey();"
                       value="Re-run survey"></input>
            </div>
            {% endif %}
        </div>
        {% if page.propertiesFile %}
        <div class="col-md-4 exampleoptions">
            {% include {{page.propertiesFile}} %}
        </div>
        {% endif %}
    </div>
    <div class="row source-code-container">
        {% if page.title != 'Live examples' %}
        <ul class="nav nav-tabs" style="margin-top:10px;margin-bottom:10px">
            {% if page.usereact %}
            <li role="presentation"><a href="{{ page.url | replace:'examplesreact/','examples/' }}">Knockoutjs</a></li>
            <li role="presentation"  class="active"><a>Reactjs</a></li>
            {% else %}
            <li role="presentation" class="active"><a>Knockoutjs</a></li>
            <li role="presentation"><a href="{{ page.url | replace:'examples/','examplesreact/' }}">Reactjs</a></li>
            {% endif %}
        </ul>
        {% endif %}
        {{ content }}
    </div>
</div>
