<div class="examplecontent wrapper wrapper-content">
    <div class="row">
        <div {% if page.propertiesFile %}class="col-md-8"{%else%}class="col-md-12"{%endif%}>
            <h3 class="contenttitle">{{ page.title }}</h3>
            {% if page.preSurvey %}
            {% include {{page.preSurvey}} %}
            {% endif %}
            {% if page.title != 'Live examples' %}
                {% if page.useangular %}
                    <ng-app></ng-app>
                {% else %}
                    <div id="surveyContainer" class="survey-container contentcontainer  codecontainer">
                        <div id="surveyElement">
                            {% if page.usevue %}
                                <survey :survey='survey'/>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <div id="survey_oncomplete" class="contentcontainer codecontainer" style="display:none">
                    <div id="survey_result"></div>
                    <input id="btnreRun" type="button" onclick="
                                    document.getElementById('surveyContainer').style.display = '';
                                    document.getElementById('survey_oncomplete').style.display = 'none';
                                    reRunSurvey();"
                           value="Re-run survey"></input>
                </div>
            {% endif %}

            <div class="row source-code-container">
                {% if page.title != 'Live examples' %}
                    {% include platform-selector.html %}
                {% endif %}
                {{ content }}
            </div>
        </div>
        {% if page.propertiesFile %}
        <div class="col-md-4 exampleoptions">
            {% include {{page.propertiesFile}} %}
        </div>
        {% endif %}
    </div>
</div>
