{% if page.hasColumnCount%}
<p>
    Column count: <select onChange="survey.getQuestionByName('car').colCount = parseInt(this.value); survey.render();">
        <option value="0" selected="true">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select> default is 1.
    <pre class="brush:js">survey.getQuestionByName('car').colCount = yourValue; survey.render();</pre>
</p>
{% endif %}
<p>
    Choices order: <select onChange="survey.getQuestionByName('car').choicesOrder = this.value; survey.render();">
        <option value="none" selected="true">none</option>
        <option value="asc">asc</option>
        <option value="desc">desc</option>
        <option value="random">random</option>
    </select> default is 'none'.
    <pre class="brush:js">survey.getQuestionByName('car').choicesOrder = yourvalue; survey.render();</pre>
</p>
<p>
    Show others: <input type="checkbox" onchange="survey.getQuestionByName('car').hasOther = this.checked; survey.render();" /> default is false.
    <pre class="brush:js">survey.getQuestionByName('car').hasOther = yourvalue; survey.render();"</pre>
</p>
<p>    
    Others text: <input type="text" value="Other (describe)" onchange="survey.getQuestionByName('car').otherText = this.value; survey.render();"/>
    <pre class="brush:js">survey.getQuestionByName('car').otherText = yourvalue; survey.render();"</pre>
</p>