{% if page.usereact%}
<script  type="text/babel">
{% else %}
<script type="text/javascript">
{% endif %}
/*<![CDATA[*/
{% if survey_code %}
{{ survey_code }}
{% endif %}
{{ survey_setup }}
{% if page.usereact%}
window.survey = survey;
survey.onComplete.add(function (s) { 
    var result = "\nThe results are:\n" + JSON.stringify(survey.data);
    document.getElementById('survey_result').innerHTML = result; 
    document.getElementById('survey_oncomplete').style.display = '';
});
{% endif %}
{% if survey_events %}
{{ survey_events }}
{% endif %}
/*]]>*/
</script>


{% if survey_code %}
<div>Source code: Survey code</div>
<pre><code class="language-javascript">{{ survey_code + '</script>' | replace:'/*<![CDATA[*/','' | replace:'/*]]>*/','' | escape }}</code></pre>
{% endif %}
{% if survey_events %}
<div>Source code: Survey events</div>
<pre><code class="language-javascript">{{ survey_events | replace:'/*<![CDATA[*/','' | replace:'/*]]>*/','' | escape }}</code></pre>
{% endif %}
<div>Source code: Survey setup</div>
<pre><code class="language-javascript">Survey.Survey.cssType = "bootstrap";{{ survey_setup | replace:'/*<![CDATA[*/','' | replace:'/*]]>*/','' | escape }}</code></pre>

