{% assign current = page.url | downcase | split: '/' %}
<ul>
    <li><a rel="home" href="{{ page.pathprefix }}index.html" {% if current[1] == 'index.html' %}class='active'{% endif %}>Home</a></li>
    <li><a rel="examples" href="{{ page.pathprefix }}examples/"  {% if current[1] == 'examples' %}class='active'{% endif %}>Live examples</a></li>
    <li><a rel="builder" href="{{ page.pathprefix }}builder/"  {% if current[1] == 'builder' %}class='active'{% endif %}>Builder</a></li>
    <li><a href="http://github.com/andrewtelnov/dxsurvey">Source</a></li>
</ul>
