{% assign activeexample = ''%}
{% assign activecategory = ''%}
{% for category in site.data.examples.categories %}
    {% for example in category.items %}
        {% if page.url contains example.url %}
            {% assign activeexample = example.name %}
            {% assign activecategory = category.name %}
        {% endif %}
    {% endfor %}    
{% endfor %}    
<nav class="navbar-default navbar-static-side examplesidebar" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
        {% for category in site.data.examples.categories %}
            <li {% if category.name == activecategory%}class="active"{% endif%}>
                <a href="#" onclick="doExpand('{{category.id}}')">
                    <span>{{category.name}}</span>
                    <span id="img{{category.id}}" class="glyphicon pull-right {% if category.name == activecategory%}glyphicon-chevron-up{%else%}glyphicon-chevron-down{% endif%}" aria-hidden="true"></span>
                </a>
                <ul id="examples{{category.id}}" class="nav nav-second-level"{% if category.name != activecategory%}style="display:none"{% endif%}>
                {% for example in category.items %}
                    <li {% if example.name == activeexample%}class="active"{% endif%}>
                        <a href="{{example.url}}">
                            <span>{{example.name}}</span>
                            <div><small>{{example.text}}</small></div>
                        </a>
                    </li>
                {% endfor %}    
                </ul>
            </li>
        {% endfor %}
        </ul>        
    </div>
</nav>

<script type="text/javascript">
    function doExpand(categoryId) {
        var ulCategory = document.getElementById("examples" + categoryId);
        if(!ulCategory) return;
        var display = ulCategory.style.display;
        ulCategory.style.display = display == "none" ? "" : "none";
        var imgCategory = document.getElementById("img" + categoryId);
        if(!imgCategory) return;
        imgCategory.className = display == "none" ? "glyphicon pull-right glyphicon-chevron-up" : "glyphicon pull-right glyphicon-chevron-down";
    }
</script>