<!-- ko with: $data.model.item -->
<button type="button"
  data-bind="click: function(s, args) { $data.action($data, getIsTrusted(args)); }, key2click: { processEsc: false }, css: getActionBarItemCss(), attr: { disabled: $data.enabled !== undefined && !ko.unwrap($data.enabled), title: $data.tooltip || $data.title, 'role': $data.ariaRole }">
  <!-- ko if: $data.iconName -->
  <!-- ko component: { name: 'sv-svg-icon', params: { iconName: iconName, size: iconSize, title: $data.tooltip || $data.title, css: $data.cssClasses.itemIcon } } -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: $data.hasTitle -->
  <span data-bind="text: title, css: getActionBarItemTitleCss()"></span>
  <!-- /ko -->
</button>
<sv-popup params="{ model: popupModel, getTarget: $parent.getTarget }"></sv-popup>
<!-- /ko -->