<!-- ko with: $data.item -->
<button class="sv-action-bar-item-dropdown" type="button"
  data-bind="click: action, key2click: { processEsc: false }, css: getActionBarItemActiveCss(), attr: { disabled: $data.enabled !== undefined && !ko.unwrap($data.enabled), title: $data.tooltip || $data.title }">
  <!-- ko if: $data.iconName -->
  <sv-svg-icon class="sv-action-bar-item__icon" params="iconName: iconName, size: iconSize"></sv-svg-icon>
  <!-- /ko -->
  <!-- ko if: $data.hasTitle -->
  <span data-bind="text: title, css: getActionBarItemCss()"></span>
  <!-- /ko -->
  <sv-popup params="model: popupModel"></sv-popup>
</button>
<!-- /ko -->