<!-- ko if: hasItems-->
<!-- ko foreach: items-->
<span class="svc-action"
  data-bind="css: $data.css, visible: $data.visible === undefined || !!ko.unwrap($data.visible), attr: { id: $data.id }">
  <!-- ko ifnot: $data.template-->
  <!-- ko component: { name: $data.component || 'svc-action-bar-item', params: { item: $data } } -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: $data.template  -->
  <!-- ko template: { name: $data.template, data: $data.data || $data } -->
  <!-- /ko -->
  <!-- /ko -->
</span>
<!--/ko-->
<!--/ko-->