<!-- ko with: $data.item -->
<div data-bind="class: $data.getActionRootCss(), attr: { id: $data.id }">
    <div class="sv-action__content">
        <!-- ko if: $data.needSeparator -->
        <sv-action-bar-separator></sv-action-bar-separator>
        <!-- /ko -->
        <!-- ko ifnot: $data.template-->
        <!-- ko component: { name: $data.component || 'sv-action-bar-item', params: { item: $data } } -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: $data.template  -->
        <!-- ko template: { name: $data.template, data: $data.data || $data } -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->