<!-- ko with: $data.item -->
<button
  type="button"
  data-bind="click: action, key2click: { processEsc: false }, disable: $data.disabled, css: getActionBarItemActiveCss(), attr: { title: $data.tooltip || $data.title }"
>
  <!-- ko if: $data.iconName -->
  <sv-svg-icon
    class="sv-action-bar-item__icon"
    params="iconName: iconName, size: iconSize"
  ></sv-svg-icon>
  <!-- /ko -->

  <!-- ko if: $data.hasTitle -->
  <span
    data-bind="text: title, css: getActionBarItemCss()"
  ></span>
  <!-- /ko -->
</button>
<!-- /ko -->