<!-- ko if: hasItems-->
<!-- ko foreach: items-->
<span
  class="sv-action"
  data-bind="css: $data.css, attr: { id: $data.id }, style: { visibility : $data.visible() ? 'visible': 'hidden' }"
>
  <!-- ko ifnot: $data.template-->
  <!-- ko component: { name: $data.component || 'sv-action-bar-item', params: { item: $data } } -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: $data.template  -->
  <!-- ko template: { name: $data.template, data: $data.data || $data } -->
  <!-- /ko -->
  <!-- /ko -->
</span>
<!--/ko-->
<!--/ko-->
