<button
  class="sv-action-bar-item"
  data-bind="click: action, class: $data.innerCss, disable: $data.disabled, css: { 'sv-action-bar-item--active': !!ko.unwrap($data.active) }, attr: { title: $data.tooltip || $data.title}"
>
  <!-- ko if: $data.iconName -->
  <sv-svg-icon
    class="sv-action-bar-item__icon"
    params="iconName: iconName, size: 24"
  ></sv-svg-icon>
  <!-- /ko -->

  <!-- ko if: $data.showTitle === undefined ||  ko.unwrap($data.showTitle) || !$data.iconName -->
  <span
    class="sv-action-bar-item__title"
    data-bind="text: title, css: { 'sv-action-bar-item__title--with-icon': !!$data.iconName }"
  ></span>
  <!-- /ko -->
</button>
