<!-- ko if: hasItems-->
<!-- ko foreach: items-->
<span
  class="sv-action"
  data-bind="css: { 'sv-action--hidden': !isVisible() }, class: $data.css, attr: { id: $data.id }, visible: $data.visible === undefined || $data.visible"
>
  <!-- ko ifnot: $data.template-->
  <!-- ko component: { name: $data.component || 'sv-action-bar-item', params: { item: $data } } -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: $data.template  -->
  <!-- ko template: { name: $data.template, data: $data.data || $data } -->
  <!-- /ko -->
  <!-- /ko -->
</span>
<!--/ko-->
<!--/ko-->
