footer.panel-footer {
    background-color: #eee;
    border: none;
    padding: 20px 0 20px 0;
    text-align: center;

    @media (max-width: 992px) {
        padding: 20px 20px 20px 100px;
    }
}
