.integration {
    background-color: $bg-color;

    .definition, .steps {
        padding-left: 150px;
        padding-right: 150px;
        text-align: center;

        @media(max-width:1200px) {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .definition {
        background-color: $bg-color-light;
        padding-bottom: 50px;
    }

    .steps {
        padding-top: 50px;

        .steps-header {
            font-size: 25px;
            padding-bottom: 35px;
            text-align: center;
        }
        .steps-body {
            margin: 0;
            padding-bottom: 60px;
        }
        .step-name {
            font-size: 25px;
            display: block;
            padding-right: 125px;
            padding-bottom: 12px;
        }
        .step-left {
            padding-right: 62px;
            text-align: right;
        }
        .step-right {
            padding-left: 60px;
            padding-right: 0;
        }
        .step div[class*="push"].step-left {
            padding-right: 0;
            text-align: left;
            padding-left: 60px;
        }
        .step div[class*="pull"].step-right {
            padding-left: 0;
            padding-right: 62px;
            text-align: right;
        }
        .step-panel {
            background-color: #fff;
            padding: 20px;
            margin-bottom: 50px;
            border-radius: 5px;
        }
        .step-panel > .tab-content{
            border: 1px solid #e7eaec;
            border-top: none;
            padding: 20px;
        }
        .step-right:before {
            position: absolute;
            left: -12px;
            width: 20px;
            height: 20px;
            border-radius: 50px;
            background-color: #1ab394;
            z-index: 1;
            content: "";
        }
        .step-right:after {
            position: absolute;
            width: 4px;
            height: 100%;
            display: block;
            top: 0;
            left: -4px;
            background: #e7eaec;
            content: "";
        }
        .step div[class*="pull"].step-right:before {
            left: initial;
            right: -8px;
        }
        .step div[class*="pull"].step-right:after {
            right: 0;
            left: initial;
        }
        .step-panel:after {
            position: absolute;
            top: 15px;
            left: 51px;
            content: "";
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right:15px solid white;
        }
        .step div[class*="pull"] .step-panel:after {
            left: initial;
            right: 53px;
            border: none;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid white;
        }

        @media (max-width: 992px) {
            .step-right, .step-left, .step div[class*="pull"].step-right, .step div[class*="push"].step-left {
                padding: 10px 5%;
            }
            .step-panel:after, .step-right:before, .step-right:after {
                display: none;
            }
        }

        .jumbotron {
            text-align: left;

            .panel-footer {
                background-color: white;
                border-top: none;
            }

            .panel-heading {
                border-bottom: 1px solid #e7eaec;
            }
        }
    }
}