.menu-top {
    background-color: $bg-color;
    border: none;

    &.navbar-default.navbar  {
        .nav {
            li {
                font-size: 15px;
                font-weight: bold;

                a {
                    padding: 15px 25px;
                }

                &.active > a,
                a:hover,
                a:focus {
                    color: $main-color;
                    background-color: $bg-color;
                    border-left: none;
                }
            }
        }

        .navbar-header {
            display: inline;

            .navbar-brand {
                width: 220px;
                background-image: url('/images/brand_back.png');
                background-size: cover;
                background-repeat: no-repeat;
                color: white;
                float: none;
                display: inline-block;
                font-size: 20px;
                font-weight: 700;
                height: 52px;
                text-align: center;
                text-transform: uppercase;
            }

            .version-link {
                line-height: 50px;
                margin-left: 15px;
                font-size: 15px;
                @media (max-width: 780px) {
                    font-size: 10px;
                }
            }
        }

    }
}