@use "./shadcn.scss";

/* shadcn/ui "base-maia" style. Load after shadcn.css (overrides only). */
.sjs-theme-overrides {
  @include shadcn.shadcn-dark-input-bg;
  /* buttons */
  --sjs2-radius-component-action: calc(var(--spacing) * 8);
  --sjs2-shadcn-action-large-height: calc(var(--spacing) * 9); /* h-9 */
  --sjs2-layout-component-action-large-box-padding-horizontal: calc(var(--spacing) * 3); /* px-3 */
  --sjs2-layout-component-action-large-box-padding-vertical: 0;

  /* formboxes */
  --sjs2-shadcn-input-height: calc(var(--spacing) * 9); /* h-9 */
  --sjs2-shadcn-textarea-padding-vertical: calc(var(--spacing) * 3); /* py-3 */
  --sjs2-layout-component-input-medium-content-padding-vertical: calc(var(--spacing) * 1); /* py-1 */
  --sjs2-radius-component-formbox: calc(var(--radius) * 2.6);
  --sjs2-color-component-formbox-default-bg: color-mix(in oklab, var(--input) 30%, transparent);

  /* checkboxes and radio */
  --sjs2-radius-component-checkbox: calc(var(--radius) * 0.6); /* rounded-[6px] */

  /* dropdown */
  --sjs2-radius-component-drop: calc(var(--radius) * 1.8);
  --sjs2-radius-component-drop-item: calc(var(--radius) * 1.4);
  --sjs2-shadcn-drop-action-radius: calc(var(--radius) * 2.6);
  --sjs2-shadcn-drop-action-bar-margin-inline-end: calc(var(--spacing) * -1);
  --sjs2-shadcn-drop-action-bar-padding-inline-end: calc(var(--spacing) * 3);

  /* tagbox */
  --sjs2-color-component-tagbox-item-default-bg: color-mix(in oklab, var(--muted-foreground) 10%, transparent);
  --sjs2-color-component-tagbox-item-hovered-bg: color-mix(in oklab, var(--muted-foreground) 10%, transparent);
  --sjs2-shadcn-tagbox-input-padding-vertical: calc(var(--spacing) * 1.5);
  --sjs2-shadcn-tagbox-input-padding-horizontal: calc(var(--spacing) * 1.5);
  --sjs2-shadcn-tagbox-input-gap: calc(var(--spacing) * 1.5);
  --sjs2-shadcn-tagbox-empty-input-padding-vertical: calc(var(--spacing) * 1.5);
  --sjs2-shadcn-tagbox-item-height: calc(var(--spacing) * 5.5);
  --sjs2-shadcn-tagbox-item-padding-left: calc(var(--spacing) * 2);
  --sjs2-shadcn-tagbox-item-padding-right: 0;
  --sjs2-shadcn-tagbox-item-radius: calc(var(--radius) * 2.6);
  --sjs2-shadcn-tagbox-item-clean-size: calc(var(--spacing) * 6);
  --sjs2-shadcn-tagbox-item-clean-radius: calc(var(--radius) * 2.6);

  /* common and other */
  --sjs2-typography-font-size-component-page-title: var(--text-base);
  --sjs2-typography-font-size-component-header-title: var(--text-base);
  --sjs2-radius-component-panel: calc(var(--radius) * 1.8);

  /* tables */
  --sjs2-shadcn-table-header-height: calc(var(--spacing) * 12); /* h-12 */
}

.sd-comment {
  --sjs2-radius-component-formbox: calc(var(--radius) * 1.4);
}

.sd-comment__grip {
  display: none;
}

