@use "./shadcn.scss";

/* shadcn/ui "base-maia" style. Load after shadcn.css (overrides only). */
.sjs-theme-overrides {
  /* buttons */
  --sjs2-radius-component-action: calc(var(--spacing) * 8);
  --sjs2-color-component-action-brand-tertiary-surface-default-bg: color-mix(in oklab, var(--input) 30%, transparent);
  --sjs2-shadcn-action-large-height: calc(var(--spacing) * 9); /* h-9 */
  --sjs2-layout-component-action-large-box-padding-horizontal: calc(var(--spacing) * 3); /* px-3 */
  --sjs2-layout-component-action-large-box-padding-vertical: 0;

  /* formboxes */
  --sjs2-shadcn-input-height: calc(var(--spacing) * 9); /* h-9 */
  --sjs2-shadcn-textarea-padding-vertical: calc(var(--spacing) * 3); /* py-3 */
  --sjs2-layout-component-input-medium-content-padding-vertical: calc(var(--spacing) * 1); /* py-1 */
  --sjs2-radius-component-formbox: calc(var(--radius) * 2.6);
  --sjs2-color-component-formbox-default-bg: color-mix(in oklab, var(--input) 30%, transparent);

  /* checkboxes and radio */
  --sjs2-radius-component-checkbox: calc(var(--radius) * 0.6); /* rounded-[6px] */
  --sjs2-color-component-check-false-default-bg: var(--background);

  /* common and other */
  --sjs2-radius-component-panel: calc(var(--radius) * 1.8);
}

.sd-comment {
  --sjs2-radius-component-formbox: calc(var(--radius) * 1.4);
}

.sd-comment__grip {
  display: none;
}

.sd-theme-root .sd-element--with-frame {
  --sd-base-padding: calc(var(--spacing) * 5);
}
