<div data-bind="css: question.renderCssRoot">
  <div data-bind="css: question.koCss().selectWrapper">
    <!-- ko ifnot: question.isReadOnly -->
    <div tabindex="0" data-bind="text: question.readOnlyText, css: question.getControlClass(), disabled: question.isInputReadOnly,
    click: click, key2click: { processEsc: false },
    attr: { 
      id: question.inputId, 
      required: question.isRequired, 
      'aria-required': question.ariaRequired, 
      'aria-label': question.ariaLabel, 
      'aria-invalid': question.ariaInvalid, 
      'aria-describedby': question.ariaDescribedBy 
    },">
    </div>
    <!-- ko component: { name: "sv-popup", params: { model: popupModel }} -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: question.isReadOnly -->
    <div disabled
      data-bind="text: question.readOnlyText, css: question.getControlClass(), attr: { id: question.inputId }, ">
    </div>
    <!-- /ko -->
  </div>
  <!-- ko if: question.isOtherSelected -->
  <div class="form-group"
    data-bind="template: { name: 'survey-comment', data: {'question': question, 'visible': question.isOtherSelected } }, style: {display: question.isFlowLayout ? 'inline': ''}">
  </div>
  <!-- /ko -->
</div>