<div data-bind="css: question.renderCssRoot">
  <div data-bind="css: question.cssClasses.selectWrapper">
    <!-- ko ifnot: question.isReadOnly -->
    <select data-bind="options: question.visibleChoices, 
    optionsValue: 'value', 
    optionsText: 'koText', 
    optionsCaption: question.allowClear ? question.locPlaceholder.koRenderedHtml : undefined, 
    optionsAfterRender: question.koDisableOption, 
    attr: {id: question.inputId, autocomplete: question.autocomplete, required: question.isRequired, 'aria-required': question.ariaRequired, 'aria-label': question.ariaLabel, 'aria-invalid': question.ariaInvalid, 'aria-errormessage': question.ariaErrormessage},
    click: click,
    event: { keyup: keyup },
    disable: question.isInputReadOnly, 
    value: question.renderedValue, 
    valueAllowUnset: true, 
    css: question.getControlClass()">
    </select>
    <!-- /ko -->
    <!-- ko if: question.isReadOnly -->
    <div disabled
      data-bind="attr: {id: question.inputId}, text: question.readOnlyText, css: question.getControlClass()">
    </div>
    <!-- /ko -->
    <!-- ko if: question.cssClasses.chevronButtonIconId -->
    <div data-bind="css: question.cssClasses.chevronButton">
      <!-- ko component: { name: 'sv-svg-icon', params: { css: question.cssClasses.chevronButtonSvg, iconName: question.cssClasses.chevronButtonIconId, size: 'auto' } } -->
      <!-- /ko -->
    </div>
    <!-- /ko -->
  </div>
  <!-- ko if: question.isOtherSelected -->
  <div data-bind="css: question.getCommentAreaCss(true), template: { name: 'survey-other', data: {'question': question, 'visible': question.isOtherSelected } }, style: {display: question.isFlowLayout ? 'inline': ''}">
  </div>
  <!-- /ko -->
</div>