<div class="sv-popup" tabindex="-1"
  data-bind="visible: isVisible, click: clickOutside, class: styleClass, event: { keydown: function(data, event) { onKeyDown(event); return true; } }">
  <div class="sv-popup__container"
    data-bind="style: { left: left, top: top, height: height, width: width }, click: function() { return true; }, clickBubble: false">
    <div class="sv-popup__shadow">
      <!-- ko if: showPointer -->
      <span class="sv-popup__pointer" data-bind="style: {left: pointerTarget.left, top: pointerTarget.top }"></span>
      <!-- /ko -->
      <div class="sv-popup__body-content">
        <!-- ko if: !!title  -->
        <div class="sv-popup__body-header" data-bind="text: title"></div>
        <!-- /ko -->
        <div class="sv-popup__scrolling-content">
          <div class="sv-popup__content"
            data-bind="component: { name: contentComponentName, params: contentComponentData }"></div>
        </div>
        <!-- ko if: showFooter  -->
        <div class="sv-popup__body-footer">
          <button type="button" class="sv-popup__body-footer-item sv-popup__button sv-popup__button--cancel"
            data-bind="click: cancel, text: cancelButtonText"> Cancel </button>
          <!-- ko if: isModal  -->
          <button type="button" class="sv-popup__body-footer-item sv-popup__button sv-popup__button--apply"
            data-bind="click: apply, text: applyButtonText"> Apply </button>
          <!-- /ko -->
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>