<div style="position: fixed; bottom: 3px; right: 10px;" data-bind="css: $root.css.window.root">
    <div data-bind="css: $root.css.window.header.root">
        <a href="#" data-bind="click:doExpand" style="width:100%">
            <span style="padding-right:10px" data-bind="text:title, css: $root.css.window.header.title"></span>
            <span aria-hidden="true" data-bind="css: koExpandedCss"></span>
        </a>
    </div>
    <div data-bind="visible:koExpanded, css: $root.css.window.body">
        <div id="windowSurveyJS"></div>
    </div>
</div>