<div style="position: fixed; bottom: 3px; right: 10px;" data-bind="css: css.window.root">
    <div data-bind="css: css.window.header.root">
        <a href="#" data-bind="click:doExpand" style="width:100%">
            <span style="padding-right:10px" data-bind="css: css.window.header.title"><!-- ko template: { name: 'survey-string', data: locTitle } --><!-- /ko --></span>
            <span aria-hidden="true" data-bind="css: koExpandedCss"></span>
        </a>
    </div>
    <div data-bind="visible:koExpanded, css: css.window.body">
        <div id="windowSurveyJS"></div>
    </div>
</div>