<div data-bind="css: question.koCss().selectWrapper">
  <!-- ko ifnot: question.isReadOnly -->
  <div data-bind="css: question.getControlClass(),
    click: click, 
    event: { keydown: keyhandler, blur: blur },
    attr: { 
      id: question.inputId, 
      required: question.isRequired, 
      tabindex: (question.isInputReadOnly || model.searchEnabled) ? undefined : 0,
      disabled: question.isInputReadOnly,
      role: question.ariaRole,
      'aria-required': question.ariaRequired, 
      'aria-label': question.ariaLabel, 
      'aria-invalid': question.ariaInvalid, 
      'aria-describedby': question.ariaDescribedBy 
    },">
    <div data-bind="css: question.cssClasses.controlValue">
      <!-- ko foreach: question.renderedValue -->
      <!-- ko component: { name: 'sv-tagbox-item', params: { item: $data, question: question } } -->
      <!-- /ko -->
      <!-- /ko -->
      <input type="text" autocomplete="off" data-bind="textInput: model.filterString, 
       css: question.cssClasses.filterStringInput, 
       attr: { 
        size: !model.filterString ? 1 : null, 
        id: question.getInputId(), 
        placeholder: model.filterStringPlaceholder, 
        disabled: question.isInputReadOnly,
        readonly: !model.searchEnabled 
      },
       event: { keydown: inputKeyHandler, blur: blur }"></input>
    </div>
    <!-- ko if: (question.allowClear && question.cssClasses.cleanButtonIconId) -->
    <div data-bind="css: question.koCss().cleanButton, click: clear, visible: !question.isEmpty() ">
      <!-- ko component: { name: 'sv-svg-icon', params: { css: question.cssClasses.cleanButtonSvg, iconName: question.cssClasses.cleanButtonIconId, size: 'auto', title: question.cleanButtonCaption } } -->
      <!-- /ko -->
    </div>
    <!-- /ko -->
  </div>
  <!-- ko component: { name: "sv-popup", params: { model: model.popupModel }} -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: question.isReadOnly -->
  <div disabled
    data-bind="text: question.readOnlyText, css: question.getControlClass(), attr: { id: question.inputId }, ">
  </div>
  <!-- /ko -->
</div>