<label data-bind="css: question.getItemClassByText(item.itemValue, item.text),  event: { mousedown: question.koMouseDown }">
  <input
  type="radio"
  class="sv-visuallyhidden"
  data-bind="attr: { name: question.questionName, id: question.getInputId(index), value: item.value, 'aria-required': question.ariaRequired, 'aria-label': question.ariaLabel, 'aria-invalid': question.ariaInvalid, 'aria-errormessage': question.ariaErrormessage }, checkedValue: item.value, enable: !question.isInputReadOnly, event: { click: function(data, event) { question.setValueFromClick(event.target.value); return true; } }"
  />
  <span data-bind="css: question.cssClasses.itemText">
  <!-- ko template: { name: 'survey-string', data: item.locText } -->
  <!-- /ko -->
  </span>
</label>
