.sv-btn {
	background-color: $main-color;
	border: unset;
	border-radius: 1.21em;
	color: #ffffff;
	cursor: pointer;
	font-family: Segoe UI;
	font-size: 1em;
	font-weight: bold;
	padding: 0.86em 1em;
	text-align: left;
}
