.sv-btn {
  border: none;
  border-radius: 1.21em;
  color: #ffffff;
  cursor: pointer;
  font-family: Segoe UI;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  padding: 0.45em 1em 0.55em;
  text-align: left;
}
