.sv-boolean__material-decorator {
  border-radius: 2px;
}
.sv-boolean__decorator {
  background-color: $main-color;
  border-radius: 2px;
  fill: white;
}
.sv-boolean__checked-mark,
.sv-boolean__undefined-mark {
  display: none;
}
//undefined styles
.sv-boolean__control:indeterminate {
  & + .sv-boolean__material-decorator {
    .sv-boolean__decorator {
      border: none;
      background-color: transparent;
      fill: $main-color;
    }
    .sv-boolean__undefined-mark {
      display: inline-block;
    }
  }
}
.sv-boolean__control:indeterminate,
.sv-boolean__control:checked {
  & + .sv-boolean__material-decorator .sv-boolean__unchecked-mark {
    display: none;
  }
}
//checked styles
.sv-boolean__control:checked {
  & + .sv-boolean__material-decorator .sv-boolean__checked-mark {
    display: inline-block;
  }
}
