.sv-btn{
    background-color: $main-color;
    border: unset;
    border-radius: 17px;    
    color: #ffffff;;
    cursor: pointer;
    font-family: SegoeUI;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 14px;
    text-align: left;
}
