@mixin common(
  $background-color,
  $border-color,
  $checkmark-color: white,
) {
  background-color: $background-color;
  border-color: $border-color;
  fill: $checkmark-color;
}
.sv-checkbox__material-decorator {
  border-radius: 2px;
}
.sv-checkbox__decorator {
  border: 3px solid $border-color;
  border-radius: 2px;
  fill: transparent;
 }
.sv-checkbox:hover .sv-checkbox__material-decorator .sv-checkbox__decorator {
  @include common($main-hover-color, $main-hover-color);
}
.sv-checkbox__control:checked + .sv-checkbox__material-decorator .sv-checkbox__decorator {
  @include common($main-color, $main-color);
}
.sv-checkbox__control:checked:disabled + .sv-checkbox__material-decorator .sv-checkbox__decorator {
  @include common($disable-color, $disable-color);
}
.sv-checkbox__control:disabled {
  @include common(inherit, $disable-color, transparent);
}