@mixin common($background-color, $border-color, $checkmark-color: white) {
  background-color: $background-color;
  border-color: $border-color;
  fill: $checkmark-color;
}
.sv-checkbox__decorator {
  border-radius: 2px;
}
.sv-checkbox__svg {
  border: 3px solid $border-color;
  border-radius: 2px;
  fill: transparent;
}
.sv-checkbox--allowhover:hover {
  .sv-checkbox__svg {
    @include common($main-hover-color, $main-hover-color);
  }
}
.sv-checkbox--checked .sv-checkbox__svg {
  @include common($main-color, $main-color);
}
.sv-checkbox--checked.sv-checkbox--disabled .sv-checkbox__svg {
  @include common($disable-color, $disable-color);
}
.sv-checkbox--disabled .sv-checkbox__svg {
  @include common(inherit, $disable-color, transparent);
}
