.sv-footer{
    min-height: $base-line-height;
    padding: 1em 0;
}
.sv-footer__sv-btn-complete,
.sv-footer__sv-btn-next,
.sv-footer__sv-btn-start
{
    float: right;
}
.sv-footer__sv-btn-prev{
    float: left;
}