.sv-item__control {
    height: 1.71em;
    margin: 0em;
    vertical-align: middle;
    width: 1.71em;
}
.sv-item__control-label {     
    margin-left: 1em;     
    vertical-align: middle;           
}