.sv-matrix__label {
  display: inline-block;
  margin: 0;
  padding: 0.26em;
  height: 1.5em;
}
.sv-matrix__control {
  vertical-align: middle;
}
.sv-matrix__cell {
  min-width: 10em ;
}
.sv-matrix__cell-text {
  cursor: pointer;
}
.sv-matrix__cell-text--selected {
  color: #ffffff;
  background-color: $main-color;
}
