.sv-page__title {        
    color: $main-black-color;
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-left: 86px; 
    text-align: left;
}

.sv-page__description {
    
}
.sv-page__row {
    margin: 0px;
    margin-left: 78px;
}