.sv-page__title {        
    color: $main-black-color;
    font-family: Raleway;
    font-size: 2.14em;
    font-weight: bold;
    margin: 0em;
    margin-left: 6.14em; 
    text-align: left;
}

.sv-page__description {
    
}
.sv-page__row {
    margin: 0px;
    margin-left: 78px;
}