.sv-progress {
  height: 0.19em;
  background-color: $header-background-color;
}
.sv-progress__bar {
  background-color: $main-color;
  height: 100%;
  position: relative;
}
.sv-progress__text {
  color: $progress-text-color;
  font-weight: bold;
  font-size: 0.87em;
  margin-top: 0.69em;
  @media only screen and (min-width: 768px) {
    margin-left: 6.55em;
  }
  position: absolute;
}
