.sv-paneldynamic__btn--action--add {
  background-color: $add-button-color;
}
.sv-paneldynamic__btn--action--remove {
  background-color: $remove-button-color;
}
.sv-paneldynamic__progress {
  min-height: 2.12em;
}
