.sv-progress {
  height: 0.26em;
  background-color: $header-background-color;
}
.sv-progress__bar {
  height: 100%;
  min-width: 87.5em;
  background-color: $main-color;
  position: relative;
  margin-top: 1.75em;
  > span {
    position: absolute;
    top: -1.5em;
    display: inline-block;
    white-space: nowrap;
  }
}
