.sv-page__title {
  font-size: 2.14em;
  margin: 0;
  margin-left: 2.87em;
}

.sv-page__description {
}
.sv-page__row {
  margin: 0;

  @media only screen and (min-width: 768px) {
    margin-left: 5.57em;
  }
}
