.sv-question {
  box-sizing: border-box;
  font-family: "Segoe UI";
  overflow: auto;
}
.sv-question__title {
  box-sizing: border-box;
  cursor: default;
  font-size: 1.25em;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  padding: 0.25em 0.44em;
  height: 1.75em;
  white-space: nowrap;
  position: relative;
}
.sv-question__required-text {
  font-size: 1.4em;
  position: absolute;
  top: 0;
}
.sv-question__description {
  padding-left: 0.44em;
  font-size: 1em;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sv-question__input {
  height: 1.81em;
  width: 100%;
}
.sv-question__content {
  margin-left: 1.69em;
}
.sv-question__erbox {
  color: $error-color;
  font-weight: bold;
  font-size: 0.74em;
}
.sv-question__erbox--location--top {
}
.sv-question__erbox--location--bottom {
}
.sv-question__footer {
  padding: 0.87em 0;
}
.sv-question__title--answer {
  background-color: $answer-background-color;
}
.sv-question__title--error {
  background-color: $error-background-color;
}
.sv-question__header--location--top {
  margin-bottom: 0.65em;
}
.sv-question__header--location--left {
  float: left;
  max-width: 27%;
  margin-right: 0.875em;
}
.sv-question__header--location--bottom {
  margin-top: 0.8em;
}
.sv-question__content--left {
  overflow: hidden;
}
.sv-question__other {
  margin-top: 0.5em;
}
.sv-question__form-group {
  margin-top: 0.5em;
}