.sv-question {
  box-sizing: border-box;
  font-family: "Segoe UI";
  overflow: auto;
  padding: 0.5em 1em 1.5em 1em;
}
.sv-question__title-container {
  background-color: transparent;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 0.92em;
  padding-left: 0.5em;
  padding-top: 0.36em;
  padding-bottom: 0.36em;
}
.sv-question__title {
  font-size: 1.3em;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sv-question__description {
  padding-left: 0.5em;
  font-size: 1em;
  margin: 0;
  margin-top: -0.91em;
  min-height: 0.91em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sv-question__input {
  height: 2.07em;
  width: 100%;
}
.sv-question__content {
  padding-left: 1.93em;
}
.sv-question__erbox {
  color: $error-color;
  font-weight: bold;
  font-size: 0.85em;
}
.sv-question__erbox--location--top {
}
.sv-question__erbox--location--bottom {
}
.sv-question__footer {
  padding: 1em 0;
}
.sv-question__title-container--answer {
  background-color: $answer-background-color;
}
.sv-question__title-container--error {
  background-color: $error-background-color;
}
// .sv-question--has-answer {
//   & > :not(.sv-question__content) {
//     .sv-question__title-container {
//       background-color: $answer-background-color;
//     }
//   }
// }
// .sv-question--has-error {
//   & > :not(.sv-question__content) {
//     .sv-question__title-container {
//       background-color: $error-background-color;
//     }
//     .sv-question__input {
//       color: $error-color;
//       border-color: $error-color;
//     }
//     .sv-question__input::placeholder {
//       color: $error-color;
//     }
// }
// }
