.sv-radio__decorator {
  border: 0.18em solid;
  border-color: $border-color;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  fill: transparent;
  height: 1.5em;
  opacity: 0.5;
  width: 1.5em;
}
.sv-radio:hover {
  & .sv-radio__decorator {
    fill: $border-color;
  }
}
.sv-radio__control:checked {
  & + .sv-radio__decorator {
    fill: $border-color;
    opacity: 1;
  }
}
.sv-radio__control:focus {
  & + .sv-radio__decorator {
    box-shadow: 0 0 0 0.18em white, 0 0 0 0.24em#19ab8d;
    outline: none;
  }
}
