.sv-row {
  white-space: nowrap;
}
.sv-row__question {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}
.sv-row:not(:last-child) {
  padding-bottom: 1.5em;
}
.sv-row__question--small:only-child {
  @media only screen and (min-width: 768px) {
    max-width: 50%;
  }
}
