.sv-radio__material-decorator {
  border-radius: 100%;
}
.sv-radio__decorator {
  border: 3px solid $border-color;
  border-radius: 100%;
  fill: transparent;
}
.sv-radio:hover {
  & .sv-radio__decorator {
    fill: $border-color;
  }
}
.sv-radio__control:checked {
  & + .sv-radio__material-decorator .sv-radio__decorator {
    fill: $radio-checked-color;
    border-color: $radio-checked-color;
  }
}
