.sv-radio {
	border-radius: 50%;
	background-size: 0.71em 0.71em;
	opacity: 0.5;
}
.sv-radio:hover,
.sv-radio:checked {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Слой_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 9 9' style='enable-background:new 0 0 9 9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23404040;%7D%0A%3C/style%3E%3Cpath class='st0' d='M4.5,0C7,0,9,2,9,4.5C9,7,7,9,4.5,9S0,7,0,4.5C0,2,2,0,4.5,0z'/%3E%3C/svg%3E%0A");
}
.sv-radio:checked {
	opacity: 1;
}
