.sv-selectbase__item {
  margin-bottom: 0.5em;
}
.sv-selectbase__item--inline {
  display: inline-block;
  padding-right: 2%;
}
.sv-selectbase__column {
  display: inline-block;
  width: 19%;
  vertical-align: top;
}
.sv-selectbase__label {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
.sv-selectbase__clear-btn {
  margin-top: 0.9em;
  background-color: $clean-button-color;
}
