.sv-selectbase {
  padding: 0;
}
.sv-selectbase__item {
  position: relative;
  margin-bottom: 0.5em;
  vertical-align: middle;
}
.sv-selectbase__item--inline {
  display: inline-block;
  padding-right: 2%;
}
.sv-selectbase__column {
  display: inline-block;
  width: 19%;
  vertical-align: top;
}
.sv-selectbase__label {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 0.26em;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
.sv-selectbase__control {
  margin: 0;
  vertical-align: middle;
}
.sv-selectbase__control-label {
  margin-left: 1em;
  vertical-align: middle;
}
.sv-selectbase__clear-btn {
  margin-top: 0.9em;
  background-color: $add-button-color;
}
