<textarea data-bind="
  attr: { 
    id: $data.model.id, 
    'readonly': $data.model.isReadOnlyAttr, 
    'disabled': $data.model.isDisabledAttr, 
    maxLength: $data.model.maxLength, 
    cols: $data.model.cols, 
    rows: $data.model.rows, 
    placeholder: $data.model.placeholder, 
    'aria-required': $data.model.ariaRequired,
    'aria-label': $data.model.ariaLabel,
    'aria-labelledby': $data.model.ariaLabelledBy, 
    'aria-describedby': $data.model.ariaDescribedBy, 
    'aria-invalid': $data.model.ariaInvalid, 
    'aria-errormessage': $data.model.ariaErrormessage
  }, 
  event: { 
    focus: function(s, e) { $data.model.onTextAreaFocus(e); return true; }, 
    blur: function(s, e) { $data.model.onTextAreaBlur(e); return true; },
    input: function(s, e) { $data.model.onTextAreaInput(e); },
    keydown: function(s, e) { $data.model.onTextAreaKeyDown(e); return true; }
  }, 
  value: $data.value, 
  css: $data.model.className,
  style: { resize: $data.model.question.resizeStyle },
"></textarea>
