<label tabindex="0" data-bind="css: question.koChooseFileCss, key2click, click: function(d, e) { question.chooseFile(e); }, attr: { for: question.inputId, 'aria-label': question.koGetChooseButtonText() }">
  <!-- ko if: question.cssClasses.chooseFileIconId -->
    <!-- ko component: { name: 'sv-svg-icon', params: { title: question.koGetChooseButtonText(), iconName: question.cssClasses.chooseFileIconId, size: 'auto' } } --><!-- /ko -->
  <!-- /ko -->
  <span data-bind="text: question.koGetChooseButtonText()"></span>
</label>