<span data-bind="css: question.cssClasses.previewItem, click: question.dodownloadFromContainer">
  <!-- ko template: { name: 'survey-question-file-sign', data: {question: question, item: item, fileSignCss: question.cssClasses.fileSign} } --><!-- /ko -->
  <div data-bind="css: question.getImageWrapperCss(item)">
    <!-- ko if: question.canPreviewImage(item) -->
    <img data-bind="attr: { src: item.content }, style : { height: question.imageHeight, width: question.imageWidth }" alt="File preview">
    <!-- /ko -->
    <!-- ko if: question.defaultImage(item) -->
    <!-- ko component: { name: 'sv-svg-icon', params: { css: question.cssClasses.defaultImage, iconName: question.cssClasses.defaultImageIconId, size: 'auto' } } --><!-- /ko -->
    <!-- /ko -->
    <!-- ko if: item.name -->
    <!-- ko ifnot: question.isReadOnly -->
    <div data-bind="click: () => question.doremovefile(item), css: question.getRemoveButtonCss()">
        <span data-bind="css: question.cssClasses.removeFile, text: question.removeFileCaption"></span>
        <!-- ko if: question.cssClasses.removeFileSvgIconId -->
          <!-- ko component: { name: 'sv-svg-icon', params: { css: question.cssClasses.removeFileSvg, title: question.removeFileCaption, iconName: question.cssClasses.removeFileSvgIconId, size: 'auto' } } --><!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- /ko -->
  </div>
  <!-- ko template: { name: 'survey-question-file-sign', data: {question: question, item: item, fileSignCss: question.cssClasses.fileSignBottom} } --><!-- /ko -->
</span>