<!-- ko if: components.length > 0 -->
<!-- ko if: $data.needRenderWrapper -->
<div data-bind="css: css">
  <!-- ko foreach: components -->
  <!-- ko if: $data.component && !$data.template -->
  <!-- ko component: { name: component, params: { survey: $parent.survey, model: $data.data, container: $parent.container } } -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: $data.template -->
  <!-- ko template: { name: template, data: $data.data } -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- /ko -->
</div>
<!-- /ko -->
<!-- ko ifnot: $data.needRenderWrapper -->
  <!-- ko foreach: components -->
  <!-- ko if: $data.component && !$data.template -->
  <!-- ko component: { name: component, params: { survey: $parent.survey, model: $data.data, container: $parent.container } } -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: $data.template -->
  <!-- ko template: { name: template, data: $data.data } -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- /ko -->
<!-- /ko -->
<!-- /ko -->