<script type="text/html" id="survey-page">
    <div data-bind="event:{
           dragenter:function(el, e){ dragEnter(e);},
           dragleave:function(el, e){ dragLeave(e);},
           drop:function(el, e){ dragDrop(e);}}
     ">
        <h3 data-bind="visible: (title.length > 0) && data.showPageTitles, text: koNo() + title"></h3>
        <!-- ko template: { name: 'survey-question', foreach: questions, as: 'question' } -->
        <!-- /ko -->
        <div data-bind="visible:$root.isDesignMode && questions.length == 0">
            <span>Please drop a question here.</span>
            <div class="sv_dragover" data-bind="visible:koDragging"></div>
        </div>
    </div>
</script>
