<script type="text/html" id="survey-question">
    <div class="sv_q" data-bind="visible: question.koVisible()">
        <div class="sv_q_erbox" data-bind="visible: koErrors().length > 0, foreach: koErrors">
            <div data-bind="text:$data.getText()"></div>
        </div>
        <div class="sv_q_title" data-bind="text: question.koNo() +  (question.isRequired ? question.data.requiredText : '') + question.title"></div>
        <!-- ko template: { name: 'survey-question-' + question.getType(), data: question } -->
        <!-- /ko -->
        <div data-bind="visible: question.hasComment">
            Other (please describe)
            <div data-bind="template: { name: 'survey-comment', data: {'question': question, 'visible': true } }"></div>
        </div>
    </div>
</script>