<script type="text/html" id="survey-question">
    <div class="sv_q" data-bind="attr : {draggable: $root.isDesignMode}, visible: question.koVisible() || $root.isDesignMode, click: $root.isDesignMode ? koOnClick: null, css: {sv_q_selected : koIsSelected},
         event:{
           dragstart:function(el, e){ dragStart(e); return true; },
           dragenter:function(el, e){ dragOver(e);},
           dragleave:function(){ dragLeave();},
           dragover:function(el, e){ dragOver(e);},
           drop:function(el, e){ dragDrop(e);}
         }">
        <div class="sv_dragover" data-bind="visible:koDragging() == 'up'"></div>
        <div data-bind="css:{sv_q_design: $root.isDesignMode}">
            <div style="color:red" data-bind="foreach: koErrors">
                <div data-bind="text:$data.getText()"></div>
            </div>
            <h4 class="sv_q_h" data-bind="text: question.koNo() +  (question.isRequired ? question.data.requiredText : '') + question.title"></h4>
            <!-- ko template: { name: 'survey-question-' + question.getType(), data: question } -->
            <!-- /ko -->
            <div data-bind="visible: question.hasComment">
                Other (please describe)
                <div data-bind="template: { name: 'survey-comment', data: {'question': question, 'visible': true } }"></div>
            </div>
        </div>
        <div class="sv_dragover" data-bind="visible:koDragging() == 'down'"></div>
    </div>
</script>