<script type="text/html" id="dxsurvey-question-radiogroup">
    <div class="dxsv_q_radiogroup" data-bind="foreach: question.visibleChoices">
        <label>
            <input type="radio"
                   data-bind="name: question.name, attr: {value: $data.value}, checked: question.koValue" />
            <span data-bind="text: $data.text"></span>
        </label> 
    </div>
    <div data-bind="visible: question.hasOther">
        <div data-bind="template: { name: 'dxsurvey-comment', data: {'question': question, 'visible': question.koOtherVisible } }"></div>
    </div>
</script>