<div data-bind="css: model.css.progressButtonsContainer">
    <img data-bind="css: model.css.progressButtonsImageButton">
    <div data-bind="css: model.css.progressButtonsListContainer">
        <ul data-bind="css: model.css.progressButtonsList">
            <!-- ko foreach: model.visiblePages -->
            <li>
                <span data-bind="text: navigationTitle || name"></span>
                <br>
                <span data-bind="text: navigationDescription"></span>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <img data-bind="css: model.css.progressButtonsImageButton">
</div>