<!-- ko if: (survey.headerView === 'advanced') -->
<div data-bind="css: model.headerClasses, style: { height: model.renderedHeight }">
  <!-- ko if: !!model.backgroundImage -->
  <div data-bind="style: model.backgroundImageStyle, css: model.backgroundImageClasses"></div>
  <!-- /ko -->
  <!-- ko ifnot: survey.isMobile -->
  <div data-bind="css: model.contentClasses, style: { maxWidth: model.maxWidth }">
  <!-- ko foreach: model.cells -->
    <!-- ko component: { name: 'sv-header-cell', params: { model: $data } } -->
    <!-- /ko -->
  <!--/ko-->
  </div>
  <!--/ko-->
  <!-- ko if: survey.isMobile -->
    <!-- ko component: { name: 'sv-header-mobile', params: { model: model } } -->
    <!-- /ko -->
  <!--/ko-->
  </div>
<!-- /ko -->