<div class="sv-header--mobile">
  <!-- ko if: survey.hasLogo -->
  <div class="sv-header__logo">
  <!-- ko component: { name: survey.getElementWrapperComponentName(survey, 'logo-image'), params: survey.getElementWrapperComponentData(survey, 'logo-image') } -->
  <!-- /ko -->
  </div>
  <!-- /ko -->
  <!-- ko if: survey.hasTitle -->
  <div class="sv-header__title" data-bind="style: { maxWidth: textAreaWidth }">
  <!-- ko component: { name: 'survey-element-title', params: { element: survey } } -->
  <!-- /ko -->
  </div>
  <!-- /ko -->
  <!-- ko if: survey.renderedHasDescription -->
  <div class="sv-header__description" data-bind="style: { maxWidth: textAreaWidth }">
    <div data-bind="css: survey.css.description">
      <!-- ko template: { name: 'survey-string', data: survey.locDescription } -->
      <!-- /ko -->
    </div>
  </div>
  <!-- /ko -->
</div>
