<script type="text/html" id="dxsurvey-comment">
  <input data-bind="value:$data.question.koComment, visible:$data.visible" />
</script>
<h3 data-bind="visible: title.length > 0, text: title"></h3> 
<div data-bind="template: { name: 'dxsurvey-page', data: koCurrentPage }"></div>
<p/>
<input type="button" value="Previous" data-bind="click: prevPage, visible: !koIsFirstPage()"/>  <input type="button" value="Next" data-bind="click: nextPage, visible: !koIsLastPage()"/>  <input type="button" value="Submit" data-bind="click: completeLastPage, visible: koIsLastPage()" />
<script type="text/html" id="dxsurvey-page">
    <h3 data-bind="visible: name.length > 0, text: name"></h3>
    <!-- ko template: { name: 'dxsurvey-question', foreach: questions, as: 'question' } -->
    <!-- /ko -->
</script>

<script type="text/html" id="dxsurvey-question-checkbox">
    <div data-bind="foreach: question.visibleChoices">
        <label>
            <input type="checkbox"
                   data-bind="value: $data.value, checked: question.koValue" />
            <span data-bind="text: $data.text"></span>
        </label>
    </div>
    <div data-bind="visible: question.hasOther">
        <div data-bind="template: { name: 'dxsurvey-comment', data: {'question': question, 'visible': question.koOtherVisible } }"></div>
    </div>
</script>
<script type="text/html" id="dxsurvey-question-comment">
    <textarea type="text" data-bind="attr: {rows: question.rows}, value:question.koValue" />
</script>

<script type="text/html" id="dxsurvey-question-dropdown">
    <select data-bind="options: question.visibleChoices, optionsText: 'text', optionsValue: 'value', value: question.koValue, optionsCaption: 'Choose...'"></select>
    <div data-bind="visible: question.hasOther">
        <div data-bind="template: { name: 'dxsurvey-comment', data: {'question': question, 'visible': question.koOtherVisible } }"></div>
    </div>
</script>
<script type="text/html" id="dxsurvey-question-matrix">
    <table>
        <thead>
            <tr>
                <th data-bind="visible: question.hasRows"></th>
                <!-- ko foreach: question.columns -->
                <th data-bind="text:$data.text"></th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: { data: question.visibleRows, as: 'row' } -->
            <tr>
                <td data-bind="visible: question.hasRows, text:row.text"></td>
                <!-- ko foreach: question.columns -->
                <td>
                    <input type="radio" data-bind="attr: {name: row.fullName, value: $data.value}, checked: row.koValue"/>
                </td>
                <!-- /ko -->
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</script>
<script type="text/html" id="dxsurvey-question-multipletext">
    <!-- ko foreach: { data:  question.items, as: 'item' }-->
        <div>
            <span data-bind="text: item.title"></span>
            <input type="text" data-bind="value: item.koValue" />
        </div>
    <!-- /ko -->
</script>
<script type="text/html" id="dxsurvey-question-radiogroup">
    <div data-bind="foreach: question.visibleChoices">
        <label>
            <input type="radio"
                   data-bind="name: question.name, attr: {value: $data.value}, checked: question.koValue" />
            <span data-bind="text: $data.text"></span>
        </label> 
    </div>
    <div data-bind="visible: question.hasOther">
        <div data-bind="template: { name: 'dxsurvey-comment', data: {'question': question, 'visible': question.koOtherVisible } }"></div>
    </div>
</script>
<script type="text/html" id="dxsurvey-question-rating">
    <table>
        <thead>
            <tr>
                <th></th>
                <!-- ko foreach: question.koVisibleRateValues -->
                <th data-bind="text:$data.text"></th>
                <!-- /ko -->
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-bind="text:question.mininumRateDescription"></td>
                <!-- ko foreach: question.koVisibleRateValues -->
                <td>
                    <input type="radio" data-bind="attr: {name: question.name, value: $data.value}, checked: question.koValue" />
                </td>
                <!-- /ko -->
                <td data-bind="text:question.maximumRateDescription"></td>
            </tr>
        </tbody>
    </table>
    <div data-bind="visible: question.hasOther">
        <div data-bind="template: { name: 'dxsurvey-comment', data: {'question': question } }"></div>
    </div>
</script>
<script type="text/html" id="dxsurvey-question-text">
    <input type="text" data-bind="value:question.koValue"/>
</script>

<script type="text/html" id="dxsurvey-question">
    <div style="dxsv-q" data-bind="visible: question.koVisible">
        <div data-bind="css: {dxsv_q_erbox : koErrors().length > 0 }">
            <div style="color:red" data-bind="foreach: koErrors">
                <div data-bind="text:$data.getText()"></div>
            </div>
            <h4 data-bind="text: question.koNo() + '. ' +  (question.isRequired ? '* ' : '') + question.title"></h4>
            <div data-bind="template: { name: 'dxsurvey-question-' + question.getType(), data: question }"></div>
            <div data-bind="visible: question.hasComment">
                Other (please describe)
                <div data-bind="template: { name: 'dxsurvey-comment', data: {'question': question, 'visible': true } }"></div>
            </div>
        </div>
    </div>
</script>