<script type="text/html" id="dxsurvey-question-rating">
    <table>
        <thead>
            <tr>
                <th></th>
                <!-- ko foreach: question.koVisibleRateValues -->
                <th data-bind="text:$data.text"></th>
                <!-- /ko -->
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-bind="text:question.mininumRateDescription"></td>
                <!-- ko foreach: question.koVisibleRateValues -->
                <td>
                    <input type="radio" data-bind="attr: {name: question.name, value: $data.value}, checked: question.koValue" />
                </td>
                <!-- /ko -->
                <td data-bind="text:question.maximumRateDescription"></td>
            </tr>
        </tbody>
    </table>
    <div data-bind="visible: question.hasOther">
        <div data-bind="template: { name: 'dxsurvey-comment', data: {'question': question } }"></div>
    </div>
</script>