<script type="text/html" id="dxsurvey-question-matrix">
    <table>
        <thead>
            <tr>
                <th data-bind="visible: question.hasRows"></th>
                <!-- ko foreach: question.columns -->
                <th data-bind="text:$data.text"></th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: { data: question.visibleRows, as: 'row' } -->
            <tr>
                <td data-bind="visible: question.hasRows, text:row.name"></td>
                <!-- ko foreach: question.columns -->
                <td>
                    <input type="radio" data-bind="attr: {name: row.fullName, value: $data.value}, checked: row.koValue"/>
                </td>
                <!-- /ko -->
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</script>