<script type="text/html" id="dxsurvey-question-checkbox">
    <div data-bind="foreach: question.visibleChoices">
        <label>
            <input type="checkbox"
                   data-bind="attr: {value: $data}, checkedWithInit: $parent.koValue" />
            <span data-bind="text: $data"></span>
        </label>
    </div>
    <div data-bind="visible: question.hasOther">
        <div data-bind="template: { name: 'dxsurvey-comment', data: {'question': question, 'visible': question.koOtherVisible } }"></div>
    </div>
</script>