<div data-bind="css: question.cssClasses.selectWrapper, click: click">
  <!-- ko ifnot: question.isReadOnly -->
  <div data-bind="css: question.getControlClass(),
    event: { keydown: keyhandler, blur: blur },
    attr: { 
      id: question.inputId, 
      required: question.isRequired, 
      tabindex: model.noTabIndex ? undefined : 0,
      disabled: question.isInputReadOnly,
      role: question.ariaRole,
      'aria-required': question.ariaRequired, 
      'aria-label': question.ariaLabel, 
      'aria-invalid': question.ariaInvalid, 
      'aria-errormessage': question.ariaErrormessage,
      'aria-expanded': question.ariaExpanded,
      'aria-controls': model.listElementId,
      'aria-activedescendant': model.ariaActivedescendant,
    },">
    <!-- ko if: model.showHintPrefix -->
    <div data-bind="css: question.cssClasses.hintPrefix">
      <span data-bind="text: model.hintStringPrefix"></span>
    </div>
    <!-- /ko -->
    <div data-bind="css: question.cssClasses.controlValue">
      <!-- ko if: model.showHintString -->
      <div data-bind="css: question.cssClasses.hintSuffix">
      <span style="visibility: hidden" data-bind="text: model.inputStringRendered"></span>
      <span data-bind="text: model.hintStringSuffix"></span>
      </div>
      <!-- /ko -->
      <!-- ko if: question.showInputFieldComponent -->
      <!-- ko component: { name: question.inputFieldComponentName, params: { item: model.getSelectedAction(), question: question } } -->
      <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: question.showSelectedItemLocText -->
      <!-- ko template: { name: 'survey-string', data: question.selectedItemLocText } -->
      <!-- /ko -->
      <!-- /ko -->
      <input type="text" autocomplete="off" data-bind="
      textInput: model.inputStringRendered, 
      css: question.cssClasses.filterStringInput, 
      attr: {
        'aria-expanded': question.ariaExpanded,
        'aria-controls': model.listElementId,
        'aria-activedescendant': model.ariaActivedescendant,
        'aria-label': question.a11y_input_ariaLabel,
        'aria-labelledby': question.a11y_input_ariaLabelledBy,
        'aria-describedby': question.a11y_input_ariaDescribedBy,
        placeholder: model.placeholderRendered, 
        readonly: model.filterReadOnly || undefined, 
        role: model.filterStringEnabled ? question.ariaRole : undefined,
        tabindex: model.noTabIndex ? undefined : -1,
        disabled: question.isInputReadOnly,
        id: question.getInputId(), 
        inputmode: model.inputMode
      },
      event: { blur: blur, focus: focus }"></input>
    </div>
    <!-- ko if: (question.allowClear && question.cssClasses.cleanButtonIconId) -->
    <div data-bind="css: question.cssClasses.cleanButton, click: clear, visible: question.showClearButton" aria-hidden="true">
      <!-- ko component: { name: 'sv-svg-icon', params: { css: question.cssClasses.cleanButtonSvg, iconName: question.cssClasses.cleanButtonIconId, size: 'auto', title: question.clearCaption } } -->
      <!-- /ko -->
    </div>
    <!-- /ko -->
  </div>
  <!-- ko component: { name: "sv-popup", params: { model: model.popupModel }} -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: question.isReadOnly -->
  <div disabled data-bind="css: question.getControlClass(), attr: { id: question.inputId }, ">
    <!-- ko if: question.selectedItemLocText -->
    <!-- ko template: { name: 'survey-string', data: question.selectedItemLocText } -->
    <!-- /ko -->
    <!-- /ko -->
    <div data-bind="text: question.readOnlyText"></div>
  </div>
  <!-- /ko -->
  <!-- ko if: question.cssClasses.chevronButtonIconId -->
  <div data-bind="css: question.cssClasses.chevronButton, event: {pointerdown: chevronPointerDown}" aria-hidden="true">
    <!-- ko component: { name: 'sv-svg-icon', params: { css: question.cssClasses.chevronButtonSvg, iconName: question.cssClasses.chevronButtonIconId, size: 'auto' } } -->
    <!-- /ko -->
  </div>
  <!-- /ko -->
</div>