---
layout: doc_page
mainmenukey: doc
---
<div id="objectProperties">
    <h2><span data-bind="text: curClass.name"></span></h2>
    <p data-bind="visible:classHasDocumentation">
        <div data-bind="html: curClass.documentation"></div>
    </p>
    <p data-bind="visible: hasBaseTypes">
        <span>Inherited from the following class(es): </span>
        <!-- ko foreach: baseTypes -->
        <a data-bind="attr: {href: href}"><span data-bind="text:name"></span></a><span data-bind="if: ($index() !== ($parent.baseTypes.length - 1))"> -> </span>
        <!-- /ko -->
    </p>
    <p class = "filter-search">
        <span>Type to filter the list: </span><input id="iFilter" class="search" type="text" data-bind="textInput: filterString" />
        <select class="filter" data-bind="value:showPMETypes">
            <option value="all">Show All</option>
            <option value="property">Show Properties</option>
            <option value="method">Show Methods</option>
            <option value="event">Show Events</option>
        </select>
    </p>

    <div class="table-container">
        <table class="table table-striped">
            <tbody>
                <!-- ko foreach: filteredItems -->
                    <tr data-bind="attr:{id: name}">
                        <td>
                            <img data-bind="visible: pmeType =='property'" src='../images/property_12.svg' width='20px' />
                            <img data-bind="visible: pmeType =='method'" src='../images/method_12.svg' width='20px' />
                            <img data-bind="visible: pmeType =='event'" src='../images/bell.svg' width='20px' />
                        </td>
                        <td>
                            <a data-bind="click:showHide"><span data-bind="text: name"></span></a>
                            <span data-bind="text: pmeType"></span>
                        </td>
                        <td>
                            <a href="#" data-bind="click: showHide" title="More Info...">
                                <span class="glyphicon" data-bind="css: {'glyphicon-chevron-down': !koExpanded(), 'glyphicon-chevron-up': koExpanded}"></span>
                            </a>
                        </td>
                    </tr>
                    <tr data-bind="visible: koExpanded">
                        <td style="border-top-style:none"></td>
                        <td style="border-top-style:none">
                            <div>
                                <span>Type: </span><span data-bind="text:type"></span><span> </span><b><span data-bind="visible: pmeType =='property', text: propertySet"></span></b>
                            </div>
                            <div data-bind="visible: isSerialized">
                                The property is serializable. It is stored in survey json and you can edit it in the SurveyJS Editor.
                            </div>
                            <div data-bind="visible: hasDefaultValue">
                                <span>The default value is: </span><span data-bind="text:defaultValue"></span>
                            </div>
                            <div data-bind="visible: hasSerializedChoices">
                                <span>You may set the following values into this property: </span>
                                <!-- ko foreach: serializedChoices -->
                                <span data-bind="text:$data"></span><span data-bind="if: ($index() !== ($parent.serializedChoices.length - 1))">, </span>
                                <!-- /ko -->
                            </div>
                            <div data-bind="visible: hasDocumentation, html: documentation"></div>
                            <div>
                                <span>Implemented in: </span>
                                <!-- ko foreach: implemetedIn -->
                                <a data-bind="attr: {href: href}"><span data-bind="text: name"></span></a>
                                <!-- /ko -->
                            </div>
                            <div data-bind="visible: linkToPropertyFile.length > 0">
                                <a data-bind="attr: {href: linkToPropertyFile}"><span>Show more</span></a>
                            </div>
                        </td>
                        <td style="border-top-style:none">
                            <div data-bind="visible: hasParameters">
                                <h5>Parameters:</h5>
                                <div data-bind="foreach: parameters">
                                    <div><span>Name: </span><span data-bind="text:name"></span><span>, type: </span><span data-bind="text:type"></span></div>
                                    <div data-bind="visible: hasDocumentation"><span>Documentation: </span><span data-bind="html:documentation"></span></div>
                                </div>
                            </div>
                            <div data-bind="visible: seeAlso.length > 0">
                                <span>See also: </span>
                                <!-- ko foreach: seeAlso -->
                                <a data-bind="attr: {href: href}"><span data-bind="text: name"></span></a>
                                <!-- /ko -->
                            </div>
                        </td>
                    </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
    $('.filter').select2({
        minimumResultsForSearch: Infinity
    });

    var curClass = {
    {% for classItem in site.data.classes %}{% if classItem.name == page.classname %}
        {% assign curClass = classItem %}
        name: "{{classItem.name}}", documentation: {{classItem.documentation | markdownify | jsonify  }}, allTypes: {{classItem.allTypes | jsonify  }}
    {% endif %}{% endfor %}
    };
    var pmes = [
    {% for prop in site.data.pmes %}{% if curClass.allTypes contains prop.className %}
    {% assign checkFileName = 'docs/' | append:  prop.className | append:  '/' | append: prop.name | append:  '.md' %}
    {% capture hasPropertyFile %}{% file_exists {{ checkFileName }} %}{% endcapture %}
    {% assign propertyFileName = '' %}
    {% if hasPropertyFile == "true" %}
        {% assign propertyFileName = '/docs/' | append:  prop.className | append:  '/' | append: prop.name | append:  '.html' %}
    {% endif %}
    { name: "{{prop.name}}", className: "{{prop.className}}", type: "{{prop.type}}", pmeType: "{{prop.pmeType}}", "href": "{{ page.pathprefix }}{{prop.className}}/{{prop.name}}.html", isSerialized: "{{prop.isSerialized}}", defaultValue: {{ prop.defaultValue| jsonify  }},serializedChoices:  {{ prop.serializedChoices| jsonify  }}, documentation: {{ prop.documentation| markdownify | jsonify  }}, hasSet: "{{prop.hasSet}}",
        linkToPropertyFile: "{{propertyFileName}}",
        parameters:  [
            {% for par in prop.parameters %}
            { name: "{{par.name}}", documentation: {{par.documentation | markdownify | jsonify}}, type: "{{par.type}}" }{% if forloop.last == false %},{% endif %} 
            {% endfor %}        
        ],
        see:  [{% for par in prop.see %} "{{par}}" {% if forloop.last == false %},{% endif %} {% endfor %}]}{% if forloop.last == false %},{% endif %} 
    {% endif %}{% endfor %}];
    pmes.sort(function(a, b) {
        if(a.name == b.name) return 0;
        return a.name < b.name ? -1 : 1;
    });
    function getClassObj(className) {
        return {name: className, href: "{{ site.baseurl }}/docs/api_" + className.toLowerCase() + ".html"};
    }
    function getLinkObj(name) {
        if(!name) return {name: "", href: ""};
        var pos = name.indexOf('.');
        var href = "";
        if(pos < 0) {
            if(name[0] === name[0].toUpperCase()) {
                href = "{{ site.baseurl }}/docs/api_" + name.toLowerCase() + ".html"
            } else {
                href = "#" + name;
            }
        } else {
            var className = name.substr(0, pos);
            var hash = name.substr(pos + 1);
            href = "{{ site.baseurl }}/docs/api_" + name.toLowerCase() + ".html#" + hash;
        }
        return {name: name, href: href};
    }
    var ModelItem = function(item) {
        var self = this;
        this.name = item.name;
        this.lowCaseName = this.name.toLowerCase();
        this.className = item.className;
        this.implemetedIn = [];
        this.implemetedIn.push(getClassObj(item.className));
        this.type = item.type;
        this.pmeType = item.pmeType;
        this.href = item.href;
        this.documentation = item.documentation;
        this.linkToPropertyFile = item.linkToPropertyFile;
        this.hasDocumentation = item.documentation && item.documentation.length > 0;
        this.hasDefaultValue = item.defaultValue != undefined;
        if(this.hasDefaultValue) this.defaultValue = item.defaultValue; else this.defaultValue = null;
        this.hasSerializedChoices = item.serializedChoices != undefined; 
        if(this.hasSerializedChoices) this.serializedChoices = item.serializedChoices; else this.serializedChoices = [];
        this.parameters = [];
        if(item.parameters) {
            this.parameters = item.parameters;
            for(var i = 0; i < this.parameters.length; i ++) {
                var doc = this.parameters[i].documentation;
                if(doc) {
                    doc = doc.replace(/(\r\n|\n|\r)/gm,"");
                }
                this.parameters[i].hasDocumentation = doc && doc.length > 0;
            }
        }
        this.hasParameters = this.parameters.length > 0;
        this.hasSet = item.hasSet == "true";
        this.propertySet = this.hasSet ? " writable" : " readonly";
        this.isSerialized = item.isSerialized == "true";
        this.koExpanded = ko.observable(false);
        this.seeAlso = [];
        if(item.see) {
            for(var i = 0; i < item.see.length; i ++) {
                this.seeAlso.push(getLinkObj(item.see[i]));
            }
        }
        this.showHide = function() {
            self.koExpanded(!self.koExpanded());
        }
        this.addItem = function(item) {
            if(!this.documentation && item.documentation) {
                this.documentation = item.documentation;
            }
            this.implemetedIn.push(getClassObj(item.className));
        }
    }
    var Model = function(className) {
        var self = this;
        this.curClass = curClass;
        this.curClass.allTypes.splice(0, 1);
        this.hasBaseTypes = this.curClass.allTypes.length > 0;
        this.baseTypes = [];
        for(var i = 0; i < this.curClass.allTypes.length; i ++) {
            var className = this.curClass.allTypes[i];
            this.baseTypes.push(getClassObj(className));
        }
        this.classHasDocumentation = this.curClass.documentation != "";
        this.items = [];
        var pmesHash = {};
        for(var i = 0; i < pmes.length; i ++) {
            if(!pmes[i].name) continue;
            if(pmesHash[pmes[i].name]) {
                pmesHash[pmes[i].name].addItem(pmes[i]);
            } else {
                var modelItem = new ModelItem(pmes[i]);
                this.items.push(modelItem);
                pmesHash[modelItem.name] = modelItem;
            }
        }
        this.getHashName = function() {
            var name = window.location.hash;
            if(!name) return "";
            return name.substr(1);
        }
        this.filterString = ko.observable("");
        this.showPMETypes = ko.observable("all");
        this.hashName = ko.observable(this.getHashName());
        this.koDummy = ko.observable(0);
        this.filteredItems = ko.computed(function() {
            var dummy = self.koDummy();
             return ko.utils.arrayFilter(self.items, function(item) {
                if(self.hashName() == item.name) return true;
                if(self.showPMETypes() != "all") {
                    if(self.showPMETypes() != item.pmeType) return false;
                }
                var str = self.filterString();
                if(!str) return true;
                str = str.toLowerCase();
                return (item.lowCaseName.indexOf(str) > -1);
            });
        });
        this.filterString.subscribe(function(newValue) {
            self.koDummy(self.koDummy() + 1);
        });
        this.showPMETypes.subscribe(function(newValue) {
            self.koDummy(self.koDummy() + 1);
        });
        this.hashName.subscribe(function(newValue) {
            self.koDummy(self.koDummy() + 1);
        });
        this.hashChanged = function() {
            this.hashName(this.getHashName());
            name = this.hashName();
            if(!name) return;
            for(var i = 0; i < this.items.length; i ++) {
                if(this.items[i].name == name) {
                    this.items[i].koExpanded(true);
                    break;
                }
            }
        }
        this.hashChanged();
};

var curModel = new Model("{{page.classname}}");

ko.applyBindings(curModel, document.getElementById("objectProperties"));

if ("onhashchange" in window) {
    window.onhashchange = function () {
        curModel.hashChanged();
    }
 }
 </script>
