---
layout: doc_page
mainmenukey: doc
---
<div id="pmeInfo">
    <h4><span data-bind="text: name"></span><span>  </span><span data-bind="text: pmeType"></h4>
    <div>
        <span>Type: </span><span data-bind="text:type"></span><span> </span><b><span data-bind="visible: pmeType =='property', text: propertySet"></span></b>
    </div>
    <div data-bind="visible: isSerialized">
        The property is serializable. It is stored in survey json and you can edit it in the SurveyJS Editor.
    </div>
    <div data-bind="visible: hasDefaultValue">
        <span>The default value is: </span><span data-bind="text:defaultValue"></span>
    </div>
    <div data-bind="visible: hasSerializedChoices">
        <span>You may set the following values into this property: </span>
        <!-- ko foreach: serializedChoices -->
        <span data-bind="text:$data"></span><span data-bind="if: ($index() !== ($parent.serializedChoices.length - 1))">, </span>
        <!-- /ko -->
    </div>
    <div data-bind="visible: hasDocumentation, html: documentation"></div>
    <div data-bind="visible: hasParameters">
        <h5>Parameters:</h5>
        <div data-bind="foreach: parameters">
            <div><span>Name: </span><span data-bind="text:name"></span><span>, type: </span><span data-bind="text:type"></span></div>
            <div data-bind="visible: hasDocumentation"><span>Documentation: </span><span data-bind="html:documentation"></span></div>
        </div>
    </div>
    {{content}}
    <div data-bind="visible: seeAlso.length > 0">
        <span>See also: </span>
        <!-- ko foreach: seeAlso -->
        <a data-bind="attr: {href: href}"><span data-bind="text: name"></span></a>
        <!-- /ko -->
    </div>
    <div>
        <span>Implemented in: </span>
        <!-- ko foreach: implemetedIn -->
        <a data-bind="attr: {href: href}"><span data-bind="text: name"></span></a>
        <!-- /ko -->
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script>
    var filedd = "{{page.path}}";
    var propertyInfo = {
    {% for prop in site.data.pmes %}{% assign filePath = 'docs/' | append:  prop.className | append:  '/' | append: prop.name | append:  '.md' %}{% if page.path == filePath %}
     name: "{{prop.name}}", className: "{{prop.className}}", type: "{{prop.type}}", pmeType: "{{prop.pmeType}}", "href": "{{ page.pathprefix }}{{prop.className}}/{{prop.name}}.html", isSerialized: "{{prop.isSerialized}}", defaultValue: {{ prop.defaultValue| jsonify  }},serializedChoices:  {{ prop.serializedChoices| jsonify  }}, documentation: {{ prop.documentation| markdownify | jsonify  }}, hasSet: "{{prop.hasSet}}",  
        parameters:  [
            {% for par in prop.parameters %}
            { name: "{{par.name}}", documentation: {{par.documentation | markdownify | jsonify}}, type: "{{par.type}}" }{% if forloop.last == false %},{% endif %} 
            {% endfor %}        
        ],
        see:  [{% for par in prop.see %} "{{par}}" {% if forloop.last == false %},{% endif %} {% endfor %}]
    {% endif %}{% endfor %}};
    
    function getClassObj(className) {
        return {name: className, href: "{{ site.baseurl }}/docs/api_" + className.toLowerCase() + ".html"};
    }
    function getLinkObj(name, className) {
        if(!name) return {name: "", href: ""};
        var pos = name.indexOf('.');
        var href = "";
        if(pos < 0) {
            if(name[0] === name[0].toUpperCase()) {
                href = "{{ site.baseurl }}/docs/api_" + name.toLowerCase() + ".html"
            } else {
                href = "{{ site.baseurl }}/docs/api_" + className.toLowerCase() + ".html#" + name;
            }
        } else {
            var className = name.substr(0, pos);
            var hash = name.substr(pos + 1);
            href = "{{ site.baseurl }}/docs/api_" + name.toLowerCase() + ".html#" + hash;
        }
        return {name: name, href: href};
    }
    var ModelItem = function(item) {
        var self = this;
        this.name = item.name;
        this.lowCaseName = this.name.toLowerCase();
        this.className = item.className;
        this.implemetedIn = [];
        this.implemetedIn.push(getClassObj(item.className));
        this.type = item.type;
        this.pmeType = item.pmeType;
        this.href = item.href;
        this.documentation = item.documentation;
        this.hasDocumentation = item.documentation && item.documentation.length > 0;
        this.hasDefaultValue = item.defaultValue != undefined;
        if(this.hasDefaultValue) this.defaultValue = item.defaultValue; else this.defaultValue = null;
        this.hasSerializedChoices = item.serializedChoices != undefined; 
        if(this.hasSerializedChoices) this.serializedChoices = item.serializedChoices; else this.serializedChoices = [];
        this.parameters = [];
        if(item.parameters) {
            this.parameters = item.parameters;
            for(var i = 0; i < this.parameters.length; i ++) {
                var doc = this.parameters[i].documentation;
                if(doc) {
                    doc = doc.replace(/(\r\n|\n|\r)/gm,"");
                }
                this.parameters[i].hasDocumentation = doc && doc.length > 0;
            }
        }
        this.hasParameters = this.parameters.length > 0;
        this.hasSet = item.hasSet == "true";
        this.propertySet = this.hasSet ? " writable" : " readonly";
        this.isSerialized = item.isSerialized == "true";
        this.koExpanded = ko.observable(false);
        this.seeAlso = [];
        if(item.see) {
            for(var i = 0; i < item.see.length; i ++) {
                this.seeAlso.push(getLinkObj(item.see[i], item.className));
            }
        }
        this.showHide = function() {
            self.koExpanded(!self.koExpanded());
        }
        this.addItem = function(item) {
            if(!this.documentation && item.documentation) {
                this.documentation = item.documentation;
            }
            this.implemetedIn.push(getClassObj(item.className));
        }
    }

ko.applyBindings(new ModelItem(propertyInfo), document.getElementById("pmeInfo"));
 </script>