<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>survey.js : {{ page.title }}</title>
        <!--
        <link href="{{ page.pathprefix }}css/main.css" type="text/css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
        -->
        <!--
        <link href="{{ page.pathprefix }}css/bootstrap.min.css" type="text/css" rel="stylesheet" />
        -->
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css"/>
        <link href="{{ page.pathprefix }}css/style.css" type="text/css" rel="stylesheet" />
        <link href="{{ page.pathprefix }}css/main.css" type="text/css" rel="stylesheet" />
        <script src="{{ page.pathprefix }}js/knockout.js"></script>
        {% if page.usedxchart or page.usebootstrap %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>        
        {% endif %}
        {% if page.usedxchart%}
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>        
        <script type="text/javascript" src="http://cdn3.devexpress.com/jslib/15.1.5/js/dx.chartjs.js"></script>
        {% endif %}
        {% if page.usebootstrap%}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="{{ page.pathprefix }}js/survey.bootstrap.min.js"></script>
        {% else %}
        <script src="{{ page.pathprefix }}js/survey.bootstrap.min.js"></script>
        <!--
        <link href="{{ page.pathprefix }}css/survey.css" type="text/css" rel="stylesheet" />
        <script src="{{ page.pathprefix }}js/survey.min.js"></script>
        -->
        {% endif %}
        <link href="{{ page.pathprefix }}css/prism.css" type="text/css" rel="stylesheet" />
        <script src="{{ page.pathprefix }}js/prism.js"></script>
    </head>
    <body class="white-bg">
        {% include menu-top.html %}
        <div class="maincontent">
        {{ content }}
        </div>
    </body>
</html>
