<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>dxSurvey : {{ page.title }}</title>
        <link href="{{ page.pathprefix }}css/main.css" type="text/css" rel="stylesheet" />
        <link href="{{ page.pathprefix }}css/dx.survey.css" type="text/css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
        <script src="{{ page.pathprefix }}js/dx.survey.js"></script>
        {% if page.usedxchart%}
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://cdn3.devexpress.com/jslib/13.1.5/js/dx.chartjs.js"></script>
        {% endif %}
        <link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeEclipse.css" rel="stylesheet" type="text/css" />
        <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
        <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"></script>
        <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js" type="text/javascript"></script>        
    </head>
    <body>
        <div class="header nav">{% include menu-top.html %}</div>
            <div class="container">
                {{ content }}
            </div>
        <div class="footer">
            <div class="navbottom">{% include menu-top.html %}</div>
            <div>(c) dxsurvey.com</div> 
        </div>
    </body>
<script type="text/javascript">
    SyntaxHighlighter.all();
</script>
</html>
