---
layout: default
pathprefix: ../
mainmenukey: doc
---

<div class="surveyjs-doc-page-wrapper">
    <div class="doc-page-container">

        {% include menu-docs.html %}

        <div class="doc-content-wrapper">
            <div class="doc-container">
                <div class="doc-content">
                    {% for include in page.includes %}
                        {% capture md_include %}{% include {{include}} %}{% endcapture %}
                        {{ md_include | markdownify }}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    {% include footer.html %}
</div>