@mixin svg-icon() {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.sv-window {

}
.sv-window__title {

}

.sv-main{

}
.sv-progress{
}
.sv-progress__bar {
}
.sv_body {
 }
.sv-container {
}
.sv-main {
}

.sv-container {
}
//page_styles
.sv-container__page{
  
}
.sv-page{
}
.sv-page__title {
}
.sv-page__row{
}
//panel styles 
.sv-page__panel{

}
.sv-panel{

}
.sv-panel__title{

}
.sv-panel__description{

}
.sv-panel__container{

}
.sv-panel__title{

}

//question styles
.sv-question{

}
.sv-page__question{

}
.sv-question__title{
 
}
.sv-question__description{
}
//radiogroup
.sv-question{

}
//boolean
.sv-boolean{}

//checkbox
//rating
//matrix
//imagepicker