.dxsv {
}
.dxsv_q {
    width: 100%;
    clear: both;
}
.dxsv_nav {
    clear: both;
}
.dxsv_q_h {
    width: 100%;
}
.dxsv_q_erbox {
    border:solid;
    border-width: 1px;
    border-color:red;
}
.dxsv_q_matrix {
    width: 100%;
    max-width: 100%;
    th, td {
        text-align: center;
        vertical-align: central;
    }
    td:first-child {
        text-align: left;
    }
}
//checkboxbase container
.dxsv_qcbc0 { float: left; }
.dxsv_qcbc1 { clear:both; width:100% }
.dxsv_qcbc2 { float: left; width:50% }
.dxsv_qcbc3 { float: left; width:33% }
.dxsv_qcbc4 { float: left; width:25% }
.dxsv_q_checkbox {
    padding: 10px;
}
.dxsv_q_radiogroup {
    padding: 10px;
}
.dxsv_q_rating {
    width: 100%;
    max-width: 100%;
    th, td {
        text-align: center;
        vertical-align: central;
    }
    td:first-child {
        text-align: right;
    }
    td:last-child {
        text-align: left;
    }
}