<script type="text/html" id="survey-progress-buttons">
    <div data-bind="css: css.progressButtonsContainer">
        <img data-bind="css: css.progressButtonsImageButton">
        <div data-bind="css: css.progressButtonsListContainer">
            <ul data-bind="css: css.progressButtonsList">
                <!-- ko foreach: visiblePages -->
                <li>
                    <span data-bind="text: name"></span>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <img data-bind="css: css.progressButtonsImageButton">
    </div>
</script>