<div class="sv_main">
    <h2 data-bind="visible: (title.length > 0) && showTitle, text: title"></h2>
    <!-- ko if: koCurrentPage() -->
    <div data-bind="visible: showProgressBar =='top', text:koProgressText"></div>
    <div data-bind="template: { name: 'survey-page', data: koCurrentPage }"></div>
    <div data-bind="visible: showProgressBar =='bottom', text:koProgressText"></div>
    <p />
    <div class="sv_nav" data-bind="visible: showNavigationButtons && !isDesignMode">
        <input type="button" data-bind="value: pagePrevText, click: prevPage, visible: !koIsFirstPage()" />  <input type="button" value="Next" data-bind="value: pageNextText, click: nextPage, visible: !koIsLastPage()" />  <input type="button" value="Submit" data-bind="value: completeText, click: completeLastPage, visible: koIsLastPage()" />
    </div>
    <!-- /ko -->
    <!-- ko if: koCurrentPage() == null -->
    There is no any visible page or visible question in the survey.
    <!-- /ko -->
</div>