<script type="text/html" id="survey-question-radiogroup">
    <!-- ko foreach: { data: question.visibleChoices, as: 'item', afterRender: question.koAfterRender}  -->
    <div class="sv_qcbc"  data-bind="style:{width: question.koWidth}">
        <label class="sv_q_radiogroup">
            <input type="radio" data-bind="name: question.name, attr: {value: item.value}, checked: question.koValue" />
            <span data-bind="text: item.text"></span>
        </label>
    </div>
    <!-- /ko -->
    <div data-bind="if:question.hasOther">
        <div data-bind="template: { name: 'survey-comment', data: {'question': question, 'visible': question.koOtherVisible } }"></div>
    </div>
</script>