<script type="text/html" id="survey-question">
    <div class="sv_q" data-bind="visible: question.koVisible()">
        <!-- ko if: question.hasTitle -->
        <h5 class="sv_q_title" data-bind="text: question.koNo() +  (question.isRequired ? question.requiredText : '') + question.title"></h5>
        <!-- /ko -->
        <div class="sv_q_erbox" data-bind="visible: koErrors().length > 0, foreach: koErrors">
            <div data-bind="text:$data.getText()"></div>
        </div>
        <!-- ko template: { name: 'survey-question-' + question.getType(), data: question } -->
        <!-- /ko -->
        <div data-bind="visible: question.hasComment">
            <div data-bind="text:$root.getLocString('otherItemText')"></div>
            <div data-bind="template: { name: 'survey-comment', data: {'question': question, 'visible': true } }"></div>
        </div>
    </div>
</script>