<script type="text/html" id="survey-comment">
<!-- ko if: !question.isReadOnlyRenderDiv() -->
<!-- ko component: { name: 'sv-text-area', params: question.commentTextAreaModel } -->
<!-- /ko -->
<!-- /ko-->
<!-- ko if: question.isReadOnlyRenderDiv() -->
<div data-bind="text: question.comment"></div>
<!--/ko-->
</script>
<script type="text/html" id="survey-other">
<!-- ko if: !question.isReadOnlyRenderDiv() -->
<!-- ko component: { name: 'sv-text-area', params: question.otherTextAreaModel } -->
<!-- /ko -->
<!-- /ko-->
<!-- ko if: question.isReadOnlyRenderDiv() -->
<div data-bind="text: question.otherValue"></div>
<!-- /ko-->
</script>