<script type="text/html" id="survey-flowpanel">
  <div data-bind="style:{ width: renderWidth }, attr: {id: id}, css: cssClasses.panel.container">
      <h4 data-bind="visible: (processedTitle.length > 0)">
          <!-- ko template: { name: 'survey-string', data: locTitle } -->
          <!-- /ko -->
      </h4>
      <div data-bind="css: cssClasses.panel.description">
          <!-- ko template: { name: 'survey-string', data: locDescription } -->
          <!-- /ko -->
      </div>
      <div data-bind="style: { paddingLeft: innerPaddingLeft}"></div>
      <f-panel params="question: question"></f-panel>
  </div>
</script>
<script type="text/html" id="survey-flowpanel-question">
  <!-- ko with: question.getQuestionByName($data) -->
  <!-- ko template: { name: koTemplateName(), data: $data, as: 'question', afterRender: koQuestionAfterRender } --><!-- /ko -->
  <!-- /ko -->
</script>
