<script type="text/html" id="survey-header">
  <!-- ko if: renderedHasHeader -->
<div data-bind="css: css.header">
  <!-- ko if: isLogoBefore -->
  <!-- ko component: { name: getElementWrapperComponentName($data, 'logo-image'), params: getElementWrapperComponentData($data, 'logo-image') } -->
  <!-- /ko -->
  <!-- /ko -->

  <!-- ko if: renderedHasTitle -->
  <div data-bind="css: css.headerText, style: { maxWidth: titleMaxWidth }">
    <!-- ko component: { name: 'survey-element-title', params: {element: $data } } -->
    <!-- /ko -->
    <!-- ko if: renderedHasDescription -->
    <div data-bind="css: css.description">
      <!-- ko template: { name: 'survey-string', data: locDescription } -->
      <!-- /ko -->
    </div>
    <!-- /ko -->
  </div>
  <!-- /ko -->

  <!-- ko if: isLogoAfter -->
  <!-- ko component: { name: getElementWrapperComponentName($data, 'logo-image'), params: getElementWrapperComponentData($data, 'logo-image') } -->
  <!-- /ko -->
  <!-- /ko -->
  <div data-bind="css: css.headerClose"></div>
</div>
<!-- /ko -->
</script>