<script type="text/html" id="survey-content">
    <!-- ko template: { name: "survey-content-template", afterRender: $data.implementor.koEventAfterRender } -->
    <!-- /ko -->
</script>

<script type="text/html" id="survey-content-template">
  <div data-bind="css: rootCss, elementStyle: themeVariables">
    <!-- ko if: needRenderIcons -->
      <!-- ko component: { name: 'sv-svg-bundle'} -->
      <!-- /ko -->
    <!-- /ko -->
    <div data-bind="css: wrapperFormCss">
      <!-- ko if: !!renderBackgroundImage -->
      <div data-bind="css: css.rootBackgroundImage, elementStyle: backgroundImageStyle"></div>
      <!-- /ko -->
      <form onsubmit="return false;">
          <div class="sv_custom_header" data-bind="visible: !hasLogo"></div>
          <div data-bind="css: containerCss">
              <!-- ko if: headerView === 'basic' -->
              <!-- ko template: { name: koTitleTemplate, afterRender: koAfterRenderHeader } -->
              <!-- /ko -->
              <!-- /ko -->
              <!-- ko component: { name: "sv-components-container", params: { survey: $data, container: "header", needRenderWrapper: false } } --><!-- /ko -->
              <!-- ko if: isShowingPage -->
              <div data-bind="css: $data.bodyContainerCss">
                  <!-- ko component: { name: "sv-components-container", params: { survey: $data, container: "left" } } --><!-- /ko -->
                  <div class="sv-components-column sv-components-column--expandable">
                    <!-- ko component: { name: "sv-components-container", params: { survey: $data, container: "center" } } --><!-- /ko -->
                    <div data-bind="css: bodyCss, style:{maxWidth: renderedWidth}, attr: { id: activePage ? activePage.id : '' }">
                          <!-- ko component: { name: "sv-components-container", params: { survey: $data, container: "contentTop" } } --><!-- /ko -->
                          <!-- ko if: activePage -->
                          <!-- ko template: { name: 'survey-page', data: activePage, afterRender: koAfterRenderPage } -->
                          <!-- /ko -->
                          <!-- ko if: activePage.rows.length == 0 && $data.emptyPageTemplate -->
                          <!-- ko template: { name: emptyPageTemplate, data: $data.emptyPageTemplateData || $data } -->
                          <!-- /ko -->
                          <!-- /ko -->
                          <!-- /ko -->
                          <!-- ko component: { name: "sv-components-container", params: { survey: $data, container: "contentBottom" } } --><!-- /ko -->
                    </div>
                  </div>
                  <!-- ko component: { name: "sv-components-container", params: { survey: $data, container: "right" } } --><!-- /ko -->
              </div>
              <!-- /ko -->
              <!-- ko component: { name: "sv-components-container", params: { survey: $data, container: "footer", needRenderWrapper: false } } --><!-- /ko -->
              <!-- ko if: state == "completed" && showCompletedPage -->
              <div data-bind="html: koProcessedCompletedHtml, css: completedCss"></div>
              <!-- ko component: { name: "sv-components-container", params: { survey: $data, container: "completePage", needRenderWrapper: false } } --><!-- /ko -->
              <!-- /ko -->
              <!-- ko if: state == "completedbefore" -->
              <div data-bind="html: locCompletedBeforeHtml.koRenderedHtml, css: completedBeforeCss"></div>
              <!-- /ko -->
              <!-- ko if: state == "loading" -->
              <div data-bind="html: locLoadingHtml.koRenderedHtml, css: loadingBodyCss"></div>
              <!-- /ko -->
              <!-- ko if: state == "empty" -->
              <div data-bind="text:emptySurveyText, css: css.bodyEmpty"></div>
              <!-- /ko -->
          </div>
      </form>
      <!-- ko if: showBrandInfo -->
      <sv-brand-info></sv-brand-info>
      <!-- /ko -->
      <!-- ko component: { name: 'sv-notifier', params: { notifier: notifier } } -->
      <!-- /ko -->
    </div>
  </div>
</script>