<script type="text/html" id="survey-content">
    <!-- ko template: { name: "survey-content-template", afterRender: $data.implementor.koEventAfterRender } -->
    <!-- /ko -->
</script>

<script type="text/html" id="survey-content-template">
  <div data-bind="css: rootCss, style:{width: width}">
      <form onsubmit="return false;">
          <div class="sv_custom_header" data-bind="visible: !hasLogo"></div>
          <div data-bind="css: containerCss">
              <!-- ko template: { name: koTitleTemplate, afterRender: koAfterRenderHeader } -->
              <!-- /ko -->
              <!-- ko if: isShowingPage -->
              <div data-bind="css: bodyCss">
                  <!-- ko if: isTimerPanelShowingOnTop && !isShowStartingPage -->
                  <!-- ko template: { name: 'survey-timerpanel' } -->
                  <!-- /ko -->
                  <!-- /ko -->
                  <!-- ko if: isShowProgressBarOnTop && !isShowStartingPage -->
                  <!-- ko component: { name: 'sv-progress-' + progressBarType, params: { model: $data } } -->
                  <!-- /ko -->
                  <!-- /ko -->
                  <!-- ko if: isNavigationButtonsShowingOnTop -->
                    <!-- ko component: { name: 'sv-action-bar', params: { model: navigationBar } } --><!-- /ko -->
                  <!-- /ko -->
                  <!-- ko if: activePage -->
                    <div data-bind="attr: { id: activePage.id }, template: { name: 'survey-page', data: activePage, afterRender: koAfterRenderPage }"></div>
                    <!-- ko if: activePage.rows.length == 0 && $data.emptyPageTemplate -->
                    <!-- ko template: { name: emptyPageTemplate, data: $data.emptyPageTemplateData || $data } -->
                    <!-- /ko -->
                    <!-- /ko -->
                  <!-- /ko -->
                  <!-- ko if: isShowProgressBarOnBottom && !isShowStartingPage -->
                  <!-- ko component: { name: 'sv-progress-' + progressBarType, params: { model: $data } } -->
                  <!-- /ko -->
                  <!-- /ko -->
                  <!-- ko if: isTimerPanelShowingOnBottom && !isShowStartingPage -->
                  <!-- ko template: { name: 'survey-timerpanel' } -->
                  <!-- /ko -->
                  <!-- /ko -->
                  <!-- ko if: isNavigationButtonsShowingOnBottom -->
                    <!-- ko component: { name: 'sv-action-bar', params: { model: navigationBar } } --><!-- /ko -->
                  <!-- /ko -->
              </div>
              <!-- /ko -->
              <!-- ko if: state == "completed" && showCompletedPage -->
              <div data-bind="html: processedCompletedHtml, css: completedCss"></div>
              <div data-bind="visible: completedState != '', css: css.saveData.root">
                  <div data-bind="css: completedStateCss">
                      <span data-bind="text:completedStateText"></span>
                      <input type="button" data-bind="visible: completedState == 'error', value: getLocalizationString('saveAgainButton'), click: doComplete, css: css.saveData.saveAgainButton"/>
                  </div>
              </div>
              <!-- /ko -->
              <!-- ko if: state == "completedbefore" -->
              <div data-bind="html: processedCompletedBeforeHtml, css: css.body"></div>
              <!-- /ko -->
              <!-- ko if: state == "loading" -->
              <div data-bind="html: processedLoadingHtml, css: css.body"></div>
              <!-- /ko -->
              <!-- ko if: state == "empty" -->
              <div data-bind="text:emptySurveyText, css: css.bodyEmpty"></div>
              <!-- /ko -->
          </div>
      </form>
      <!-- ko if: showBrandInfo -->
      <sv-brand-info></sv-brand-info>
      <!-- /ko -->
  </div>
</script>