<script type="text/html" id="survey-matrixcell">
    <td data-bind="css: $context.question.koCss().itemValue, attr: { headers: cell.question.isVisible ? cell.column.locTitle.renderedHtml : '' }">
        <div data-bind="visible: cell.question.isVisible">
            <!-- ko template: { name: 'survey-question-errors', data: cell.question } -->
            <!-- /ko -->
            <!-- ko template: { name: question.koTemplateName(), data: cell.question, as: 'question' } -->
            <!-- /ko -->
        </div>
    </td>
</script>