<script type="text/html" id="survey-panel">
  <div
    data-bind="attr: { id: id }, css: cssClasses.panel.container"
  >
    <h4
      data-bind="visible: !!locTitle.koRenderedHtml(), attr: { 'aria-label': locTitle.renderedHtml, tabindex: titleTabIndex, 'aria-expanded': titleAriaExpanded}, css: $data.cssTitle, click: toggleState,event: { keyup: toggleStateByKeyUp }"
    >
      <!-- ko component: { name: getTitleComponentName(), params: { element: $data } } --><!-- /ko -->
    </h4>
    <div data-bind="css: cssClasses.panel.description">
      <!-- ko template: { name: 'survey-string', data: locDescription } -->
      <!-- /ko -->
    </div>
    <!-- ko template: { name: 'survey-question-errors', data: $data } -->
    <!-- /ko -->
    <!-- ko if: state != "collapsed" -->
    <div
      data-bind="style: { paddingLeft: innerPaddingLeft }, css: cssClasses.panel.content, attr: {id:contentId}"
    >
      <!-- ko template: { name: 'survey-rows', data: $data} -->
      <!-- /ko -->
      <!-- ko if: hasEditButton -->
      <div data-bind="css: cssClasses.panel.footer">
        <input
          type="button"
          data-bind="value: survey.editText, click: cancelPreview, css: survey.cssNavigationEdit"
        />
      </div>
      <!-- /ko -->
    </div>
    <!-- /ko -->
  </div>
</script>
