<script type="text/html" id="survey-panel">
  <div
    data-bind="attr: { id: id }, css: $data.getContainerCss(), event: {focusin: focusIn}"
  >
    <!-- ko if: hasDescription || hasTitle  -->
    <div data-bind="css: cssClasses.panel.header">
      <!-- ko component: { name: 'survey-element-title', params: {element: $data } } --><!-- /ko -->
      <!-- ko if: hasDescription -->
        <div data-bind="css: cssClasses.panel.description">
          <!-- ko template: { name: 'survey-string', data: locDescription } -->
          <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko template: { name: 'survey-question-errors', data: $data } -->
    <!-- /ko -->
    <!-- ko if: state != "collapsed" -->
    <div
      data-bind="style: { paddingLeft: innerPaddingLeft }, css: cssClasses.panel.content, attr: {id:contentId}"
    >
      <!-- ko template: { name: 'survey-rows', data: $data} -->
      <!-- /ko -->
      <!-- ko component: { name: 'sv-action-bar', params: { model: getFooterToolbar() } } -->
      <!-- /ko -->
    </div>
    <!-- /ko -->
  </div>
</script>
