<script type="text/html" id="survey-question-checkbox">
  <fieldset data-bind="css: question.koCss().root">
      <legend data-bind="attr: { 'aria-label': question.ariaLabel }" role="checkbox"></legend>
      <!-- ko ifnot: question.hasColumns  -->
        <!-- ko foreach: { data: question.visibleChoices, as: 'item', afterRender: question.koAfterRender }  -->
          <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: 'survey-checkbox-item', data: item } } } -->
          <!-- /ko -->
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: question.hasColumns  -->
        <!-- ko foreach: question.columns -->
            <div data-bind="css: question.getColumnClass()">
            <!-- ko foreach: { data: $data, as: 'item', afterRender: question.koAfterRender }  -->
              <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: 'survey-checkbox-item', data: item } } } -->
              <!-- /ko -->
            <!-- /ko -->
            </div>
        <!-- /ko -->
      <!-- /ko -->
    </fieldset>
</script>
<script type="text/html" id="survey-checkbox-item">
  <div data-bind="css: question.getItemClass(item)">
      <label data-bind="css: question.getLabelClass(item)">
          <!-- ko if: item == question.selectAllItem -->
          <input type="checkbox" data-bind="attr: {name: question.name, id: question.getItemId(item), 'aria-required': question.ariaRequired, 'aria-label': question.ariaLabel, 'aria-invalid': question.ariaInvalid, 'aria-describedby': question.ariaDescribedBy }, checked: question.koAllSelected, enable: question.getItemEnabled(item), css: question.koCss().itemControl"/>
          <!-- /ko -->
          <!-- ko if: item != question.selectAllItem -->
          <input type="checkbox" data-bind="attr: {name: question.name, id: question.getItemId(item), 'aria-required': question.ariaRequired, 'aria-label': question.ariaLabel, 'aria-invalid': question.ariaInvalid, 'aria-describedby': question.ariaDescribedBy }, checkedValue: item.value, checked: question.koValue, enable: question.getItemEnabled(item), css: question.koCss().itemControl"/>
          <!-- /ko -->
              <!-- ko if: question.koCss().materialDecorator -->
              <span data-bind="css: question.koCss().materialDecorator">
                <!-- ko if: question.itemSvgIcon -->
                <svg data-bind="css:question.koCss().itemDecorator">
                  <use data-bind="attr:{'xlink:href':question.itemSvgIcon}" xlink:href=''></use>
                </svg>
                <!-- /ko -->
              </span>
              <!-- /ko -->
              <span data-bind="visible: !item.hideCaption, css: question.koCss().controlLabel, attr: { title: item.locText.koRenderedHtml }">
              <!-- ko template: { name: 'survey-string', data: item.locText } -->
              <!-- /ko -->
          </span>
      </label>
      <!-- ko if: question.isOtherItem(item) -->
      <div class="form-group" data-bind="template: { name: 'survey-comment', data: {'question': question, 'visible': question.isOtherSelected } }"></div>
      <!-- /ko -->
  </div>
</script>
