<script type="text/html" id="survey-question-matrixdynamic">
  <div data-bind="visible: question.koIsAddRowOnTop(), css: question.koCss().footer">
      <button type="button" data-bind="click:question.koAddRowClick, css: question.koCss().button + ' ' + question.koCss().buttonAdd">
          <span data-bind="text: question.addRowText"></span>
          <span data-bind="css: question.koCss().iconAdd"></span>
      </button>
  </div>
  <div data-bind="style: {overflowX: question.horizontalScroll? 'scroll': ''}">
      <table data-bind="css: question.koCss().root">
          <!-- ko if: question.koTable().showHeader -->
          <thead>
              <tr>
                  <!-- ko foreach: question.koTable().headerRow.cells -->
                  <th data-bind="style: { minWidth: $data.minWidth, width: $data.width }, css: question.koCss().headerCell">
                      <!-- ko template: { name: 'survey-string', data: $data.locTitle } -->
                      <!-- /ko -->
                  </th>
                  <!-- /ko -->
              </tr>
          </thead>
          <!-- /ko -->
          <tbody>
              <!-- ko foreach: question.koTable().rows -->
              <tr>
                  <!-- ko foreach: $data.cells -->
                    <!-- ko if: $data.hasQuestion -->
                        <!-- ko template: { name: 'survey-matrixcell', data: $data.question, as: "question", afterRender: function(els) { $data.matrix.koCellAfterRender(els, $data); } } --><!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: $data.hasTitle --><td data-bind="css: question.koCss().cell"><!-- ko template: { name: 'survey-string', data: $data.locTitle } --><!-- /ko --></td><!-- /ko -->
                    <!-- ko if: $data.isRemoveRow -->
                    <td data-bind="css: question.koCss().cell">
                        <button type="button" data-bind="click:question.koRemoveRowClick, css: question.koCss().button + ' ' + question.koCss().buttonRemove">
                            <span data-bind="text: question.removeRowText"></span>
                            <span data-bind="css: question.koCss().iconRemove"></span>
                        </button>
                    </td>
                    <!-- /ko -->
                  <!-- /ko -->
              </tr>
              <!-- /ko -->
          </tbody>
          <!-- ko if:question.koTable().hasFooter -->
          <tfoot>
            <tr>
                <!-- ko foreach: question.koTable().footerRow.cells -->
                <td>
                    <!-- ko if: $data.hasQuestion -->
                        <!-- ko template: { name: 'survey-matrixcell', data: $data.question, as: "question", afterRender: function(els) { $data.matrix.koCellAfterRender(els, $data); } } --><!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: $data.hasTitle --><!-- ko template: { name: 'survey-string', data: $data.locTitle } --><!-- /ko --><!-- /ko -->
                </td>
                <!-- /ko -->
            </tr>
          </tfoot>
          <!-- /ko -->
    </table>
  </div>
  <div data-bind="visible: question.koIsAddRowOnBottom(), css: question.koCss().footer">
      <button type="button" data-bind="click:question.koAddRowClick, css: question.koCss().button + ' ' + question.koCss().buttonAdd">
          <span data-bind="text: question.addRowText"></span>
          <span data-bind="css: question.koCss().iconAdd"></span>
      </button>
  </div>
</script>