<script type="text/html" id="survey-question-radiogroup">

  <fieldset data-bind="css: question.getSelectBaseRootCss()" role="presentation">
    <!-- ko ifnot: question.hasColumns -->
      <!-- ko if: question.blockedRow -->
      <div data-bind="css: question.koCss().rootRow">
        <!-- ko foreach: { data: question.dataChoices, as: 'item', afterRender: question.koAfterRender }  -->
        <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: question.itemComponent, data: item } } } -->
        <!-- /ko -->
        <!-- /ko -->
      </div>
      <!-- /ko -->
      <!-- ko ifnot: question.blockedRow -->
      <!-- ko foreach: { data: question.bodyItems, as: 'item', afterRender: question.koAfterRender }  -->
        <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: question.itemComponent, data: item } } } -->
        <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: question.hasColumns -->
      <div data-bind="css: question.koCss().rootMultiColumn">

        <!-- ko foreach: question.columns -->
        <div data-bind="css: question.getColumnClass()" role="presentation">
          <!-- ko foreach: { data: $data, as: 'item', afterRender: question.koAfterRender } -->
            <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: question.itemComponent, data: item } } } -->
            <!-- /ko -->
          <!-- /ko -->
        </div>
        <!-- /ko -->
      </div>
    <!-- /ko -->
    <!-- ko if: question.hasFootItems  -->
      <!-- ko foreach: { data: question.footItems, as: 'item', afterRender: question.koAfterRender }  -->
        <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: question.itemComponent, data: item } } } -->
        <!-- /ko -->
      <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: question.hasOther && question.isOtherSelected -->
      <div class="form-group" data-bind="template: { name: 'survey-other', data: {'question': question, 'visible': question.isOtherSelected } }"></div>
    <!-- /ko -->
    <!-- ko if: question.showClearButtonInContent -->
    <div>
      <input
        type="button"
        data-bind="click:question.clearValue, css: question.koCss().clearButton, value: question.clearButtonCaption"
      />
    </div>
    <!-- /ko -->
  </fieldset>
</script>
<script type="text/html" id="survey-radiogroup-item">
  <div role="presentation" data-bind="css: question.getItemClass(item)">
    <label data-bind="css: question.getLabelClass(item), attr: { 'aria-label': question.getAriaItemLabel(item) }">
      <input
        type="radio"
        data-bind="attr: { name: question.questionName, id: question.getItemId(item), 'aria-describedby': question.ariaDescribedBy }, checkedValue: item.value, checked: question.renderedValue, enable: question.getItemEnabled(item), css: question.koCss().itemControl"
      />
      <!-- ko if: question.koCss().materialDecorator -->
      <span data-bind="css: question.koCss().materialDecorator">
        <!-- ko if: question.itemSvgIcon -->
        <svg data-bind="css:question.koCss().itemDecorator">
          <use data-bind="attr:{'xlink:href':question.itemSvgIcon}" xlink:href=''></use>
        </svg>
        <!-- /ko -->
      </span>
      <!-- /ko -->
      <span
        data-bind="visible: !item.hideCaption, css: question.getControlLabelClass(item)"
      >
        <!-- ko template: { name: 'survey-string', data: item.locText } -->
        <!-- /ko -->
      </span>
    </label>
  </div>
</script>
