<script type="text/html" id="survey-question-comment">
<!-- ko if: !question.isReadOnlyRenderDiv() -->
  <!-- ko component: { name: 'sv-text-area', params: question.textAreaModel } -->
  <!-- /ko -->
  <!-- ko if: question.getMaxLength() -->
  <!-- ko component: { name: 'sv-character-counter', params: { counter: question.characterCounter, remainingCharacterCounter: question.cssClasses.remainingCharacterCounter } } -->
  <!-- /ko -->
  <!-- /ko-->
<!--/ko-->

<!-- ko if: question.isReadOnlyRenderDiv() -->
<div data-bind="text: question.value"></div>
<!-- /ko-->
</script>