<script type="text/html" id="survey-question-matrix">
    <table data-bind="css: question.survey.css.matrix.root">
        <thead>
            <tr>
                <th data-bind="visible: question.hasRows"></th>
                <!-- ko foreach: question.columns -->
                <th data-bind="text:$data.text"></th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: { data: question.visibleRows, as: 'row' } -->
            <tr>
                <td data-bind="visible: question.hasRows, text:row.text"></td>
                <!-- ko foreach: question.columns -->
                <td>
                    <input type="radio" data-bind="attr: {name: row.fullName, value: $data.value, id: ($index() == 0) && ($parentContext.$index() == 0) ? question.inputId : ''}, checked: row.koValue, enable: !question.koIsReadOnly()" />
                </td>
                <!-- /ko -->
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</script>