<script type="text/html" id="survey-question-imagepicker">
  <fieldset data-bind="css: question.koCss().root">
      <legend data-bind="attr: { 'aria-label': question.locTitle.renderedHtml }" role="radio"></legend>
      <!-- ko foreach: { data: question.visibleChoices, as: 'item', afterRender: question.koAfterRender}  -->
        <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: 'survey-imagepicker-item', data: item } } } -->
        <!-- /ko -->
      <!-- /ko -->
  </fieldset>
</script>
<script type="text/html" id="survey-imagepicker-item">
    <div data-bind="css: question.getItemClass(item)">
        <label data-bind="css: question.koCss().label">
            <input style="display: none;" data-bind="attr: {type: question.inputType, name: question.questionName, value: item.value, id: question.getItemId(item), 'aria-required': question.ariaRequired, 'aria-label': question.ariaLabel, 'aria-invalid': question.ariaInvalid, 'aria-describedby': question.ariaDescribedBy}, checked: question.koValue, enable: question.getItemEnabled(item), css: question.koCss().itemControl"
            />
            <div data-bind="css: question.koCss().itemDecorator">
                <div data-bind="css: question.koCss().imageContainer">
                  <!-- ko if: question.contentMode === "image" -->
                  <img data-bind="css: question.koCss().image, attr: { src: $data.locImageLink.koRenderedHtml, width: question.renderedImageWidth, height: question.renderedImageHeight, alt: item.locText.koRenderedHtml }, style: { objectFit: question.imageFit }"/>
                  <!-- /ko -->
                  <!-- ko if: question.contentMode === "video" -->
                  <video controls data-bind="css: question.koCss().image, attr: { src: $data.locImageLink.koRenderedHtml, width: question.renderedImageWidth, height: question.renderedImageHeight }, style: { objectFit: question.imageFit }"></video>
                  <!-- /ko -->
                </div>
                <!-- ko if: question.showLabel -->
                <span data-bind="css: question.koCss().itemText, attr: { title: item.locText.koRenderedHtml }">
                  <!-- ko template: { name: 'survey-string', data: item.locText } -->
                  <!-- /ko -->
                </span>
                <!-- /ko -->
            </div>
        </label>
    </div>
</script>