<script type="text/html" id="survey-question-matrixdynamic">
    <div>
      <!-- ko if: question.koTable().showAddRowOnTop -->
      <div
        data-bind="css: question.cssClasses.footer"
      >
        <button
          type="button"
          data-bind="click: question.isDesignMode ? undefined : question.koAddRowClick, css: question.getAddRowButtonCss(), disable: question.isInputReadOnly"
        >
          <!-- ko template: { name: 'survey-string', data: question.locAddRowText } --><!-- /ko -->
          <span data-bind="css: question.cssClasses.iconAdd"></span>
        </button>
      </div>
      <!-- /ko -->
      <!-- ko template: { name: 'survey-matrixtable' } -->
      <!--/ko-->
      <!-- ko ifnot: question.koTable().showTable -->
      <div data-bind="css: question.cssClasses.emptyRowsSection">
        <div data-bind="css: question.cssClasses.emptyRowsText">
          <!-- ko template: { name: 'survey-string', data: question.locEmptyRowsText } --><!-- /ko -->
        </div>
        <!-- ko if: question.koTable().showAddRow -->  
        <button
          type="button"
          data-bind="click:question.koAddRowClick, css: question.getAddRowButtonCss(true), disable: question.isInputReadOnly"
        >
          <!-- ko template: { name: 'survey-string', data: question.locAddRowText } --><!-- /ko -->
          <span data-bind="css: question.cssClasses.iconAdd"></span>
        </button>
        <!-- /ko -->
      </div>
      <!-- /ko -->
      <!-- ko if: question.koTable().showAddRowOnBottom -->
      <div
        data-bind="css: question.cssClasses.footer"
      >
        <button
          type="button"
          data-bind="click: question.koAddRowClick, css: question.getAddRowButtonCss(), disable: question.isInputReadOnly"
        >
          <!-- ko template: { name: 'survey-string', data: question.locAddRowText } --><!-- /ko -->
          <span data-bind="css: question.cssClasses.iconAdd"></span>
        </button>
      </div>
      <!-- /ko -->
  </div>
</script>
<script type="text/html" id="survey-matrixdropdown-cell">
  <td
    data-bind="css: $data.className, style: { minWidth: $data.minWidth, width: $data.width }, attr: { 'data-responsive-title': headers, title: $data.getTitle(), colspan: $data.colSpans }, event: {focusin: $data.focusIn }"
  >
    <!-- ko if: $data.matrix -->
    <div data-bind="visible: question.isVisible, css: cellQuestionWrapperClassName">
      <!-- ko if: $data.isOtherChoice -->
        <div data-bind="css: question.getCommentAreaCss(true), template: { name: 'survey-other', data: {'question': question, 'visible': true } }"></div>
      <!-- /ko -->
      <!-- ko if: $data.isCheckbox -->
        <!-- ko let: { question: $data.matrix.getCellTemplateData($data) } -->
          <!-- ko component: { name: $data.matrix.getCellWrapperComponentName($data), params: { componentData:  $data.matrix.getCellWrapperComponentData($data), templateData: { name:  'survey-checkbox-item', data: item } } } -->
          <!-- /ko -->
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: $data.isRadio -->
        <!-- ko let: { question: $data.matrix.getCellTemplateData($data) } -->
          <!-- ko component: { name: $data.matrix.getCellWrapperComponentName($data), params: { componentData:  $data.matrix.getCellWrapperComponentData($data), templateData: { name:  'survey-radiogroup-item', data: item } } } -->
          <!-- /ko -->  
        <!-- /ko -->   
      <!-- /ko -->
      <!-- ko ifnot: $data.isChoice -->
      <!-- ko if: question.isDefaultRendering() -->
        <!-- ko let: { question: $data.matrix.getCellTemplateData($data) } -->
        <!-- ko component: { name: $data.matrix.getCellWrapperComponentName($data), params: { componentData:  $data.matrix.getCellWrapperComponentData($data), templateData: { name: question.koTemplateName(), data: question, afterRender: function(el) { $data.matrix.koCellQuestionAfterRender(el, $data); } } } } -->
        <!-- /ko -->
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko ifnot: question.isDefaultRendering() -->
        <!-- ko component: { name: question.getComponentName(), params: { question: question } } -->
        <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko ifnot: $data.matrix -->
    <!-- ko if: $data.locTitle -->
    <!-- ko template: { name: 'survey-string', data: $data.locTitle } --><!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
  </td>
</script>
<script type="text/html" id="survey-matrixtable">
<div
  data-bind="visible: question.koTable().showTable, css: question.cssClasses.tableWrapper, style: { overflowX: question.showHorizontalScroll ? 'scroll': '' }"
>
  <table data-bind="css: question.getTableCss()">
    <!-- ko if: question.koTable().showHeader -->
    <thead>
      <tr>
        <!-- ko foreach: question.koTable().headerRow.cells -->
          <!-- ko if: $data.hasTitle -->
            <th
              data-bind="style: { minWidth: $data.minWidth, width: $data.width }, css: $data.className"
            >
              <!-- ko component: { name: question.getColumnHeaderWrapperComponentName($data), params: { componentData:  question.getColumnHeaderWrapperComponentData($data), templateData: { data: $data } } } -->
                <!-- ko template: { name: 'survey-string', data: $data.locTitle } --><!-- /ko -->
                <!-- ko if: $data.column && $data.column.isRenderedRequired -->
                <span>&nbsp</span>
                <span data-bind="css: question.cssClasses.cellRequiredText, text: $data.column.requiredText"></span>
                <!-- /ko -->
              <!-- /ko -->
            </th>
          <!-- /ko -->
          <!-- ko ifnot: $data.hasTitle -->
            <td data-bind="style: { minWidth: $data.minWidth, width: $data.width }, css: $data.className"></td>
          <!-- /ko -->
        <!-- /ko -->
      </tr>
    </thead>
    <!-- /ko -->
    <tbody>
      <!-- ko foreach: { data: question.koTable().renderedRows, afterRender: question.koRowAfterRender } -->
      <!-- ko ifnot: ($parent.detailPanelMode === "popup" && $data.isDetailRow) || !$data.visible-->
      <tr data-bind="css: $data.className, attr: attributes, event: { pointerdown: function (model, event) { question.onPointerDown(event, row); return true;} }">
        <!-- ko foreach: $data.cells -->
        <!-- ko if: $data.isDragHandlerCell -->
        <td data-bind="css:$data.className, attr: {colspan: $data.colSpans}">
          <!-- ko component: { name: 'sv-matrix-drag-drop-icon', params: { item: { data: { row: row, question: question } } }} -->
          <!-- /ko -->
        </td>
        <!-- /ko -->
        <!-- ko if: $data.isActionsCell -->
        <td data-bind="css: $data.className, attr: { colspan: $data.colSpans, 'data-responsive-title': headers, title: $data.getTitle() }">
          <!-- ko component: { name: 'sv-action-bar', params: { model: $data.item.getData(), handleClick: false } } -->
          <!-- /ko -->
        </td>
        <!-- /ko -->
        <!-- ko if: $data.isEmpty -->
        <td data-bind="css: $data.className, attr: { colspan: $data.colSpans, 'data-responsive-title': headers, title: $data.getTitle() }"></td>
        <!-- /ko -->
        <!-- ko if: $data.hasPanel -->
        <td data-bind="css: $data.className, attr: { colspan: $data.colSpans }">
          <!-- ko component: { name: $data.panel.survey.getElementWrapperComponentName($data.panel), 
            params: { componentData:  $data.panel.survey.getElementWrapperComponentData($data.panel), 
            templateData: { name: $data.panel.koElementType, data: $data.panel, afterRender: question.koPanelAfterRender } } } 
          -->
          <!-- /ko -->
        </td>
        <!-- /ko -->
        <!-- ko if: $data.isErrorsCell -->
        <td data-bind="css: $data.className, attr: { colspan: $data.colSpans, 'data-responsive-title': headers, title: $data.getTitle() }">
            <!-- ko template: { name: 'survey-question-errors', data: $data.question, as: 'question' } -->
            <!-- /ko -->
        </td>
        <!-- /ko -->
        <!-- ko if: $data.hasQuestion -->
        <!-- ko template: { name: 'survey-matrixdropdown-cell', afterRender: function(els) { $data.matrix.koCellAfterRender(els, $data); } } --><!-- /ko -->
        <!-- /ko -->
        <!-- ko if: $data.hasTitle -->
        <td
          data-bind="css: $data.className, style: { minWidth: $data.minWidth, width: $data.width }, attr: { colspan: $data.colSpans, 'data-responsive-title': headers, title: $data.getTitle() }"
        >
          <!-- ko component: { name: question.getRowHeaderWrapperComponentName($data), params: { componentData:  question.getRowHeaderWrapperComponentData($data), templateData: { data: $data } } } -->
          <!-- ko template: { name: 'survey-string', data: $data.locTitle } --><!-- /ko -->
          <!-- ko if: $data.requiredText -->
          <span data-bind="css: question.cssClasses.cellRequiredText, text: $data.requiredText"></span>
          <!-- /ko -->
          <!-- /ko -->
        </td>
        <!-- /ko -->
        <!-- /ko -->
      </tr>

      <!-- /ko -->
      <!-- /ko -->
    </tbody>
    <!-- ko if:question.koTable().hasFooter -->
    <tfoot>
      <tr>
        <!-- ko foreach: question.koTable().footerRow.cells -->
            <!-- ko template: { name: 'survey-matrixdropdown-cell', afterRender: function(els) { $data.matrix && $data.matrix.koCellAfterRender(els, $data); } } --><!-- /ko -->
        <!-- /ko -->
      </tr>
    </tfoot>
    <!-- /ko -->
  </table>
</div>
</script>