<script type="text/html" id="survey-question-file">
  <div data-bind="css: question.fileRootCss">
        <!-- ko ifnot: question.isInputReadOnly -->
          <!-- ko if: question.hasFileUI -->
          <input type="file" tabindex="-1" data-bind="css: question.cssClasses.fileInput, attr: { id: question.inputId, 'aria-required': question.ariaRequired, 'aria-label': question.ariaLabel, 'aria-invalid': question.ariaInvalid, 'aria-errormessage': question.ariaErrormessage, multiple: question.allowMultiple ? 'multiple' : undefined, title: koInputTitle, accept: question.acceptedTypes, capture: question.renderCapture }">
          <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: question.isReadOnly -->
        <input type="file" disabled data-bind="css: question.getReadOnlyFileCss(), attr: { id: question.inputId, placeholder: question.title, multiple: question.allowMultiple ? 'multiple' : undefined }" style="color: transparent;"/>
        <!-- /ko -->
        <div data-bind="css: question.cssClasses.dragArea, event: { dragenter: question.ondragenter, dragover: question.ondragover, drop: question.ondrop, dragleave: question.ondragleave }">     
          <!-- ko if: question.showFileDecorator -->
          <div data-bind="css: question.getFileDecoratorCss()">
            <span data-bind="css: question.cssClasses.dragAreaPlaceholder">
              <!-- ko template: { name: 'survey-string', data: question.locRenderedPlaceholder } -->
              <!-- /ko -->
            </span>
            <div data-bind="css: question.cssClasses.wrapper">
              <!-- ko if: question.showChooseButton -->
                <!-- ko component: { name: 'sv-file-choose-btn' } -->
                <!-- /ko -->
              <!-- /ko -->
              <!-- ko if: question.actionsContainerVisible -->
              <!-- ko component: { name: 'sv-action-bar', params: { model: question.actionsContainer } } -->
              <!-- /ko -->
              <!-- /ko -->
              <!-- ko if: !question.koHasValue() -->
              <span data-bind="css: question.cssClasses.noFileChosen, text: question.noFileChosenCaption"></span>
              <!-- /ko -->
            </div>
          </div>
          <!-- /ko -->
          <!-- ko if: question.showLoadingIndicator -->
          <div data-bind="css: question.cssClasses.loadingIndicator">
            <!-- ko component: { name: "sv-loading-indicator" } -->
            <!-- /ko -->
          </div>
          <!-- /ko -->
          <!-- ko if: question.isPlayingVideo -->
          <!-- ko template: { name: 'survey-question-file-video', data: { question: question } } --><!-- /ko -->          
          <!-- /ko -->
          <!-- ko template: { name: 'survey-question-file-clean-button', data: {question: question, showRemoveButton: question.showRemoveButton} } --><!-- /ko -->
          <!-- ko if: question.allowShowPreview -->
          <!-- ko component: { name: 'sv-file-preview', data: { question: question } } --><!-- /ko -->          
          <!-- /ko -->
          <!-- ko template: { name: 'survey-question-file-clean-button', data: {question: question, showRemoveButton: question.showRemoveButtonBottom} } --><!-- /ko -->
          <!-- ko if: question.fileNavigatorVisible -->
          <!-- ko component: { name: 'sv-action-bar', params: { model: question.fileNavigator } } -->
          <!-- /ko -->
          <!-- /ko -->
        </div>
  </div>
</script>
<script type="text/html" id="survey-question-file-clean-button">
  <!-- ko if: question.koHasValue() && !question.isReadOnly && $data.showRemoveButton-->
  <button type="button" data-bind="css: showRemoveButton, enabled: !question.isInputReadOnly, click: question.doclean">
      <span data-bind="text: question.clearButtonCaption"></span>
  </button>
  <!-- /ko -->
</script>
<script type="text/html" id="survey-question-file-video">
  <div data-bind="css: question.cssClasses.videoContainer">
    <!-- ko component: { name: 'sv-action', params: { item: question.changeCameraAction } } --><!-- /ko -->
    <!-- ko component: { name: 'sv-action', params: { item: question.closeCameraAction } } --><!-- /ko -->
    <video autoplay playsinline data-bind="attr: { id: question.videoId },  css: question.cssClasses.video"></video>
    <!-- ko component: { name: 'sv-action', params: { item: question.takePictureAction } } --><!-- /ko -->
  </div>
</script>
<script type="text/html" id="survey-question-file-sign">
  <!-- ko if: item.name && fileSignCss -->
  <div data-bind="css: fileSignCss">
    <a data-bind="style: { width: question.imageWidth }, click: question.dodownload, text: item.name, attr: { href: item.content, title: item.name, download: item.name }"></a>
  </div>
  <!-- /ko -->
</script>