<script type="text/html" id="survey-question-radiogroup">

  <fieldset data-bind="css: question.koCss().root" role="presentation">
    <!-- ko ifnot: question.hasColumns -->
    <!-- ko foreach: { data: question.visibleChoices, as: 'item', afterRender: question.koAfterRender } -->
      <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: 'survey-radiogroup-item', data: item } } } -->
      <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: question.hasColumns -->
    <!-- ko foreach: question.columns -->
    <div data-bind="css: question.getColumnClass()" role="presentation">
      <!-- ko foreach: { data: $data, as: 'item', afterRender: question.koAfterRender } -->
        <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: 'survey-radiogroup-item', data: item } } } -->
        <!-- /ko -->
      <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: question.canShowClearButton -->
    <div>
      <input
        type="button"
        data-bind="click:question.clearValue, css: question.koCss().clearButton, value: question.clearButtonCaption"
      />
    </div>
    <!-- /ko -->
  </fieldset>
</script>
<script type="text/html" id="survey-radiogroup-item">
  <div role="presentation" data-bind="css: question.getItemClass(item)">
    <label data-bind="css: question.getLabelClass(item), attr: { 'aria-label': question.ariaItemLabel(item) }">
      <input
        type="radio"
        data-bind="attr: { name: question.questionName, id: question.getItemId(item), 'aria-required': question.ariaRequired, 'aria-invalid': question.ariaInvalid, 'aria-describedby': question.ariaDescribedBy }, checkedValue: item.value, checked: question.renderedValue, enable: question.getItemEnabled(item), css: question.koCss().itemControl"
      />
      <!-- ko if: question.koCss().materialDecorator -->
      <span data-bind="css: question.koCss().materialDecorator">
        <!-- ko if: question.itemSvgIcon -->
        <svg data-bind="css:question.koCss().itemDecorator">
          <use data-bind="attr:{'xlink:href':question.itemSvgIcon}" xlink:href=''></use>
        </svg>
        <!-- /ko -->
      </span>
      <!-- /ko -->
      <span
        data-bind="visible: !item.hideCaption, css: question.getControlLabelClass(item), attr: { title: item.locText.koRenderedHtml }"
      >
        <!-- ko template: { name: 'survey-string', data: item.locText } -->
        <!-- /ko -->
      </span>
    </label>
    <!-- ko if: question.isOtherItem(item) -->
    <div
      class="form-group"
      data-bind="template: { name: 'survey-comment', data: {'question': question, 'visible': question.isOtherSelected}}"
    ></div>
    <!-- /ko -->
  </div>
</script>
