<script type="text/html" id="survey-question-checkbox">
    <form data-bind="css: question.survey.css.checkbox.root">
        <!-- ko foreach: { data: question.koVisibleChoices, as: 'item', afterRender: question.koAfterRender}  -->
        <div data-bind="style:{display: 'inline-block', width: question.koWidth, 'margin-right': question.colCount == 0 ? '5px': '0px'}, css: question.survey.css.checkbox.item">
            <label data-bind="css: question.survey.css.checkbox.item">
                <input type="checkbox" data-bind="attr: {name: question.name, value: item.value, id: ($index() == 0) ? question.inputId : ''}, checked: question.koValue, enable: !question.koIsReadOnly()" />
                <span class="checkbox-material"><span class="check"></span></span>
                <!-- ko template: { name: 'survey-string', data: item.locText } --><!-- /ko -->
            </label>
            <div data-bind="visible: question.hasOther && ($index() == question.koVisibleChoices().length-1)">
                <div data-bind="template: { name: 'survey-comment', data: {'question': question, 'visible': question.koOtherVisible } }, css: question.survey.css.checkbox.other"></div>
            </div>
        </div>
        <!-- /ko -->
    </form>
</script>
