<script type="text/html" id="survey-question-matrixdropdown">
    <div data-bind="style: {overflowX: question.horizontalScroll? 'scroll': ''}">
        <table data-bind="css: question.koCss().root">
            <thead>
                <tr>
                    <td></td>
                    <!-- ko foreach: question.columns -->
                    <th data-bind="style: { minWidth: question.getColumnWidth($data) }"><!-- ko template: { name: 'survey-string', data: locTitle } --><!-- /ko --></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: { data: question.visibleRows, as: 'row' } -->
                <tr>
                    <td><!-- ko template: { name: 'survey-string', data: row.locText } --><!-- /ko --></td>
                    <!-- ko foreach: row.cells-->
                        <!-- ko template: { name: 'survey-matrixcell', data: $data, as: "cell", afterRender: $data.data.koCellAfterRender } -->
                        <!-- /ko -->
                        <!-- /ko -->
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</script>
