<script type="text/html" id="survey-question-ranking">
   <!-- ko ifnot: question.selectToRankEnabled -->
  <div data-bind="css: question.rootClass">
    <!-- ko foreach: { data: question.rankingChoices, as: 'item', afterRender: question.koAfterRender } -->
      <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { number: question.getNumberByIndex($index()), componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: 'survey-ranking-item', data: item } } } -->
      <!-- /ko -->
    <!-- /ko -->
  </div>
  <!-- /ko -->

  <!-- ko if: question.selectToRankEnabled -->
  <div data-bind="css: question.rootClass">
    <div data-bind="css: question.getContainerClasses('from')" data-ranking="from-container">
      <!-- ko foreach: { data: question.unRankingChoices, as: 'item', afterRender: question.koAfterRender } -->
        <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { number: '', componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: 'survey-ranking-item', data: item } } } -->
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: question.unRankingChoices.length === 0 -->
        <div data-bind="css: cssClasses.containerPlaceholder">
            <!-- ko template: { name: 'survey-string', data: question.locSelectToRankEmptyRankedAreaText } -->
            <!-- /ko -->
        </div>
      <!-- /ko -->
    </div>
    <div data-bind="css: cssClasses.containersDivider"></div>
    <div data-bind="css: question.getContainerClasses('to')" data-ranking="to-container">
      <!-- ko foreach: { data: question.rankingChoices, as: 'item', afterRender: question.koAfterRender } -->
        <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { number: question.getNumberByIndex($index()), componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: 'survey-ranking-item', data: item } } } -->
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: question.rankingChoices.length === 0 -->
      <div data-bind="css: cssClasses.containerPlaceholder">
          <!-- ko template: { name: 'survey-string', data: question.locSelectToRankEmptyUnrankedAreaText } -->
          <!-- /ko -->
      </div>
      <!-- /ko -->
    </div>
  </div>

  <!-- /ko -->
</script>

<script type="text/html" id="survey-ranking-item">
  <div
    data-bind="event: { keydown: question.koHandleKeydown, pointerdown: question.koHandlePointerDown, pointerup: question.koHandlePointerUp}, css: question.getItemClass($data), attr: {tabindex: question.getItemTabIndex($data), 'data-sv-drop-target-ranking-item': $index() }"
  >
    <div tabindex="-1" style="outline: none;">
      <div data-bind="css: question.cssClasses.itemGhostNode"></div>
      <div data-bind="css: question.cssClasses.itemContent">
        <div data-bind="css: question.cssClasses.itemIconContainer">
          <svg data-bind="css:question.getIconHoverCss()">
            <use data-bind="attr:{'xlink:href':question.dragDropSvgIcon}" xlink:href=''></use>
          </svg>
          <svg data-bind="css:question.getIconFocusCss()">
            <use data-bind="attr:{'xlink:href':question.arrowsSvgIcon}" xlink:href=''></use>
          </svg>
        </div>
        <!-- ko if: $parent.number -->
        <div
          data-bind="css: question.getItemIndexClasses(item), text: $parent.number"
        ></div>
        <!-- /ko -->
        <!-- ko ifnot: $parent.number -->
        <div
          data-bind="css: question.getItemIndexClasses(item)"
        >
        <svg>
          <use data-bind="attr:{'xlink:href':question.dashSvgIcon}" xlink:href=''></use>
        </svg>
      </div>
        <!-- /ko -->
        <div data-bind="css: question.cssClasses.controlLabel">
          <!-- ko template: { name: 'survey-string', data: $data.locText } -->
          <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
</script>
