<script type="text/html" id="survey-question-dropdown">
  <div data-bind="css: question.renderCssRoot">
    <!-- ko component: { name: 'sv-dropdown', params: { question: question } } -->
    <!-- /ko -->
  <!-- ko if: question.isOtherSelected -->
  <div data-bind="css: question.getCommentAreaCss(true), template: { name: 'survey-other', data: {'question': question, 'visible': question.isOtherSelected } }, style: {display: question.isFlowLayout ? 'inline': ''}">
  </div>
  <!-- /ko -->
  </div>
</script>
