<script type="text/html" id="survey-question-errors">
        <!-- ko if: hasVisibleErrors -->
            <div role="alert" aria-live="polite" data-bind="visible: hasVisibleErrors, foreach: { data: errors, as: 'error' }, css: koErrorClass(), attr: { id: question.id + '_errors' }">
            <!-- ko if: error.visible -->
            <div>   
                <span aria-hidden="true" data-bind="css: question.koCss().error.icon"></span>
                <span data-bind="css: question.koCss().error.item">
                    <!-- ko template: { name: 'survey-string', data: error.locText } --><!-- /ko -->
                </span>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
</script>