<script type="text/html" id="survey-question-signaturepad">
    <div data-bind="css: question.cssClasses.root, style: { width: question.renderedCanvasWidth }">
        <div data-bind="css: question.cssClasses.placeholder, visible: $data.needShowPlaceholder()">
            <!-- ko template: { name: 'survey-string', data: question.locRenderedPlaceholder } -->
            <!-- /ko -->
        </div>
        <div>
            <!-- ko if: question.backgroundImage -->
            <img data-bind="attr: { src: question.backgroundImage}, style: { width: question.renderedCanvasWidth }, css: question.cssClasses.backgroundImage">
            <!-- /ko -->
            <canvas tabindex='-1' data-bind="css: question.cssClasses.canvas, event: { blur: question.koOnBlur }" ></canvas>
        </div>
        <!-- ko if: question.canShowClearButton -->
        <div data-bind="css: question.cssClasses.controls">
            <button type='button'
                data-bind="click: question.clearValue, css: question.cssClasses.clearButton, attr: { title: question.clearButtonCaption }">
                    <!-- ko ifnot: question.cssClasses.clearButtonIconId -->
                        <span>✖</span>
                    <!-- /ko -->
                    <!-- ko if: question.cssClasses.clearButtonIconId -->
                        <sv-svg-icon params="iconName: question.cssClasses.clearButtonIconId, size: 'auto'"></sv-svg-icon>
                    <!-- /ko -->
            </button>
        </div>
        <!-- /ko -->
        <!-- ko if: question.showLoadingIndicator -->
        <div data-bind="css: question.cssClasses.loadingIndicator">
        <!-- ko component: { name: "sv-loading-indicator" } -->
        <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</script>