<script type="text/html" id="survey-question-multipletext">
  <table data-bind="css: question.koCss().root, foreach: { data:  question.koRows, as: 'row' }">
      <tr data-bind="foreach: { data: row, as: 'item' }, css: question.koCss().row">
          <td data-bind="css: question.koCss().itemTitle + ' ' + question.koCss().cell">
            <!-- ko template: { name: 'survey-question-title-content', data: item.editor, as: 'question' } --><!-- /ko -->
          </td>
          <td data-bind="css: question.koCss().item + ' ' + question.koCss().cell">
            <!-- ko if: item.editor.errorLocation == 'top' -->
            <div data-bind="css: question.koCss().error.locationTop">
                <!-- ko template: { name: 'survey-question-errors', data: item.editor } -->
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <!-- ko template: { name: item.editor.koTemplateName(), data: item.editor, as: 'question', afterRender: item.editor.koQuestionAfterRender } -->
            <!-- /ko -->
            <!-- ko if: item.editor.errorLocation == 'bottom' -->
              <!-- ko template: { name: 'survey-question-errors', data: item.editor } -->
              <!-- /ko -->
            <!-- /ko -->
        </td>
      </tr>
  </table>
</script>
