<script type="text/html" id="survey-question-multipletext">
    <table data-bind="css: question.koCss().root, foreach: { data:  question.koRows, as: 'row' }">
        <tr data-bind="foreach: { data: row, as: 'item' }, css: question.koCss().row">
            <td data-bind="css: question.koCss().itemTitle"><!-- ko template: { name: 'survey-string', data: item.locTitle } --><!-- /ko --></td>
            <td>
                <!-- ko ifnot: question.koIsReadOnly -->
                <input data-bind="attr: {attr: {id: item.id}, type: item.inputType, size: question.itemSize, id: ($index() == 0) ? question.inputId : '', placeholder: item.placeHolder, 'aria-label': question.locTitle.renderedHtml}, value: item.koValue, css: question.koCss().itemValue" />
                <!-- /ko -->
                <!-- ko if: question.koIsReadOnly -->
                <div data-bind="attr: {size: question.itemSize}, text: item.koValue, css: question.koCss().itemValue"></div>
                <!-- /ko -->
            </td>
        </tr>
    </table>
</script>
