<script type="text/html" id="survey-question-file">
    <div data-bind="css: question.cssClasses.root">
        <!-- ko ifnot: question.koIsReadOnly -->
        <input type="file" data-bind="css: question.cssClasses.fileInput, style: { color: koHasValue() ? 'inherit' : 'transparent' }, attr: {id: question.inputId, 'aria-label': question.locTitle.renderedHtml, multiple: question.allowMultiple ? 'multiple' : undefined, title: koInputTitle, accept: question.acceptedTypes }, event: {change: question.dochange}">
        <!-- ko if: question.koHasValue -->
        <button data-bind="css: question.cssClasses.removeButton, click: question.doclean, text: question.cleanButtonCaption"></button>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: question.koIsReadOnly -->
        <input type="text" readonly data-bind="css: 'form-control ' + question.cssClasses.placeholderInput, attr: { placeholder: question.title }"
        />
        <!-- /ko -->
        <div data-bind="foreach: question.koData, visible: question.koHasValue">
            <img data-bind="attr: { src: $data, height: question.imageHeight, width: question.imageWidth }, visible: question.showPreview, css: question.cssClasses.preview"
                alt="File preview">
        </div>
    </div>
</script>