<script type="text/html" id="survey-question-title">
  <div data-bind="css: question.cssHeader, click: function(m, e) { if(question.clickTitleFunction) return question.clickTitleFunction(e); }">
    <!-- ko component: { name: 'survey-element-title', params: { element: $data } } --><!-- /ko -->
    <!-- ko if: $data.hasDescriptionUnderTitle -->
    <div data-bind="css: $data.cssDescription, visible: $data.hasDescription, attr: {'id': $data.ariaDescriptionId}">
      <!-- ko template: { name: 'survey-string', data: $data.locDescription } --><!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko if: $data.hasAdditionalTitleToolbar -->
    <!-- ko component: { name: 'sv-action-bar', params: { model: $data.additionalTitleToolbar } } --><!-- /ko -->
    <!-- /ko -->
  </div>
</script>