<script type="text/html" id="survey-question-title">
  <div data-bind="css: question.koHeaderClass">
    <h5 data-bind="css: koTitleClass">
        <!-- ko if: no -->
        <span style="position: static;" data-bind="css: koCss().number, text: no"></span>
        <span style="position: static;">.&nbsp</span>
        <!-- /ko -->
        <!-- ko template: { name: 'survey-string', data: locTitle } --><!-- /ko -->

        <!-- ko ifnot: question.getQuestionTitleTemplate() -->
        <span data-bind="css: koCss().requiredText, text: question.requiredText"></span>
        <!-- /ko -->
    </h5>
    <div data-bind="visible: question.hasDescriptionUnderTitle, css: koCss().description">
        <!-- ko template: { name: 'survey-string', data: locDescription } --><!-- /ko -->
    </div>
  </div>
</script>
