<script type="text/html" id="survey-question-radiogroup">

  <fieldset data-bind="css: question.getSelectBaseRootCss(), attr: { 'role': question.a11y_input_ariaRole, 'aria-required': question.a11y_input_ariaRequired, 'aria-labelledby': question.a11y_input_ariaLabelledBy, 'aria-describedby': question.a11y_input_ariaDescribedBy, 'aria-invalid': question.a11y_input_ariaInvalid, 'aria-errormessage': question.a11y_input_ariaErrormessage, 'aria-label': question.a11y_input_ariaLabel }">
    <!-- ko ifnot: question.hasColumns -->
      <!-- ko if: question.blockedRow -->
      <div data-bind="css: question.cssClasses.rootRow">
        <!-- ko foreach: { data: question.dataChoices, as: 'item', afterRender: question.koAfterRender }  -->
        <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: question.itemComponent, data: item } } } -->
        <!-- /ko -->
        <!-- /ko -->
      </div>
      <!-- /ko -->
      <!-- ko ifnot: question.blockedRow -->
      <!-- ko foreach: { data: question.bodyItems, as: 'item', afterRender: question.koAfterRender }  -->
        <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: question.itemComponent, data: item } } } -->
        <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: question.hasColumns -->
      <div data-bind="css: question.cssClasses.rootMultiColumn">

        <!-- ko foreach: question.columns -->
        <div data-bind="css: question.getColumnClass()" role="presentation">
          <!-- ko foreach: { data: $data, as: 'item', afterRender: question.koAfterRender } -->
            <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: question.itemComponent, data: item } } } -->
            <!-- /ko -->
          <!-- /ko -->
        </div>
        <!-- /ko -->
      </div>
    <!-- /ko -->
    <!-- ko if: question.hasFootItems  -->
      <!-- ko foreach: { data: question.footItems, as: 'item', afterRender: question.koAfterRender }  -->
        <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: question.itemComponent, data: item } } } -->
        <!-- /ko -->
      <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: question.hasOther && question.isOtherSelected -->
      <div data-bind="css: question.getCommentAreaCss(true), template: { name: 'survey-other', data: {'question': question, 'visible': question.isOtherSelected } }"></div>
    <!-- /ko -->
    <!-- ko if: question.showClearButtonInContent -->
    <div>
      <input
        type="button"
        data-bind="click:question.clearValue, css: question.cssClasses.clearButton, value: question.clearButtonCaption"
      />
    </div>
    <!-- /ko -->
  </fieldset>
</script>
<script type="text/html" id="survey-radiogroup-item">
  <div role="presentation" data-bind="css: question.getItemClass($data)">
    <label data-bind="css: question.getLabelClass($data), event: { mousedown: question.koMouseDown }">
      <input
        type="radio"
        data-bind="attr: { name: question.questionName, id: question.getItemId($data), 'aria-errormessage': question.ariaErrormessage }, checkedValue: $data.value, checked: question.renderedValue, enable: question.getItemEnabled($data), css: question.cssClasses.itemControl"
      />
      <!-- ko if: question.cssClasses.materialDecorator -->
      <span data-bind="css: question.cssClasses.materialDecorator">
        <!-- ko if: question.itemSvgIcon -->
        <svg data-bind="css:question.cssClasses.itemDecorator">
          <use data-bind="attr:{'xlink:href':question.itemSvgIcon}" xlink:href=''></use>
        </svg>
        <!-- /ko -->
      </span>
      <!-- /ko -->
      <!-- ko if: !$data.hideCaption -->
      <span data-bind="css: question.getControlLabelClass($data)">
        <!-- ko template: { name: 'survey-string', data: $data.locText } -->
        <!-- /ko -->
      </span>
      <!-- /ko -->
    </label>
  </div>
</script>
