<script type="text/html" id="survey-question-boolean">
  <div data-bind="css: question.koCss().root">
      <label data-bind="css: question.getItemCss()">
          <input type="checkbox" data-bind="css: question.koCss().control, attr: {name: question.name, id: question.inputId, 'aria-required': question.isRequired, 'aria-label': question.locTitle.renderedHtml, 'aria-invalid': question.errors.length > 0, 'aria-describedby': question.errors.length > 0 ? question.id + '_errors' : null}, checked: question.checkedValue, surveyProp: {indeterminate: question.isIndeterminate}, enable: !question.isReadOnly"
          />
          <span data-bind="css: question.getUncheckedLabelCss(), click: onFalseLabelClick"><!-- ko template: { name: 'survey-string', data: locLabelFalse } --><!-- /ko --></span>
          <div data-bind="css: question.koCss().switch, click: onSwitchClick">
              <span data-bind="css: question.koCss().slider"></span>
          </div>
          <span data-bind="css: question.getCheckedLabelCss(), click: onTrueLabelClick"><!-- ko template: { name: 'survey-string', data: locLabelTrue } --><!-- /ko --></span>
      </label>
  </div>
</script>
