<script type="text/html" id="survey-question-matrixdropdown">
    <div data-bind="style: {overflowX: question.horizontalScroll? 'scroll': ''}">
        <table data-bind="css: question.survey.css.matrixdropdown.root">
            <thead>
                <tr>
                    <th></th>
                    <!-- ko foreach: question.columns -->
                    <th data-bind="style: { minWidth: question.getColumnWidth($data) }"><!-- ko template: { name: 'survey-string', data: locTitle } --><!-- /ko --></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: { data: question.visibleRows, as: 'row' } -->
                <tr>
                    <td><!-- ko template: { name: 'survey-string', data: row.locText } --><!-- /ko --></td>
                    <!-- ko foreach: row.cells-->
                    <td data-bind="css: question.survey.css.matrixdropdown.itemValue">
                        <!-- ko template: { name: 'survey-question-errors', data: $data.question } -->
                        <!-- /ko -->
                        <!-- ko template: { name: question.koTemplateName(), data: question, as: 'question', afterRender: question.koQuestionAfterRender } -->
                        <!-- /ko -->
                    </td>
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</script>
