<script type="text/html" id="survey-question-boolean">
  <div data-bind="css: question.koCss().root">
    <label data-bind="css: question.getItemCss()">
      <input
        type="checkbox"
        data-bind="value: question.checkedValue, css: question.koCss().control, attr: {name: question.name, id: question.inputId, 'aria-required': question.ariaRequired, 'aria-label': question.ariaLabel, 'aria-invalid': question.ariaInvalid, 'aria-describedby': question.ariaDescribedBy}, checked: question.checkedValue, surveyProp: {indeterminate: question.isIndeterminate}, enable: !question.isInputReadOnly"
      />
      <span
        data-bind="css: question.getLabelCss(false), click: onFalseLabelClick"
        ><!-- ko template: { name: 'survey-string', data: locLabelFalse } --><!-- /ko --></span
      >
      <div data-bind="css: question.koCss().switch, click: onSwitchClick">
        <span data-bind="css: question.koCss().slider">
            <!-- ko if: question.koCss().sliderText && question.isDeterminated -->
            <span data-bind="css: question.koCss().sliderText">
              <!-- ko template: { name: 'survey-string', data: question.getCheckedLabel() } --><!-- /ko -->
            </span>
            <!-- /ko -->
        </span>
      </div>
      <span
        data-bind="css: question.getLabelCss(true), click: onTrueLabelClick"
        ><!-- ko template: { name: 'survey-string', data: locLabelTrue } --><!-- /ko --></span
      >
    </label>
  </div>
</script>