<script type="text/html" id="survey-question-imagepicker">
    <fieldset data-bind="css: question.getSelectBaseRootCss()">
        <legend class="sv-hidden" data-bind="text: question.locTitle.renderedHtml"></legend>
        <!-- ko ifnot: question.hasColumns -->
        <!-- ko foreach: { data: question.visibleChoices, as: 'item', afterRender: question.koAfterRender}  -->
        <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: 'survey-imagepicker-item', data: item } } } -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: question.hasColumns -->
        <!-- ko foreach: question.columns -->
        <div data-bind="css: question.getColumnClass()" role="presentation">
            <!-- ko foreach: { data: $data, as: 'item', afterRender: question.koAfterRender }  -->
            <!-- ko component: { name: question.getItemValueWrapperComponentName(item), params: { componentData:  question.getItemValueWrapperComponentData(item), templateData: { name: 'survey-imagepicker-item', data: item } } } -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </fieldset>
</script>
<script type="text/html" id="survey-imagepicker-item">
    <div data-bind="css: question.koGetItemClass(item)">
        <label data-bind="css: question.cssClasses.label">
            <input data-bind="attr: {type: question.inputType, name: question.questionName, value: item.value, id: question.getItemId(item), 'aria-required': question.ariaRequired, 'aria-label': question.ariaLabel, 'aria-invalid': question.ariaInvalid, 'aria-errormessage': question.ariaErrormessage}, checked: question.koValue, enable: question.getItemEnabled(item), css: question.cssClasses.itemControl"
            />
            <div data-bind="css: question.cssClasses.itemDecorator">
                <div data-bind="css: question.cssClasses.imageContainer">
                  <!-- ko if: question.cssClasses.checkedItemDecorator -->
                  <span data-bind="css: question.cssClasses.checkedItemDecorator">
                    <!-- ko if: question.cssClasses.checkedItemSvgIconId -->
                    <!-- ko component: { name: 'sv-svg-icon', params: { css: question.cssClasses.checkedItemSvgIcon, iconName: question.cssClasses.checkedItemSvgIconId, size: 'auto' } } -->
                    <!-- /ko -->
                    <!-- /ko -->
                   </span>
                  <!-- /ko -->
                  <!-- ko if: ($data.locImageLink.koRenderedHtml() && !$data.contentNotLoaded && question.contentMode === "image") -->
                  <img data-bind="css: question.cssClasses.image, attr: { src: $data.locImageLink.koRenderedHtml, width: question.renderedImageWidth, height: question.renderedImageHeight, alt: item.locText.koRenderedHtml }, style: { objectFit: question.imageFit }, event: { load: question.onContentLoaded, error: $data.onErrorHandler }"/>
                  <!-- /ko -->
                  <!-- ko if: ($data.locImageLink.koRenderedHtml() && !$data.contentNotLoaded && question.contentMode === "video") -->
                  <video controls data-bind="css: question.cssClasses.image, attr: { src: $data.locImageLink.koRenderedHtml, width: question.renderedImageWidth, height: question.renderedImageHeight }, style: { objectFit: question.imageFit }, event: { loadedmetadata: question.onContentLoaded, error: $data.onErrorHandler }"></video>
                  <!-- /ko -->
                  <!-- ko if: (!$data.locImageLink.koRenderedHtml() || $data.contentNotLoaded) -->
                  <div data-bind="css: question.cssClasses.itemNoImage, style: { width: question.renderedImageWidth, height: question.renderedImageHeight, objectFit: question.imageFit}">
                    <!-- ko component: { name: 'sv-svg-icon', params: { css: question.cssClasses.itemNoImageSvgIcon, iconName: question.cssClasses.itemNoImageSvgIconId, size: 48 } } --><!-- /ko -->
                  </div>
                  <!-- /ko -->
                  
                </div>
                <!-- ko if: question.showLabel -->
                <span data-bind="css: question.cssClasses.itemText">
                  <!-- ko template: { name: 'survey-string', data: item.locText } -->
                  <!-- /ko -->
                </span>
                <!-- /ko -->
            </div>
        </label>
    </div>
</script>