<script type="text/html" id="survey-question-paneldynamic">
  <div data-bind="css: question.cssClasses.root">
    <!-- ko if: question.getShowNoEntriesPlaceholder() -->
      <div data-bind="css: question.cssClasses.noEntriesPlaceholder">
        <span>
          <!-- ko template: { name: 'survey-string', data: locNoEntriesText } --><!-- /ko -->
        </span>
          <!-- ko component: { name: 'sv-paneldynamic-add-btn', params: { question: question }} -->
          <!-- /ko -->
        </div>
    <!-- /ko -->
    <!-- ko if: question.koIsList() -->
    <div data-bind="css: question.cssClasses.panelsContainer">
      <!-- ko foreach: { data: question.renderedPanels } -->
        <div data-bind="css: question.getPanelWrapperCss($data)">
          <!-- ko let: { question: $data } -->
            <!-- ko component: { name: survey.getElementWrapperComponentName(question), params: { componentData:  survey.getElementWrapperComponentData(question), templateData: { name: question.koElementType, data: question, afterRender: $parent.koPanelAfterRender } } } -->
            <!-- /ko -->
          <!-- /ko -->
          <!-- ko if: question.panelRemoveButtonLocation === 'right' && question.koCanRemovePanel() && $data.state != 'collapsed'-->
            <!-- ko component: { name: 'sv-paneldynamic-remove-btn', params: { question: question, panel: $data } } -->
            <!-- /ko -->
          <!-- /ko -->
          
        </div>
        <!-- ko if: question.showSeparator($index()) -->
        <hr data-bind="css: question.cssClasses.separator"/>
        <!-- /ko -->
      <!-- /ko -->
      </div>
      <!-- ko if: question.showLegacyNavigation -->
        <!-- ko component: { name: 'sv-paneldynamic-add-btn', params: { question: question }} --><!-- /ko -->
      <!-- /ko -->
    <!-- /ko -->
    <!-- ko ifnot: question.koIsList()  -->
      <!-- ko if: question.koIsProgressTop-->
        <!-- ko if: !question.showLegacyNavigation && question.koIsRange -->
          <!-- ko template: { name: 'survey-question-paneldynamic-progress', data: question, as: 'question'} -->
          <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: question.showLegacyNavigation -->
        <div data-bind="css: question.cssClasses.progressTop">
          <!-- ko template: { name: 'survey-question-paneldynamic-navigator', data: question, as: 'question'} -->
          <!-- /ko -->
        </div>
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: question.koPanel() -->
      <div data-bind="css: question.cssClasses.panelsContainer">
        <!-- ko foreach: { data: question.renderedPanels } -->
          <div data-bind="css: question.getPanelWrapperCss($data)">
          <!-- ko let: { question: $data } -->
            <!-- ko component: { name: question.survey.getElementWrapperComponentName(question), params: { componentData:  question.survey.getElementWrapperComponentData(question), templateData: { name: question.koElementType, data: question, afterRender: $parent.koPanelAfterRender } } } -->
            <!-- /ko -->
          <!-- /ko -->
          <!-- ko if: question.panelRemoveButtonLocation === 'right'-->
            <!-- ko template: { name: 'survey-question-paneldynamic-remove-btn', data: { question: question, panel: question.koPanel() }, as: 'question'} -->
            <!-- /ko -->
          <!-- /ko-->
          </div>
         <!-- /ko -->
      </div>
      <!-- /ko -->
      <!-- ko if: question.showLegacyNavigation && question.koIsProgressBottom--> 
      <div data-bind="css: question.cssClasses.progressBottom">
        <!-- ko template: { name: 'survey-question-paneldynamic-navigator', data: question, as: 'question'} -->
        <!-- /ko -->
      </div>
      <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: question.showNavigation -->
    <div data-bind="css: question.cssClasses.footer">
      <hr data-bind="css: question.cssClasses.separator"/>
      <!-- ko if: question.koIsRange() && question.koIsProgressBottom -->
         <!-- ko template: { name: 'survey-question-paneldynamic-progress', data: question, as: 'question'} -->
         <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: question.footerToolbar.visibleActions.length -->
      <div data-bind="css: question.cssClasses.footerButtonsContainer">
        <!-- ko component: { name: "sv-action-bar", params: { model: question.footerToolbar } } -->
        <!-- /ko -->
      </div>
      <!-- /ko -->
    </div>
    <!-- /ko -->
  </div>
</script>