<script type="text/html" id="survey-question-paneldynamic-navigator">
  <div style="clear: both;">
        <div data-bind="css: question.koCss().progressContainer">
          <div data-bind="title: question.panelPrevText, click: question.koPrevPanelClick">
            <svg viewBox="0 0 10 10" data-bind="css: question.koPrevButtonCss">
              <polygon points="2,2 0,4 5,9 10,4 8,2 5,5 " />
            </svg>
          </div>

          <!-- ko if: question.koIsRange -->
          <div data-bind="css: question.koCss().progress">
            <div
              data-bind="css: question.koCss().progressBar, style: { width: question.koProgress }"
              role="progressbar"
            ></div>
          </div>
          <!-- /ko -->

          <div data-bind="title: question.panelNextText, click: question.koNextPanelClick">
            <svg viewBox="0 0 10 10" data-bind="css: question.koNextButtonCss">
              <polygon points="2,2 0,4 5,9 10,4 8,2 5,5 " />
            </svg>
          </div>
        </div>

        <button type="button" data-bind="visible: question.koCanAddPanel, click: question.koAddPanelClick, css: question.koAddButtonCss">
          <span data-bind="css: question.koCss().buttonAddText, text: question.panelAddText"></span>
        </button>

        <div data-bind="text: question.koProgressText, css: question.koCss().progressText"></div>
      </div>
</script>