<script type="text/html" id="survey-question-dropdown">
  <div data-bind="css: question.renderCssRoot">
    <!-- ko ifnot: question.isReadOnly -->
    <div data-bind="css: question.koCss().selectWrapper">
      <select
      data-bind="if: true, attr: {id: question.inputId, autoComplete: question.autoComplete, required: question.isRequired, 'aria-required': question.ariaRequired, 'aria-label': question.ariaLabel, 'aria-invalid': question.ariaInvalid, 'aria-describedby': question.ariaDescribedBy}, disable: question.isInputReadOnly, value: question.renderedValue, valueAllowUnset: true, css: question.getControlClass()">
      <!-- ko if: question.showOptionsCaption -->
      <option data-bind="text:question.locOptionsCaption.koRenderedHtml, value: null"></option>
      <!-- /ko -->
      <!-- ko foreach: question.visibleChoices -->
      <option data-bind="value: $data.value, text: $data.text, attr: { disabled: !$data.isEnabled }"></option>
      <!-- /ko -->
      </select>
    </div>
    <!-- /ko -->
    <!-- ko if: question.isReadOnly -->
      <div disabled
      data-bind="attr: {id: question.inputId}, text: question.readOnlyText, css: question.getControlClass()">
      </div>
    <!-- /ko -->
  <!-- ko if: question.isOtherSelected -->
  <div class="form-group"
    data-bind="template: { name: 'survey-comment', data: {'question': question, 'visible': question.isOtherSelected } }, style: {display: question.isFlowLayout ? 'inline': ''}">
  </div>
  <!-- /ko -->
  </div>
</script>
