<script type="text/html" id="survey-question-multipletext">
  <table data-bind="css: question.getQuestionRootCss()">
    <tbody data-bind="foreach: { data:  question.getRows(), as: 'row' }">
      <!-- ko if: row.isVisible -->
      <tr data-bind="foreach: { data: row.cells, as: 'cell' }, css: question.cssClasses.row">
        <td data-bind="css: cell.className">  
          <!-- ko ifnot: cell.isErrorsCell -->
          <label data-bind="css: question.getItemLabelCss(item)">
              <span data-bind="css: question.koItemTitleCss, style: {  minWidth: question.itemTitleWidth, width: question.itemTitleWidth }">
                <!-- ko component: { name: 'survey-element-title-content', params: {element: cell.item.editor} } --><!-- /ko -->
              </span>
              <div data-bind="css: question.koItemCss, event: {focusin: cell.item.focusIn }">
                <!-- ko template: { name: item.editor.koTemplateName(), data: cell.item.editor, as: 'question', afterRender: cell.item.editor.koQuestionAfterRender } -->
                <!-- /ko -->
              </div>
          </label>
          <!-- /ko -->
          <!-- ko if: cell.isErrorsCell -->
            <!-- ko template: { name: 'survey-question-errors', data: cell.item.editor, as: 'question' } -->
            <!-- /ko -->
          <!-- /ko -->
        </td>
      </tr>
      <!-- /ko -->
    </tbody>
  </table>
</script>
