<script type="text/html" id="survey-question">
<div data-bind="css: question.getRootCss(), style: question.getRootStyle(), attr: { id: question.id, 'data-name': question.name, role: question.ariaRole, 'aria-required': question.ariaRequired, 'aria-invalid': question.ariaInvalid, 'aria-labelledby': question.ariaLabelledBy, 'aria-describedby':question.ariaDescribedBy, 'aria-expanded': question.ariaExpanded}">
  <!-- ko if: question.showErrorsAboveQuestion -->
    <!-- ko template: { name: 'survey-question-errors', data: question } -->
    <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: question.hasTitleOnLeftTop -->
    <!--ko template: { name: 'survey-question-title', data: question  } -->
    <!-- /ko -->
  <!-- /ko -->
  <!-- ko component: { name: question.survey.getQuestionContentWrapperComponentName(question), params: { componentData:  question.survey.getElementWrapperComponentData(question), templateData: { name: 'survey-question-content', data: question } } } -->
  <!-- /ko -->
  <!-- ko if: question.hasTitleOnBottom -->
    <!--ko template: { name: 'survey-question-title', data: question  } -->
    <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: question.showErrorsBelowQuestion -->
    <!-- ko template: { name: 'survey-question-errors', data: question } -->
    <!-- /ko -->
  <!-- /ko -->
</div>
</script>
