<script type="text/html" id="survey-question-paneldynamic">
  <div data-bind="css: question.koCss().root">
    <!-- ko if: question.getShowNoEntriesPlaceholder() -->
      <div data-bind="css: question.koCss().noEntriesPlaceholder">
        <span>
          <!-- ko template: { name: 'survey-string', data: locNoEntriesText } --><!-- /ko -->
        </span>
        <!-- ko template: { name: 'survey-question-paneldynamic-add-btn', data: question, as: 'question'} --><!-- /ko -->
      </div>
    <!-- /ko -->
    <!-- ko if: question.koIsList() -->
      <!-- ko foreach: { data: question.panels } -->
        <div data-bind="css: question.getPanelWrapperCss()">
          <!-- ko let: { question: $data } -->
            <!-- ko component: { name: survey.getElementWrapperComponentName(question), params: { componentData:  survey.getElementWrapperComponentData(question), templateData: { name: question.koElementType, data: question, afterRender: $parent.koPanelAfterRender } } } -->
            <!-- /ko -->
          <!-- /ko -->
          <!-- ko template: { name: 'survey-question-paneldynamic-remove-btn', data: { question: question, panel: $data} } -->
          <!-- /ko -->
        </div>
        <hr data-bind="css: question.koCss().separator"/>
      <!-- /ko -->
      <button type="button" data-bind="visible: question.koCanAddPanel, click: question.koAddPanelClick, css: question.koAddButtonCss">
        <span data-bind="css: question.koCss().buttonAddText, text: question.panelAddText"></span>
      </button>
    <!-- /ko -->
    <!-- ko ifnot: question.koIsList()  -->
      <div data-bind="visible:question.koIsProgressTop, css: question.koCss().progressTop">
        <!-- ko template: { name: 'survey-question-paneldynamic-navigator', data: question, as: 'question'} -->
        <!-- /ko -->
      </div>
      <!-- ko if: question.koPanel() -->
      <div data-bind="css: question.getPanelWrapperCss()">
            <!-- ko let: { question: question.koPanel() } -->
            <!-- ko component: { name: question.survey.getElementWrapperComponentName(question), params: { componentData:  question.survey.getElementWrapperComponentData(question), templateData: { name: question.koElementType, data: question, afterRender: $parent.koPanelAfterRender } } } -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko template: { name: 'survey-question-paneldynamic-remove-btn', data: { question: question, panel: question.koPanel() }, as: 'question'} -->
            <!-- /ko -->
      </div>
      <!-- /ko -->
      <div data-bind="visible:question.koIsProgressBottom,  css: question.koCss().progressBottom">
        <!-- ko template: { name: 'survey-question-paneldynamic-navigator', data: question, as: 'question'} -->
        <!-- /ko -->
      </div>
    <!-- /ko -->
    <!-- ko if: !!question.koCss().footer && !!question.panelCount != 0 -->
    <div data-bind="css: question.koCss().footer">
      <!-- ko if: question.koIsRange() && question.koIsProgressBottom -->
         <!-- ko template: { name: 'survey-question-paneldynamic-progress', data: question, as: 'question'} -->
         <!-- /ko -->
      <!-- /ko -->
      <hr data-bind="css: question.koCss().separator"/>
      <div data-bind="css: question.koCss().footerButtonsContainer">
        <!-- ko template: { name: 'survey-question-paneldynamic-add-btn', data: question, as: 'question'} -->
        <!-- /ko -->
        <!-- ko ifnot: question.koIsList -->
        <div data-bind="css: question.koCss().progressContainer">
          <!-- ko template: { name: 'survey-question-paneldynamic-prev-btn', data: question, as: 'question'} -->
          <!-- /ko -->
          <div data-bind="text: question.koProgressText, css: question.koCss().progressText"></div>
          <!-- ko template: { name: 'survey-question-paneldynamic-next-btn', data: question, as: 'question'} -->
          <!-- /ko -->
        </div>
        <!-- /ko -->
      </div>
    </div>
    <!-- /ko -->
  </div>
</script>

<script type="text/html" id="survey-question-paneldynamic-remove-btn">
  <button type="button"
    data-bind="visible: question.koCanRemovePanel() && panel.state != 'collapsed', click: () => { question.koRemovePanelClick(panel) }, css: question.getPanelRemoveButtonCss()">
    <span data-bind="css: question.koCss().buttonRemoveText, text: question.panelRemoveText"></span>
    <span data-bind="css: question.koCss().iconRemove"></span>
  </button>
</script>