<script type="text/html" id="survey-question-text">
  <!--ko if: !question.dataListId && !question.isReadOnlyRenderDiv()-->
    <!-- ko template: { name: 'survey-question-text-input' } --><!-- /ko -->
  <!--/ko-->
  <!--ko if: question.dataListId && !question.isReadOnlyRenderDiv()-->
  <div>
    <!-- ko template: { name: 'survey-question-text-input' } --><!-- /ko -->
    <datalist data-bind="attr: {id: question.dataListId}">
    <!-- ko foreach: question.dataList -->
      <option data-bind="value:$data"></option>
    <!--/ko-->
    </datalist>
  </div>
  <!--/ko-->
  <!--ko if: question.isReadOnlyRenderDiv() -->
  <div data-bind="text: question.koReadOnlyValue"></div>
  <!--/ko-->
</script>
<script type="text/html" id="survey-question-text-input">
  <input
  data-bind="disable: question.isInputReadOnly, 
    style: question.inputStyle, 
    attr: { type: question.inputType, size: question.renderedInputSize, id: question.inputId, placeholder: question.renderedPlaceholder, maxLength: question.getMaxLength(), min: question.renderedMin, max: question.renderedMax, step: question.renderedStep, 'aria-required': question.a11y_input_ariaRequired, 'aria-invalid': question.ariaInvalid, 'aria-label': question.a11y_input_ariaLabel, 'aria-labelledby': question.a11y_input_ariaLabelledBy, 'aria-describedby': question.a11y_input_ariaDescribedBy, 'aria-invalid': question.a11y_input_ariaInvalid, 'aria-errormessage': question.a11y_input_ariaErrormessage, autocomplete: question.autocomplete, list:question.dataListId }, 
    event: { keydown: koOnKeyDown, keyup: koOnKeyUp, change: koOnChange, compositionupdate: koOnCompositeUpdate, blur: koOnBlur, focus: koOnFocus },
    value: question.koReadOnlyValue,
    css: question.getControlClass()"/>
  <!--ko if: question.getMaxLength() -->
  <!-- ko component: { name: 'sv-character-counter', params: { counter: question.characterCounter, remainingCharacterCounter: question.cssClasses.remainingCharacterCounter } } -->
  <!-- /ko -->
  <!--/ko-->
</script>