<script type="text/html" id="survey-row">
  <div data-bind="css: row.getRowCss()">
    <!-- ko template: { name: "survey-row-content", afterRender: row.rowAfterRender } -->
    <!-- /ko -->
  </div>
</script>
<script type="text/html" id="survey-row-content">
<!-- ko foreach: { data: row.visibleElements, as: 'question', afterRender: row.koAfterRender } -->
  <div data-bind="css: question.cssClasses.questionWrapper, style: $data.rootStyle">
  <!-- ko if: row.isNeedRender -->
    <!-- ko component: { name: row.panel.survey.getElementWrapperComponentName(question), params: { componentData:  row.panel.survey.getElementWrapperComponentData(question), templateData: { name: question.koElementType, data: question, afterRender: $parent.koElementAfterRender } } } -->
    <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: !row.isNeedRender && question.skeletonComponentName -->
    <!-- ko component: { name: question.skeletonComponentName, params: { element: question } } -->
    <!-- /ko -->
  <!-- /ko -->
  </div>
<!-- /ko -->
</script>