<script type="text/html" id="survey-timerpanel">
    <!-- ko if: isRunning && showTimerAsClock -->
    <div data-bind="css: rootCss">
        <!-- ko if: showProgress -->
        <svg data-bind="css: getProgressCss(), style: { strokeDasharray: 440, strokeDashoffset: -440 * progress }">
            <use data-bind="attr:{'xlink:href': '#icon-timercircle'}" xlink:href=''></use>
        </svg>
        <!-- /ko -->
        <div data-bind="css: textContainerCss">
            <span data-bind="css: majorTextCss, text: clockMajorText"></span>
            <!-- ko if: !!minorTextCss -->
            <span data-bind="css: minorTextCss, text: clockMinorText"></span>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isRunning && !showTimerAsClock -->
    <div data-bind="css: survey.getCss().timerRoot, text: text"></div>
    <!--/ko -->
</script>
