<div style="position: fixed; bottom: 3px; right: 10px;" data-bind="css: cssRoot, style:{width: renderedWidth, maxWidth: renderedWidth}">
    <div data-bind="css: cssHeaderRoot">
        <span data-bind="click:doExpand" style="width: 100%; cursor: pointer;">
            <span style="padding-right:10px" data-bind="css: cssHeaderTitle, text: locTitle.koRenderedHtml"></span>
            <span aria-hidden="true" data-bind="css: cssButton"></span>
        </span>
        <span data-bind="visible:isExpanded, click:doExpand" style="float: right; cursor: pointer;">
            <span style="padding-right:10px" data-bind="css: cssHeaderTitle">X</span>
        </span>
    </div>
    <div data-bind="visible:isExpanded, css: cssBody">
        <survey params="survey: survey"></survey>
    </div>
</div>