<div data-bind="css: cssRoot, style:{width: renderedWidth, maxWidth: renderedWidth}, event: { scroll: $data.onScroll }">
    <div data-bind="css: cssRootContent">
        <div data-bind="css: cssHeaderRoot, {cssRootCollapsedMod: isCollapsed}">

            <!-- ko if: isCollapsed && !!locTitle -->  
            <div data-bind="css: cssHeaderTitleCollapsed, text: locTitle.koRenderedHtml"></div>
            <!-- /ko -->
    
            <div data-bind="css: cssHeaderButtonsContainer">
                <!-- ko if: allowFullScreen -->      
                <div data-bind="click:doToggleFullScreen, css: cssHeaderFullScreenButton">
                    <!-- ko if: isFullScreen-->  
                    <!-- ko component: { name: 'sv-svg-icon', params: { iconName: 'icon-back-to-panel_16x16', size: '16' } } --><!-- /ko -->
                    <!-- /ko -->
                    
                    <!-- ko if: !isFullScreen-->  
                    <!-- ko component: { name: 'sv-svg-icon', params: { iconName: 'icon-full-screen_16x16', size: '16' } } --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                <div data-bind="click:doExpand, css: cssHeaderCollapseButton">
                    <!-- ko if: isExpanded-->  
                    <!-- ko component: { name: 'sv-svg-icon', params: { iconName: 'icon-minimize_16x16', size: '16' } } --><!-- /ko -->
                    <!-- /ko -->
                    
                    <!-- ko if: isCollapsed-->  
                    <!-- ko component: { name: 'sv-svg-icon', params: { iconName: 'icon-restore_16x16', size: '16' } } --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <!-- ko if: allowClose -->      
                <div data-bind="click:doHide, css: cssHeaderCloseButton">
                <!-- ko component: { name: 'sv-svg-icon', params: { iconName: 'icon-close_16x16', size: '16' } } --><!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div data-bind="visible:isExpanded, css: cssBody">
            <survey params="survey: survey"></survey>
        </div>
    </div>
</div>